/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/
@media (min-width: 768px) {
  .close-filter {
    display: none !important;
  }
}
@media (min-width:992px) {
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    display: flex;
    align-items: center;
  }
  .desk-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
  .menu-right .wishlist-header,
  .menu-right .profile-header {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1360px) {
  .blog-grid-section .blog-itm {
    max-width: 33.33%;
    width: 100%;
  }
}
@media screen and (max-width:1360px) {
  .hero-toltip {
    display: none;
  }
  .home-banner-bg {
    display: none;
  }
}
@media screen and (max-width:1260px) {
  .footer-bottom {
    padding-top: 30px;
  }
  .footer-link .contactlink {
    font-size: 18px;
  }
  .offset-left {
    margin-right: 0;
    padding: 0 15px;
  }
  .offset-right {
    margin-left: 0;
    padding: 0 15px;
  }
  .article-section .blog-slider {
    margin-bottom: 0;
  }
  .site-footer.home-page {
    padding: 60px 0 35px 0;
  }
  .home-banner-section .offset-left {
    padding-right: 15px;
  }

}
@media screen and (max-width:1199px) {
  :root {
    --h1: normal 700 40px/1.2 var(--first-font);
    --h2: normal 700 32px/1.2 var(--first-font);
    --h3: normal 700 26px/1.2 var(--first-font);
    --h4: normal 700 20px/1.2 var(--first-font);
    --h5: normal 700 18px/1.2 var(--first-font);
    --h6: normal 700 16px/1.2 var(--first-font);
  }
  .desk-only.icon-lable {
    display: none !important;
  }
  .announce-row ul li {
    padding-left: 18px;
  }
  .header-style-one .announcebar p {
    justify-content: center;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    padding-left: 10px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-left: 15px;
  }
  .header-style-one .main-navigationbar .menu-items-col .menu-right .profile-menu .menu-lnk:first-of-type {
    padding-left: 10px;
  }
  .header-style-one .menu-right li>a.btn {
    padding: 0;
    background: transparent;
  }
  .header-style-one .menu-right li.cart-header a svg path {
    fill: var(--black);
  }
  .cart-badge span {
    left: auto;
    top: -20px;
    height: 17px;
    width: 17px;
    right: -100px;
  }
  .header-style-one .menu-right li>a {
    padding-left: 0;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    padding-right: 10px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a {
    padding-left: 15px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li>.category-btn {
    padding: 8px 10px;
  }
  .header-style-one .menu-right>li:not(:last-of-type) {
    margin-left: 10px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li>.category-btn svg {
    margin-right: 6px;
  }
  .footer-col {
    padding-right: 20px;
  }
  .product-filter-right-column .bestseller-btn-group {
    margin-top: 10px;
  }
  .header-style-one .main-navigationbar .menu-right-two .profile-menu ul li{
    padding-right: 0px !important;
      padding-left: 0px !important;
  }
  .header-style-one .main-navigationbar .menu-right-two .profile-menu ul{
    padding-right: 0px !important;
  }
  /* ****** HOME PAGE CSS ***** */
  .bestdeller-radio-btn {
    display: block;
  }
  .bestseller-btn-group {
    margin-top: 10px;
  }
  .offer-bestseller-section .bestseller-card-inner {
    flex-direction: column-reverse;
  }
  .offer-bestseller-section .bestseller-img {
    margin-bottom: 26px;
  }
  .offer-bestseller-section .bestseller-card-inner {
    padding: 15px;
  }
  .profile-menu {
    margin-left: 0;
    padding-left: 0;
  }
  .profile-menu .main-nav {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  /* ************ 20-7-2023 ************** */
  .testimonials-img svg {
    width: 37px;
    height: 37px;
  }
  .header-style-one .announcebar p,
  .header-style-one .announcebar a {
    font-size: 12px;
  }
  .three-col-category-section .add-banner::after,
  .add-banner-section .add-banner::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    border-radius: 20px;
    background: #0000004d;
  }
  .add-banner-column {
    z-index: 1;
    position: relative;
  }
  .add-banner-column p {
    color: #fff;
  }
  .add-banner-card h3 {
    color: #fff;
  }
  .text-checkbox .checkbox input[type=checkbox]+.checkbox-label {
    padding: 9px 8px;
  }
  .select-col p {
    font-size: 12px;
  }
  .checkout-page .mini-cart-item .remove_item_from_cart {
    padding: 10px 10px;
  }
}
@media screen and (max-width:991px) {
  :root {
    --h1: normal 700 36px/1 var(--first-font);
    --common-text: normal 400 14px/1.4 var(--first-font);
  }
  .header-style-one .announcebar {
    display: none !important;
  }
  .header-style-one .main-navigationbar {
    border-bottom: 1px solid var(--border-color);
  }
  .header-style-one .mobile-menu .mobile-menu-button {
    width: 100%;
  }
  .header-style-one.head-sticky,
  .header-style-one {
    background: var(--white);
  }
  .navigationbar-row {
    padding-right: 0;
  }
  .header-style-one .mobile-menu {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 22px;
    height: 22px;
    margin: 0 20px 0 0;
  }
  .style-two .menu-right:after {
    display: none;
  }
  .display-align {
    padding: 10px 0;
  }
  .header-style-one .main-navigationbar .menu-items-col {
    align-items: center;
    justify-content: flex-end;
    padding: 12px 0;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    padding-right: 15px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-left: 15px;
  }
  .header-style-one.dark-header .menu-right li {
    padding: 15px 0;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li {
    padding: 15px 0;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a {
    padding-left: 15px;
  }
  .header-style-one .menu-right li a span {
    font-size: 11px;
  }
  .header-style-one .count {
    top: -21px;
    left: -8px;
  }
  .footer-col:not(:last-of-type) {
    padding-left: 10px;
  }
  .pro-swatch {
    font-size: 10px;
  }
  .footer-col:not(:first-of-type) {
    padding-right: 80px;
  }
  .footer-subscribe-col {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
  }
  .padding-top {
    padding-top: 40px;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  .inner-page-card.blog-page-tab.outfit-section {
    padding-top: 40px;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget-inner {
    padding: 25px 15px;
  }
  .blog-widget-inner.big-blog-widget {
    padding: 35px 15px 25px;
  }
  .blog-widget-inner p {
    margin: 12px 0;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 10px;
    font-size: 10px;
  }
  .blog-grid-row .blog-content-top h4 {
    font-weight: 600;
  }
  /********* BLOG PAGE CSS end  **********/
  /********** CART PAGE CSS starts **********/
  .cart-summery {
    margin-top: 30px;
  }
  .cart-summery .btn {
    max-width: 300px;
    margin-right: auto;
  }
  /********** CART PAGE CSS end **********/
  .submit-btn {
    max-width: 200px;
    margin: 20px 0 0;
  }
  .forgot-pass-btn {
    max-width: 100%;
  }
  .article-banner .blog-cat {
    margin: 20px 0;
  }
  .art-auther {
    margin-bottom: 15px;
  }
  .quote-box {
    padding: 15px 60px 25px 0;
  }
  .quote-box h3 {
    font-size: 15px;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
    margin-bottom: 26px;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-history-tbl tr td {
    padding: 15px 10px 15px;
  }
  .order-confirm-details .link {
    font-size: 13px;
  }
  .order-confirm-details {
    padding: 20px 12px;
  }
  .acc-back-btn-wrp button {
    padding: 10px 20px;
  }
  #tab-6 .order-confirmation-body {
    padding: 20px 10px;
  }
  #tab-6 .order-confirmation-body .order-history-tbl tr td {
    padding: 15px 4px 15px;
  }
  .ttl-pric {
    font-size: 16px;
  }
  .checkout-page-right {
    max-width: 300px;
    width: 100%;
  }
  .checkout-page-left {
    margin-bottom: 25px;
  }
  /** ORDER SUMMERY PAGE  START **/
  .order-summery-page .section-title p {
    font-size: 15px;
    margin: 0;
  }
  /** ORDER SUMMERY PAGE START  **/
  /** HOME PAGE CSS START  **/
  .banner-left-col {
    width: 100%;
  }
  .add-banner-card {
    margin-bottom: 20px;
  }
  .three-col-category-section::after {
    display: none;
  }
  .offer-bestseller-section .bestseller-content {
    padding-left: 0;
  }
  /* ******************* 20-7-2023 ***************** */
  .header-style-one .logo-col img {
    filter: brightness(0);
  }
  .profile-menu {
    display: none !important;
  }
  .category-bg {
    padding: 40px 0 40px 25px;
  }
  .footer-subscribe-col.footer-contact {
    max-width: 260px;
    flex: 0 0 266px;
    padding-right: 0 !important;
  }
  .footer-subscribe-col {
    margin-top: 15px;
  }
  .footer-contact {
    margin-top: 0;
  }
  .pdp-cart-btn-wrp {
    margin-top: 25px;
    gap: 10px;
  }

  .pdp-subscribe-sec {
    padding-bottom: 0px;
  }
  .product-filter-column {
    position: fixed;
    top: 0;
    background: var(--white);
    right: 0;
    max-width: 315px;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(-100%, 0px);
    transform: translate(100%, 0px);
    padding: 0 !important;
  }
  .product-filter-body {
    padding: 40px 15px;
    overflow: auto;
    height: 100%;
    background: var(--black);
  }

  .close-filter {
    position: absolute;
    top: 0;
    background: var(--second-color);
    height: 30px;
    width: 30px;
    padding: 7px;
    left: 0;
    cursor: pointer;
  }
  .close-filter svg {
    height: 100%;
    width: 100%;
  }
  .close-filter svg path {
    fill: var(--black);
  }
  .filter-open .product-filter-column {
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .product-heading-right-column {
    border-right: 0;
  }
  .filter-title .filter-ic {
    display: block;
    max-width: 40px;
    width: 100%;
    border: 1px solid #65fecc;
    padding: 2px;
  }
  .filter-title h4 {
    display: none;
  }
  .product-heading-row .row {
    padding: 20px 0 20px;
  }
  .close-filter {
    display: block !important;
  }
  .pagination {
    margin-top: 15px;
  }
  .about-us-div:first-of-type {
    margin-bottom: 40px;
  }
  .about-us-div:last-of-type .row {
    margin-top: 40px;
  }
  .policy-page.cms-page {
    margin-bottom: 0px;
  }
  .blog-cat li:nth-child(2),
  .blog-cat li:nth-child(3) {
    padding: 10px 5px;
  }
  .faqs-container.row {
    margin-bottom: 0px;
  }
  .cart-summery .btn {
    margin: 0 auto;
  }
  .cart-page-section {
    padding-top: 40px;
  }

  .cart-tble tr th:nth-child(4), .cart-tble tr td:nth-child(4) {
    width: 100px;
    padding-left: 9px;
}
.cart-tble tr th:nth-child(2), .cart-tble tr td:nth-child(2) {
  width: 200px;
}
}
@media screen and (max-width:767px) {
  .header-style-one.dark-header .menu-right li,
  .header-style-one .menu-right li {
    padding: 0;
  }
  .header-style-one .main-navigationbar .menu-items-col {
    justify-content: flex-end;
  }
  .header-style-one .menu-right li a .icon-lable {
    display: none !important;
  }
  .header-style-one .menu-right {
    justify-content: flex-end;
    align-items: center;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 80px;
  }
  .header-style-one .main-navigationbar .menu-items-col {
    padding: 0;
  }
  .display-align {
    padding: 15px 0;
  }
  .header-style-one .count {
    right: -32px;
  }
  .header-style-one .menu-right li {
    flex: unset;
  }
 
  .header-style-one .menu-right li:not(:last-of-type) a {
    height: auto;
    width: auto;
    border: none;
  }
  .header-style-one .menu-right li a svg {
    height: 20px;
    width: 20px;
  }
  .header-style-one .menu-right li:last-of-type button,
  .header-style-one .menu-right li>* {
    display: block;
    border: none;
  }
  .header-style-one .menu-right li:last-of-type {
    width: auto;
    max-width: initial;
  }
  .mobile-menu-wrapper .mobile-menu-bar>ul>li a {
    color: var(--theme-color);
  }
  .header-style-one .menu-right .cart-header  a{
    font-size:0;
  }
  .mobile-menu-wrapper .mobile-menu-bar>ul>li a svg path {
    fill: var(--theme-color);
  }
  .header-style-one .mobile-menu {
    margin: 0 10px 0 0;
  }
  .mobile-menu-wrapper .menu-close-icon {
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    justify-content: flex-start;
    text-align: left;
    padding: 10px 20px;
    background: var(--theme-color);
    width: 100%;
  }
  .header-style-one.dark-header .count {
    background: var(--second-color);
    color: var(--theme-color);
  }
  .footer-bottom-row {
    padding: 0 0 40px;
  }
  .footer-bottom-row ul {
    justify-content: flex-start;
    margin: 20px 0 0;
  }
  .site-footer.home-page {
    padding: 40px 0 0px 0;
  }
  .footer-subscribe-col.footer-contact {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .footer-row {
    margin-bottom: 0;
  }
  .footer-social-media {
    display: block;
  }
  .footer-list-social {
    justify-content: flex-start;
  }

  .input-wrapper {
    margin: 20px 0;
  }
  /** MINI CART **/
  .cartDrawer {
    width: 100%;
  }
  .cartDrawer .mini-cart-body,
  .cartDrawer .mini-cart-footer {
    padding: 15px;
  }
  .cartDrawer .mini-cart-header {
    padding: 16px 50px 16px 20px;
  }
  .mini-cart-footer .checkout-btn {
    padding: 12px 11px;
  }
  .mini-cart-footer {
    padding: 15px;
  }
  .mini-cart-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .mini-cart-footer-total-row {
    font-size: 18px;
    line-height: 18px;
    margin: 0 -10px 12px;
  }
  .cartDrawer .closecart {
    right: 19px;
    width: 15px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .cartDrawer .closecart svg path {
    fill: var(--white);
  }
  .mini-cart-footer .u-save {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .search-popup {
    padding: 0 15px;
  }
  .search-popup .close-search {
    left: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
  }
  .policy-links {
    justify-content: flex-start;
    margin-top: 16px;
  }
  .footer-col:not(:last-of-type) {
    padding: 0;
  }
  .footer-subscribe-col,
  .footer-col {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-bottom {
    padding-top: 0;
  }
  .site-footer {
    padding: 40px 0 30px;
  }
  .emaillink.contactlink {
    margin: 0;
  }
  .slick-arrow {
    width: 36px;
    height: 36px;
  }
  .slick-slider .slick-arrow {
    opacity: 1;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget {
    flex: 0 0 100%;
  }
  .blog-widget-inner {
    margin-bottom: 15px;
  }
  /********* BLOG PAGE CSS end  **********/
  
  .product-heading-right-column {
    padding: 0 !important;
    border-right: 0;
  }
  .product-heading-row .row {
    padding: 40px 0 0 0;
  }
  .product-sorting-row {
    justify-content: flex-end;
  }
  .filter-title h4 {
    display: none;
  }
  .abt-shp-column-right,
  .about-our-shop-section .row {
    margin-top: 30px;
  }
  .contact-right-column {
    margin-top: 0;
  }
  .contact-right-inner h2 {
    color: var(--second-color);
  }
  .blog-col-right .nice-select {
    flex: 0 0 120px;
  }
  .blog-col-right {
    width: 100%;
    justify-content: center;
  }
  .blog-col-left ul {
    flex-direction: column;
    align-items: center;
  }
  .blog-head-row {
    border: 0;
  }
  .articlerightbar {
    padding-top: 40px;
  }
  .aticleleftbar h5 {
    margin: 0 0 20px 0;
    line-height: 1.3;
  }
  .articlerightbar .blog-grid .blog-widget:last-of-type {
    margin-bottom: 0;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
  }
  .post-lbl {
    margin: 0 25px 0 0;
    font-size: 14px;
  }
  .article-section .abt-user-img {
    margin-left: 10px;
    width: 45px;
    height: 45px;
  }
  .aticleleftbar p {
    margin-bottom: 15px;
  }
  .quote-box svg {
    height: 20px;
    width: 20px;
  }
  .quote-box {
    padding: 15px 35px 25px 0;
  }
  .order-summery-page .section-title p {
    font-size: 14px;
  }
  .order-summery-page .section-title h2 {
    margin-bottom: 30px;
  }
  .register-page .section-title {
    margin-bottom: 30px;
  }
  .our-blog-section .section-title,
  .my-acc-head {
    margin-bottom: 26px;
  }
  .my-acc-rightbar {
    margin-top: 40px;
  }
  #scroll {
    background: var(--white);
    top: 53px;
    padding: 0;
  }
  #account-nav {
    display: flex;
    justify-content: space-between;
  }
  #account-nav li a svg path {
    fill: var(--white);
  }
  #account-nav li a svg {
    margin-left: 0;
    height: 15px;
    width: 15px;
  }
  #account-nav li a span {
    display: none;
  }
  #account-nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-acc-leftbar li:not(:last-of-type) {
    border-bottom: 0;
  }
  .my-acc-leftbar h4 {
    padding: 15px 15px;
    color: var(--black);
  }
  .my-acc-leftbar {
    border: 0 !important;
  }
  #account-nav li a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 40px;
    justify-content: center;
    background: var(--theme-color);
  }
  .order-history-tbl tr th:nth-child(5),
  .order-history-tbl tr td:nth-child(5) {
    text-align: center;
  }
  .my-acc-right-content {
    padding-bottom: 30px;
  }
  #tab-6 .order-history-tbl tr th:nth-child(6),
  #tab-6 .order-history-tbl tr td:nth-child(6) {
    text-align: center;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-payment-box {
    max-width: 100%;
    margin: 15px auto 0 0;
  }
  .checkout-page .order-confirmation-body .row .col-12:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .checkout-page-left .login-form {
    margin-top: 30px;
  }
  .checkbox-custom label {
    font-size: 14px;
    text-align: right;
  }
  .checkout-page .checkbox-custom {
    margin-top: 0;
  }
  .set {
    margin-bottom: 12px;
  }
  .checkout-page .set .acnav-list {
    padding: 20px 15px;
  }
  .order-history-tbl tr td[data-label="quantity"] {
    padding: 10px;
  }
  .form-container,
  .order-confirmation-body {
    padding: 20px 15px;
  }
  .offset-container {
    padding: 0 15px;
  }
  /** CART PAGE CSS start**/
  .coupon-text {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .coupon-table {
    margin: 20px 0 0;
  }
  .cart-tble {
    border: 1px solid var(--border-color);
  }
  .cart-page-section .section-title {
    margin-bottom: 30px;
  }
  table .pro-img-cart img {
    max-width: 50px;
  }
  .product-list-page .outfilte-checkbox {
    margin-bottom: 10px;
  }
  /** CART PAGE CSS end **/
  /****  COMMON BANNER SECTION CSS ****/
  .common-banner-section {
    padding: 40px 0;
  }
  .common-banner-content .back-btn {
    margin-bottom: 15px;
  }
  .common-banner-content .section-title h2 span {
    font-size: 12px;
  }
  /*** FAQ PAGE CSS ****/
  .faq-page {
    padding-bottom: 0;
  }
  /*** FAQ PAGE CSS END ****/
  /*** ABOUT PAGE CSS ****/
  .about-us-section .about-us-box {
    margin-bottom: 20px;
  }
  /*** ABOUT PAGE CSS END ****/
  /*** HOME PAGE CSS START ****/
  .hero-main-img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 30px;
  }
  .home-banner-section .banner-right-col .hero-main-img {
    padding-top: 50%;
  }
  .col-reverse {
    flex-direction: column-reverse;
  }
  .home-banner-section .slider__counter {
    bottom: -40px;
  }
  .home-banner-section .progress {
    top: 30px;
    width: 50%;
  }
  .category-inner {
    border: 1px solid var(--border-color);
    margin-bottom: 30px;
    padding: 20px 15px;
  }
  .category-bg::before {
    display: none;
  }
  .category-bg {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 20px 10px 0;
  }

  .offer-bestseller-section .product-card {
    padding: 0;
  }
  .category-section {
    padding-top: 40px;
  }
  .review-inner {
    border: 1px solid var(--border-color);
  }
  .left-review-wrapper {
    margin-bottom: 20px;
  }
  .offer-bestseller-section .bestseller-card-inner {
    flex-direction: row;
    padding: 15px;
  }
  .offer-bestseller-section .bestseller-img {
    width: 250px;
  }
  .offer-bestseller-section .bestseller-card-inner .bestseller-img a {
    padding-top: 80%;
  }
  .offer-bestseller-card:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .add-banner {
    padding: 25px 15px;
  }
  .three-col-category-section .add-banner {
    padding: 20% 15px 15px;
  }
  /*** HOME PAGE CSS END ****/
  .pdp-main-img a.pdp-slider-img {
    padding-top: 65%;
  }
  .pdp-main-img a.pdp-slider-img img {
    width: 70%;
  }
  .pdp-left-col {
    margin-bottom: 30px;
  }
  .pdp-page .right-review-wrapper {
    margin-bottom: 30px;
  }
  .category-card .category-inner .category-img {
    padding-top: 16%;
  }
  .slick-arrow {
    width: 30px;
    height: 30px;
  }
  .slick-arrow svg {
    width: 12px;
    height: 12px;
  }
  .product-info .col-12:first-of-type {
    padding-left: 0px;
  }
  .blog-head-row {
    flex-direction: column;
    align-items: center;
  }
  .blog-head-row .blog-col-right {
    max-width: 100% !important;
  }
  .blog-grid-section .section-title {
    text-align: center;
  }
  .my-acc-leftbar h3 {
    padding: 15px 15px 15px;
    font: var(--h4);
    color: #000;
  }
  .my-account-page {
    padding-bottom: 0px;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 0 0 52%;
  }
  .forgot-input {
    justify-content: center !important;
  }
  .wishOpen .wishDrawer {
    width: 100%;
  }
  .wishDrawer .mini-wish-header {
    padding: 16px 50px 16px 20px !important;
  }
  .wishOpen .wishDrawer .closewish {
    right: 19px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .wishDrawer .mini-wish-body {
    padding: 30px 15px;
  }
  .mini-wish-item .addcart-btn-globaly {
    margin-left: 15px !important;
    width: auto !important;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .cart-tble tr th:nth-child(4), .cart-tble tr td:nth-child(4),
  .cart-tble tr th:nth-child(2), .cart-tble tr td:nth-child(2){
    width: 100%;
  }
  .checkout-page .login-form{
    margin-top:20px;
  }
}
@media screen and (max-width:575px) {
  :root {
    --h2: normal 700 28px/1.2 var(--first-font);
    --h3: normal 700 24px/1.2 var(--first-font);
    --h4: normal 700 20px/1.2 var(--first-font);
    --h5: normal 700 18px/1.2 var(--first-font);
  }
  .main-navigationbar .menu-right .btn {
    padding: 8px 10px;
  }
  .footer-col {
    flex: 0 0 100%;
  }
  .checkout-page .payment-method-form .checkbox-custom {
    margin: 0 0 15px 15px;
    width: 100%;
  }
  .section-title.d-flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .section-title-left {
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 0 0 32%
  }
  .payment-method-form .radio-group label .radio-right>* {
    text-align: left;
  }

  .blog-cat li a {
    padding: 10px 11px;
    font-size: 10px;
  }
  .reg-lbl {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }
  .login-form .submit-btn {
    max-width: 170px;
    margin: 15px 0 0 0;
  }
  .mobile-direction-column {
    flex-direction: column;
  }
  .order-confirm-details {
    margin-bottom: 20px;
  }
  .dated {
    width: 100%;
    margin-top: 12px;
  }
  .order-paymentcol {
    max-width: 100%;
    text-align: center;
  }
  .order-paymentcol:nth-child(2) {
    max-width: 100%;
  }
  .order-paycol-inner img {
    margin: 0 auto;
  }
  .order-confirmation-body .col-sm-6:last-child .order-confirm-details {
    margin: 0;
  }
  .checkout-page .order-confirmation-body .row .col-12 .order-confirm-details {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 14px;
  }
  .two-coll-media .tool-content {
    display: none;
  }
  /** CART PAAGE CSS start **/
  .coupon-text {
    flex-wrap: wrap;
  }
  .coupon-text p {
    width: 100%;
    font-size: 14px;
    padding: 10px 0 0;
  }
  .coupon-code {
    flex-wrap: wrap;
  }
  .coupon-code-text {
    width: 100%;
    margin-bottom: 15px;
  }
  /** CART PAAGE CSS end **/
  /********* BLOG PAGE CSS start  **********/
  .blog-cat li {
    padding: 10px 8px;
    font-size: 14px;
  }
  .blog-widget-inner h3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .blog-widget-inner p {
    margin: 12px 0 15px;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 5px;
  }
  .blog-cat {
    margin-bottom: 14px !important;
  }
  .blog-page-banner .common-banner-content p,
  .blog-page-banner .section-title {
    margin-bottom: 20px;
  }
  /********* BLOG PAGE CSS END  **********/
  .articlerightbar .blog-cat li {
    padding: 10px 5px;
  }
  .produdt-filter-cat {
    display: none;
  }
  .bestseller-card-inner .bestseller-img a {
    padding-top: 50%;
  }
  .bestdeller-radio-btn {
    display: flex;
  }
  .bestseller-btn-group {
    margin-top: 0;
  }
  .offer-bestseller-section .bestseller-card-inner {
    flex-direction: column-reverse;
  }
  /********* BLOG PAGE CSS END  **********/
  /********* HOME PAGE CSS START  **********/

  .add-banner-card:last-child {
    margin-bottom: 0;
  }
  /********* HOME PAGE CSS END  **********/
  .open-lightbox {
    width: 40px;
    height: 40px;
  }
  .open-lightbox svg {
    width: 18px;
  }
  .pdp-wishlist {
    top: 10px;
    left: 15px;
  }
  /* ***************** 20-7-2023 *************** */
  .category-card .category-inner .category-img {
    padding-top: 10%;
  }
  .blog-section .blog-card-content p {
    -webkit-line-clamp: 1;
  }
  .post-lbl {
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }
  .checkout-page .Delivery_Method .payment-method-form .radio-group label {
    flex-direction: column;
  }
  .mini-wish-details {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .modal-body {
    padding: 15px;
  }
  .pdp-category{
    margin: 12px 0 12px;
  }
  .modal-popup{
    padding: 15px !important;
  }
  .pagination{
    margin-top: 0px !important;
  }
  .payment-method-form .radio-group label .radio-right img{
    max-width: 50px;
  }
  .payment-method-form .radio-group label span{
    flex: 0 0 33%;
  }
  .cartDrawer .mini-cart-item:not(:last-of-type) ,
  .mini-wish-item:not(:last-of-type){
      margin-bottom: 15px !important;
  }
  .flipdown .rotor-group {
    padding: 12px;
    height: 65px;
    width: 65px;
  }
  .flipdown .rotor-group-heading:before {
    line-height: 18px;
    font-size: 10px;
  }
  .tab-vid-section .tab-link a {
    font-size: 13px;
    padding: 9px;
}
.tab-vid-section .blog-head-row {
  margin-bottom: 15px;

}
}
@media screen and (max-width:420px) {
  .header-style-one .menu-right li a svg {
    width: 18px;
    height: 18px;
  }
  .header-style-one .menu-right li:not(:last-of-type) {
    margin: 5px;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 80px;
    margin-left: auto;
  }
  .navigationbar-row {
    width: 100%;
  }
  .add-banner-column .section-title {
    margin-bottom: 15px;
  }
  .add-banner-column p {
    margin-bottom: 15px;
  }
  .order-paymentcol {
    max-width: 100%;
  }

}
@media screen and (max-width:370px) {
  .header-style-one .main-navigationbar .logo-col {
    max-width: 60px;
    margin-left: 0px;
  }
  .header-style-one .menu-right li:not(:last-of-type) {
    margin: 2px;
  }
  .main-navigationbar .display-align {
    justify-content: space-between;
  }
  .stp-menu-widget {
    padding: 24px 0 0 0;
    margin-top: 24px;
  }
  .mobile-menu-bar .stp-navlink:not(:last-of-type) {
    margin-left: 15px;
  }
  .fea-coll-contnt-left {
    width: 100%;
    margin-bottom: 10px;
  }
  .column-positive-us-right .col-sm-4.col-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  .post-lbl {
    margin: 10px 0 0;
    width: 100%;
  }
  .acc-back-btn-wrp button {
    padding: 10px 15px;
    min-width: 108px;
  }
  .checkout-page .forgot-pass {
    font-size: 11px;
  }
  .btn-flex a {
    padding: 10px 14px !important;
    min-width: 113px;
  }
  .center-descrp {
    display: none;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 1;
  }
  .payment-method-form .radio-group label span {
    flex: 0 0 50%;
    padding-left: 0;
  }
  .payment-method-form .radio-group label .radio-right b {
    font-size: 13px;
  }
  /*** HOME PAGE CSS START ****/
  .banner-left-col .button-wrappper {
    display: inline-grid;
  }
  .banner-left-col .play-btn {
    margin-right: 0;
    margin-top: 15px;
  }
  .home-banner-section .button-wrappper .btn-secondary {
    margin-bottom: 15px;
  }
  .offer-bestseller-card {
    display: block;
  }
  .bestseller-tab-section ul.cat-tab.tabs {
    align-items: flex-start;
  }
  .cat-tab li:not(:last-of-type) {
    margin-left: 15px;
  }
  /*** HOME PAGE CSS END ****/
  /* *****************20-7-2023 ************ */
  .category-card .category-inner .category-img {
    padding-top: 13%;
  }
  .inline_lable {
    display: inline-block;
    width: 20%;
  }
  .inline_contant {
    display: inline-block;
    width: 80%;
    padding-right: 10px;
  }
  .mini-wish-details {
    flex: 0 0 65%;
    max-width: 65%;
  }
}