.image-upload {
    display: block;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}
.pointer {
    cursor: pointer;
}
.category_Image {
    height: 50px;
}
.remove_image {
    display: none;
}
.remove_image_section:hover .remove_image {
    display: inline;
    position: absolute;
    right: 0px;
    top: 0px;
}
.product_img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.remove_image_section {
    padding-top: 100%;
}
.remove_image_section img.img-fluid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 8px #0000007d;
}
.btn-soft-success:hover {
    color: #FFF;
    background-color: #36B37E;
    border-color: #36B37E;
    box-shadow: 0 4px 11px rgb(215 240 229 / 35%);
}
.btn-soft-info:hover {
    color: #FFF;
    background-color: #00B8D9;
    border-color: #00B8D9;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
.btn-soft-danger:hover {
    color: #FFF;
    background-color: #e63f3f;
    border-color: #e63f3f;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
.btn-soft-warning:hover {
    color: #FFF;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
.btn-soft-secondary:hover {
    color: #FFF;
    background-color: #5a6268;
    border-color: #5a6268;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
.btn-soft-dark:hover {
    color: #FFF;
    background-color: #23272b;
    border-color: #23272b;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
table tr td .btn-primary:hover {
    color: #5eb839;
    background-color: #E9FFDF;
    border-color: #5eb839;
    box-shadow: 0 4px 11px rgb(215 240 229 / 35%);
}
table tr td .btn-success:hover {
    color: #5eb839;
    background-color: #E9FFDF;
    border-color: #5eb839;
    box-shadow: 0 4px 11px rgb(215 240 229 / 35%);
}
table tr td .btn-info:hover {
    color: #35abb6;
    background-color: #E8F8FF;
    border-color: #35abb6;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
table tr td .btn-danger:hover {
    color: #fff;
    background-color: #e63f3f;
    border-color: #e63f3f;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
table tr td .btn-warning:hover {
    color: #ffc107;
    background-color: rgba(244, 180, 26, 0.15);
    border-color: #ffc107;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
table tr td .btn-secondary:hover {
    color: #5a6268;
    background-color: rgba(108, 117, 125, 0.25);
    ;
    border-color: #5a6268;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
table tr td .btn-dark:hover {
    color: #23272b;
    background-color: rgba(28, 35, 47, 0.15);
    border-color: #23272b;
    box-shadow: 0 4px 11px rgb(204 241 247 / 35%);
}
table tr td .btn-dark.text-white:hover {
    color: #23272b !important;
}
.faq .accordion .accordion-item {
    border-radius: 5px;
    overflow: hidden;
    border: none;
    margin-bottom: 10px;
    background: #F5F5F5;
}
.faq .accordion .accordion-item .accordion-button {
    font-weight: 700;
    padding: 1.3rem 1.25rem;
}
.faq .accordion .accordion-item .accordion-button span {
    font-size: 16px;
    margin-right: 8px;
}
.faq .accordion .accordion-item .accordion-button:not(.collapsed) {
    border-radius: 5px;
    background: #f5f5f5;
    box-shadow: none;
    border-bottom: 1px solid #d8d8d8;
}
.faq .accordion .accordion-item .accordion-button.collapsed {
    box-shadow: 0 6px 30px rgb(182 186 203 / 30%);
}
.text-600 {
    font-weight: 600;
}
.text-danger {
    color: red !important;
}
.w-auto {
    width: auto;
}
.opacity-0 {
    opacity: 0;
}
/* PAGER */
.dataTable-pagination ul {
    margin: 0;
    padding-left: 0;
}
.dataTable-pagination li {
    list-style: none;
    float: left;
}
.dataTable-pagination a {
    border: 1px solid transparent;
    float: left;
    margin-left: 2px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    color: #333;
}
.dataTable-pagination a:hover {
    background-color: #d9d9d9;
}
.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
    background-color: #d9d9d9;
    cursor: default;
}
.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
    cursor: not-allowed;
}
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
    cursor: not-allowed;
    opacity: 0.4;
}
.dataTable-pagination .pager a {
    font-weight: bold;
}
.boxed label {
    display: inline-flex;
    border: solid 2px #ccc;
    transition: all 0.3s;
    margin-bottom: 5px;
    text-align: center;
    width: fit-content;
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
.boxed .custom-radio-btn {
    display: none;
}
.custom-radio-btn:checked+label {
    border: solid 2px #c71c1c;
}
.footer-list-social {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
ul.icon {
    margin-top: 7px;
}
.d-block {
    display: block;
}
.w-100 {
    width: 100%;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.product-filter-widget {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.product-filter-widget .btn {
    padding: 10px 25px;
}
.list_height_css .list {
    max-height: 200px;
    overflow: scroll;
}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.req {
    color: red;
}
.flex-slider .slick-list,
.flex-slider .slick-track {
    display: flex;
}
.flex-slider {
    margin: 0 -10px;
}
.flex-slider .card {
    padding: 5px 10px;
    display: flex !important;
}
.flex-slider .card .card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.blog-head-row .blog-col-right {
    max-width: 130px;
    width: 100%;
}
.mini-cart-body {
    height: 480px;
    overflow-y: auto;
}
.checkout-page-right .mini-cart-body {
    height: 100%;
    max-height: 480px;
}
.table-body tr {
    border: 1px solid rgba(48, 56, 61, 0.1);
}
.mini-cart-footer.mini-cart-footer1 .u-save {
    margin-bottom: 5px;
}
.form-container.billing_addresses.d-none {
    display: none;
}
.choose-files div {
    color: #fff;
    background: #584ED2 !important;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    max-width: 155px !important;
    font-size: 12px;
    font-weight: 500;
}
.file {
    position: relative !important;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.card-body.stats {
    height: 200px;
}
.quick-add-btn a.btn {
    padding: 4px 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
.card-body.welcome-card {
    padding: 15px 20px;
}
.min-h-490 {
    min-height: 490px;
    max-height: 490px;
}
.active_color {
    border: 2px solid #000 !important;
}
.logo-content a {
    position: relative;
    display: block;
    padding-top: 35%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.logo-content a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 60%;
    object-fit: contain;
    object-position: center;
}
.m-header a {
    position: relative;
    display: block;
    padding-top: 35%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.m-header a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    object-fit: contain;
    object-position: center;
}
.dash-sidebar .m-header {
    height: auto;
    display: block;
    align-items: center;
    padding: 15px 20px;
}
.form-check .form-check-input {
    float: left;
    margin-right: 5px;
}
.form-check.form-switch {
    padding-left: 25px;
}
.img_setting {
    filter: drop-shadow(2px 3px 7px #011c4b);
}
.mr-5 {
    margin-right: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.order-confirm-details p.mb-5 {
    margin-bottom: 5px;
}
.coupon-table {
    background: transparent;
    border: 1px solid #E8E8E8;
    padding: 15px 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.coupon-text {
    flex: 1;
    display: flex;
    align-items: center;
}
.coupon-text h4 {
    width: auto;
    white-space: nowrap;
    font-weight: 400;
    font-size: 18px;
}

.coupon-text p {
    width: 80%;
    font-size: 11px;
    padding: 0 20px;
}
.coupon-code {
    display: flex;
}
.coupon-code-text {
    display: flex;
    align-items: center;
}
.coupon-code-text h4 {
    font-size: 12px;
    font-weight: 500;
}
.coupon-code-text .p {
    border: 1px solid var(--black);
    border-radius: 30px;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.coupon-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 22px;
    background: transparent;
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.coupon-btn button svg {
    width: 30px;
    height: 9px;
    margin-left: 2px;
}
.coupon-btn button svg path {
    fill: var(--black);
}
.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}
.pagination .page-item {
    background: #f4f4f4;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-border .table tr td {
    border-bottom: 0 !important;
}
.page-border .dataTable-bottom {
    border-top: 1px solid #f1f1f1 !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
.mt-2 {
    margin-top: 0.5rem !important;
}
.pimage {
    max-width: 13px !important;
}
form.variant_form.p-form {
    display: flex;
    margin-top: 30px;
}
.brand_icon {
    width: 100% !important;
}
ul.uploaded-pics {
    list-style-type: none;
    padding-left: 15px !important;
}
ul.uploaded-pics input[type="checkbox"][id^="checkthis"] {
    display: none;
}
ul.uploaded-pics label {
    padding: 5px;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}
ul.uploaded-pics :checked+label img {
    z-index: -1;
    border: 2px dashed #0095ff;
}
ul.uploaded-pics label img {
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    object-fit: scale-down;
}
img {
    vertical-align: middle;
}
.stats-wrapper {
    height: 100%;
    margin-bottom: 0;
}
.stats-wrapper .card-body.stats {
    height: auto;
}
.price-card {
    text-align: center;
    position: relative;
    margin-top: 30px;
    display: flex;
    width: 100%;
}
.plan_card .card.price-card .card-body {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
ul.uploaded-pics label:before {
    font-size: 15px;
    background-color: #ffffff;
    color: #0095ff;
    content: "";
    display: block;
    border-radius: 50%;
    border: 1px solid #0095ff;
    position: absolute;
    top: -6px;
    right: -6px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    transition-duration: 0.4s;
    transform: scale(0);
}
ul.uploaded-pics :checked+label::before {
    content: "✓";
    transform: scale(1);
    z-index: 2;
}
.fix-content {
    width: 500px;
    white-space: normal !important;
}
.navbar-brand img {
    max-width: 200px !important;
}
.wow.mobile-widget {
    max-width: 200px;
}
.footer .row .col-lg-6.col-sm-12 img {
    max-width: 200px;
}
.badges {
    --bs-badge-padding-x: 0.5em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 500;
    --bs-badge-color: #ffffff;
    --bs-badge-border-radius: 2px;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}
.uploaded-picss label {
    padding: 10px;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #0095ff;
}
.uploaded-picss label:before {
    font-size: 15px;
    background-color: #ffffff;
    color: #0095ff;
    content: "";
    display: block;
    border-radius: 50%;
    border: 1px solid #0095ff;
    position: absolute;
    top: -6px;
    right: -6px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    transition-duration: 8s;
    transform: scale(0);
}
.uploaded-picss :checked+label::before {
    content: "✓";
    transform: scale(1);
    z-index: 2;
}
.dash-header .dash-head-link {
    margin: 0 7.5px;
}
.package-itm.theme-avtar img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: scale-down;
}
.package-itm.theme-avtar {
    width: 85px;
    height: 85px;
    border-radius: 20px;
}
.event-cards .product-card {
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.event-cards .product-card-inner {
    padding: 10px;
    border: 1px solid #E9FFDF;
    border-radius: 15px;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.event-cards .product-card-inner .product-card-image {
    position: relative;
}
.event-cards .product-card-inner .product-card-image .pdp-img {
    position: relative;
    display: block;
    padding-top: 70%;
}
.event-cards .product-card-inner .product-card-image .pdp-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: scale-down;
}
.event-cards .product-card-inner .checkbox-custom {
    position: absolute;
    top: 15px;
    right: 0px;
}
.event-cards .product-card-inner .checkbox-custom .dropdown-menu {
    padding: 10px 0px;
}
.event-cards .product-card-inner .checkbox-custom .dropdown-menu .dropdown-item {
    padding: 5px 15px;
}
.event-cards .product-card-inner .checkbox-custom .btn {
    padding: 0px;
}
.event-cards .product-card-inner .product-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.event-cards .product-card-inner .product-content-top {
    flex: 1;
    height: 100%;
}
.event-cards .card-wrapper {
    display: flex;
    flex-direction: column;
}
.event-cards .product-card-inner .product-content-top h4 {
    margin: 10px 0px;
}
.inner-div .form-check.form-switch {
    padding-left: 2.5em;
}
.theme-color.themes-color {
    max-width: 200px;
    width: 100%;
}
.danger-btn {
    padding: 10px 15px;
}
.danger-btn:hover {
    background: #c7100a;
    color: #ffffff;
}
.danger-btn:hover span {
    color: #fff !important;
}
.navbar.default.top-nav-collapse {
    background: rgba(28, 35, 47, 0.9);
}
.product-content-top .badges {
    font-size: 10px;
    position: absolute;
    top: -2%;
    left: -10px;
    filter: drop-shadow(0px 0px 23.807722091674805px rgba(0, 0, 0, 0.05));
    padding: 40px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="108" height="78" viewBox="0 0 108 78" fill="none"><path d="M24.7603 24.5591V53.4529C24.7603 53.9924 25.1311 55.4758 27.4575 55.813V22.1991C25.1648 22.57 24.7603 24.0197 24.7603 24.5591Z" fill="%23002333"/><g filter="url(%23filter0_d_285_1090)"><path d="M77.8512 28.6217L83.2544 36.9677C83.9864 38.1403 83.9864 39.6233 83.2544 40.7614L77.8512 49.1074C77.1888 50.1076 76.0733 50.7284 74.8532 50.7284H29.6406C24.7603 50.7284 24.7603 53.6253 24.7603 53.6253V24.1038C24.7603 24.1038 24.7603 27.0007 29.6406 27.0007H74.8532C76.0733 27.0007 77.2237 27.6215 77.8512 28.6217Z" fill="%2375DA48"/></g><defs><filter id="filter0_d_285_1090" x="0.952532" y="0.296038" width="106.659" height="77.1371" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="11.9039"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_285_1090"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_285_1090" result="shape"/></filter></defs></svg>');
    background-color: transparent !important;
    display: block;
    background-size: 124px;
    background-position: center;
    color: #fff !important;
}
.product-card-inner .product-content .btn-outline-primary {
    color: #000 !important;
    background-color: #E9FFDF !important;
}
.product-card-inner .product-content .btn-outline-primary:hover {
    color: #fff !important;
    border-color: #013D29 !important;
    background: #013D29 !important;
}
.e-comm-row .btn-outline-primary {
    color: #013D29 !important;
    border-color: #013D29 !important;
}
.e-comm-row .btn-outline-primary:hover {
    color: #fff !important;
    border-color: #013D29 !important;
    background: #013D29 !important;
}
.front-img {
    width: 100%;
}
.radio-button-group .radio-button {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.setting-card .logo-content a {
    padding-top: 20%;
    max-width: 140px;
    width: 100%;
}
.setting-card .logo-content a img {
    width: 100%;
}
.img_setting {
    filter: drop-shadow(1px 1px 2px #011c4b);
}
.lang-setting {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.disabledCookie {
    pointer-events: none;
    opacity: 0.4;
}
/* guest page language dropdown start */
.ecom-lang-drp .dash-head-link {
    color: #525b69;
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 0.7rem;
    margin: 0 7.5px;
    border-radius: 4px;
    position: relative;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid rgba(206, 206, 206, 0.2);
    gap: 10px;
    margin-right: 10px !important;
    margin-left: 0 !important;
}
.ecom-lang-drp .drp-language i {
    color: #CECECE;
}
.ecom-lang-drp .dash-head-link>i:not(.nocolor) {
    color: #E9FFDF;
}
.ecom-lang-drp .dash-head-link .drp-arrow {
    color: #525b69;
    font-size: 14px;
    margin-left: 5px;
    opacity: 0.8;
}
@media (max-width:450px) {
    .ecom-lang-drp .drp-text {
        display: none;
    }
    .navbar-brand img {
        max-width: 160px !important;
        width: 100%;
    }
    .ecom-lang-drp .dash-head-link {
        margin-right: 0 !important;
    }
}
.ai-btn {
    font-size: 12px;
    padding: 6px 15px;
}
.ai-btn i {
    font-size: 14px;
    margin-right: 5px;
}
/* pos css start */
.input-group-prepend {
    margin-right: -1px;
}
.input-group-prepend,
.input-group-append {
    display: flex;
}
.bg-color {
    background: linear-gradient(141.55deg, #E9FFDF 3.46%, #E9FFDF 99.86%), #E9FFDF;
}
.pos-top-bar {
    background: #6fd944;
    border-radius: 10px;
    padding: 15px;
}
.carttable .quantity.buttons_added .minus,
.carttable .quantity.buttons_added .plus {
    padding: 4px 10px 8px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
}
.carttable .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}
.carttable .quantity.buttons_added .plus {
    border-left: 0;
}
.carttable .quantity .input-number {
    width: 35px;
    height: 35px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}
.total-section {
    width: 100%;
    background: #f1f1f1;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -10px #97979780;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.575rem 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #293240;
    text-align: center;
    white-space: nowrap;
    background-color: #f8f9fd;
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.form-control,
.custom-select,
.dataTable-selector,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.575rem 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #293240;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 6px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-row>.zoom-in {
    transition-property: background-color, border-color, color, fill, opacity, box-shadow, transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    cursor: pointer;
    margin-bottom: 10px !important;
}
.zoom-in:hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
}
.product-body-nop {
    height: calc(100vh - 260px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -7px;
    padding-right: 7px;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.position-relative {
    position: relative !important;
}
.product-body-nop .card {
    width: 100%;
}
.product-body-nop .card .avatar {
    object-fit: scale-down;
    padding: 20px 0 10px;
    background: transparent;
    min-height: 9rem;
    width: 100%;
}
.avatar {
    position: relative;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 600;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 0.25rem;
}
.card .card-image,
.card .animate-this,
.card>a {
    min-height: 1px;
}
.tab-btns {
    min-width: 100px;
    white-space: nowrap;
    border-radius: 0.625rem !important;
    padding: 10px 20px !important;
    font-size: 12px !important;
}
.product-body-nop .card .badge {
    padding: 4px 10px;
    width: auto;
    max-width: 100px;
    margin: 0 auto 0 0;
}
.top-badge {
    position: absolute;
    top: 0;
    right: 0;
}
.badge-danger {
    color: #FF5630;
    background-color: rgba(255, 174, 189, 0.41);
}
.badge-primary {
    color: #6FD943;
    background-color: #E9FFDF;
}
#product-listing .toacart {
    cursor: pointer;
}
.product-body-nop .form-row [class*="col-"] {
    display: flex;
}
.form-row>.col,
.form-row>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
.carttable-scroll {
    height: calc(100vh - 115px);
}
.card:not(.table-card) .table-responsive {
    margin: -25px -25px 0 -25px;
    width: calc(100% + 50px);
}
.carttable-scroll .table-responsive {
    height: calc(100vh - 300px);
}
.billed-to p {
    font-weight: 400;
}
.pos-module .product-border {
    border-bottom: 3px dotted #d8d8d8 !important;
}
.theme-avtar img {
    width: 45px;
    height: 45px;
}
.theme-1 .bg-light-primary {
    background: #ceefdf;
    color: #0CAF60;
    border-color: #ceefdf;
}
.theme-1 .border-primary {
    border-color: #0CAF60 !important;
}
.theme-2 .bg-light-primary {
    background: #dedcf6;
    color: #584ED2;
    border-color: #dedcf6;
}
.theme-2 .border-primary {
    border-color: #51459d !important;
}
.theme-3 .bg-light-primary {
    background: #e2f7d9;
    color: #E9FFDF;
    border-color: #e2f7d9;
}
.theme-3 .border-primary {
    border-color: #E9FFDF !important;
}
.theme-4 .bg-light-primary {
    background: #d0dde7;
    color: #145388;
    border-color: #d0dde7;
}
.theme-4 .border-primary {
    border-color: #145388 !important;
}
.theme-5 .bg-light-primary {
    background: #f1d9e1;
    color: #B9406B;
    border-color: #f1d9e1;
}
.theme-5 .border-primary {
    border-color: #B9406B !important;
}
.theme-6 .bg-light-primary {
    background: #cce8f5;
    color: #008ECC;
    border-color: #cce8f5;
}
.theme-6 .border-primary {
    border-color: #008ECC !important;
}
.theme-7 .bg-light-primary {
    background: #e9d5e7;
    color: #922C88;
    border-color: #e9d5e7;
}
.theme-7 .border-primary {
    border-color: #922C88 !important;
}
.theme-8 .bg-light-primary {
    background: #f2ecda;
    color: #C0A145;
    border-color: #f2ecda;
}
.theme-8 .border-primary {
    border-color: #C0A145 !important;
}
.theme-9 .bg-light-primary {
    background: #dadbdb;
    color: #48494B;
    border-color: #dadbdb;
}
.theme-9 .border-primary {
    border-color: #48494B !important;
}
.theme-10 .bg-light-primary {
    background: #cee4e7;
    color: #0C7785;
    border-color: #cee4e7;
}
.theme-10 .border-primary {
    border-color: #0C7785 !important;
}
/* pos css End */
.disabledPWA {
    pointer-events: none;
    opacity: 0.4;
}
.pos-table .cart-images img {
    width: 3.5rem !important;
    height: 100%;
    object-fit: cover;
}
.fix_badges {
    min-width: 95px !important;
}
.dash-container .dash-content .form-group .logo-content img {
    width: 100%;
    max-width: 70%;
}
.info-card .theme-avtar {
    width: 55px;
    height: 55px;
    margin: auto;
    font-size: 25px;
}
.info-card .card-body.stats {
    text-align: center;
}
.info-card .card-body h3 {
    font-size: 40px;
}
.card-dash {
    margin-bottom: 0px;
    height: 100%;
}
.plan_card .card {
    margin-bottom: 0;
}
.plan_card {
    height: 100%;
    display: flex;
}
.info-card .theme-avtar {
    width: 55px;
    height: 55px;
    margin: auto;
    font-size: 25px;
}
.info-card .card-body.stats {
    text-align: center;
}
.info-card .card-body h3 {
    font-size: 40px;
}
.dash-data {
    display: flex;
    flex-direction: column;
}
.dash-data .data-chart {
    flex: 1;
}
@media (max-width: 575px) {
    .info-card .card-body h3 {
        font-size: 25px;
    }
}
@media(min-width:1024px) {
    .dash-sidebar.light-sidebar.transprent-bg .navbar-content {
        height: calc(100vh - 145px);
    }
}
body .navbar-nav .nav-link {
    color: black;
}
.ecom-lang-drp .dash-head-link {
    background: rgba(245, 245, 245, 1);
}
.info-card .qrcode {
    margin-top: 15px;
}
/* Email Template*/
.drp-languages .drp-language .dropdown-toggle {
    color: #525b69;
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 0.7rem;
    margin: 0 7.5px;
    border-radius: 4px;
    position: relative;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid rgba(206, 206, 206, 0.2);
}
.drop-down__menu {
    padding-left: 7px;
}
/* Email Template*/
.according-delete-input {
    position: relative;
    padding: 15px 50px 15px 14px !important;
}
.according-delete-input a.btn {
    position: absolute;
    right: 7px;
    padding: 2px 4px;
}
.add_attribute {
    font-family: "Open Sans", sans-serif;
}
.attribute-form-check {
    margin-right: 8px;
}
.email_arrow {
    margin-right: 0px !important;
}
.share-btn {
    background-color: #47dbcd;
    border: 1px solid #47dbcd;
}
.share-btn:hover {
    background-color: #47dbcd;
    border: 1px solid #47dbcd;
}
.sharingButtonsContainer {
    position: absolute;
    top: 50%;
    right: -28px;
    transform: translateY(-50%);
    z-index: 9999;
}
.sharingButtonsContainer .Demo1 {
    margin-bottom: 0px !important;
}
.sharingButtonsContainer a {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    min-width: 13px;
    padding: 6px;
    border-radius: 20px;
    width: 28px;
}
#socialShareButton:focus-visible,
#socialShareButton:focus {
    background-color: #47dbcd;
    border: 1px solid #47dbcd;
}
@media (max-width:1399px) {
    .sharingButtonsContainer {
        right: -20px;
        top: 49%;
    }
}
@media (max-width:575px) {
    .sharingButtonsContainer {
        right: 12px;
        top: 102%;
    }
    .socialJS {
        display: flex;
        gap: 0 10px;
        flex-direction: row-reverse;
    }
    .socialJS a {
        margin: 0;
    }
    .wishDrawer {
        width: 100%;
    }
    .wishDrawer .mini-wish-header {
        padding: 17px 30px 16px 40px;
    }
    .wishDrawer .closewish {
        left: 12px;
    }
}
img.refund-image {
    width: 100%;
    max-width: 50px;
}
/***** dashboard****/
@media (max-width:991px) {
    .container {
        max-width: 1140px;
    }
}
@media (max-width:767px) {
    .auth-wrapper .auth-content {
        width: 100%;
    }
}
@media (max-width:575px) {
    .auth-wrapper .auth-content .card .card-body {
        padding: 15px 0px;
    }
    .list-unstyled .dropdown-item span.text-store {
        display: none;
    }
    .dropdown .dropdown-item {
        padding: 10px 10px;
    }
    .list-unstyled .dropdown-item i {
        margin: 0 !important;
    }
    .dash-header .dash-mob-drp .dash-head-link {
        margin: 0 7.5px 0 0;
    }
}
@media (max-width: 425px) {
    .dash-header .drp-language i.ti-world {
        display: none;
    }
    .info-card .card-body .cp_link {
        font-size: 0;
    }
}
.auth-wrapper .auth-content .card .card-body {
    padding: 40px 0;
}
.modal-body .auth-wrapper .auth-content .card .card-body {
    padding: 15px;
}
.dash-sidebar .navbar-content {
    height: calc(100vh - 105px);
}
@media (max-width:575px) {
    .pills-search {
        width: 100%;
    }
    .pills-search .btn-box {
        width: 65%;
    }
    .pills-search .chart-data {
        width: 30%;
    }
    .pills-search .chart-data .chart-datas {
        padding: 10px 5px;
        width: 100%;
    }
}
.pills-search {
    gap: 3px;
}
.apexcharts-canvas {
    margin: auto;
}
/* timeline css start  */
.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.time-wrapper {
    display: block;
    font-size: 0.8888em;
    color: #6c757d;
    margin-top: 20px;
}
.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
}
.my-custom-timeline {
    padding: 60px 0;
}
.my-custom-timeline .custom-timeline-inner {
    padding: 40px 0;
    background-color: #f9f9f9;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.my-custom-timeline .timeline {
    z-index: 1;
    position: relative;
    list-style-type: none;
}
.my-custom-timeline .timeline:before {
    background: #DBDBDB;
    z-index: 1;
    top: 11px;
    position: absolute;
    left: 50%;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
}
.my-custom-timeline .tl-container {
    max-width: 50%;
    width: 100%;
    position: relative;
    padding: 0px 25px;
}
.my-custom-timeline .tl-container.left {
    left: 0;
    text-align: end;
}
.my-custom-timeline .tl-container.right {
    left: 50%;
}
.my-custom-timeline .support-time {
    position: relative;
}
.my-custom-timeline .support-time::before {
    content: " ";
    height: 5px;
    position: absolute;
    top: 30px;
    width: 23px;
    z-index: 1;
    left: -22px;
    background: #DBDBDB;
}
.my-custom-timeline .left .support-time::before {
    right: -22px;
    left: auto;
}
.my-custom-timeline .support-time::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: -30px;
    background-color: white;
    border: 3px solid #DBDBDB;
    top: 27px;
    border-radius: 50%;
    z-index: 1;
}
.my-custom-timeline .left .support-time::after {
    right: -30px;
    left: auto;
}
.my-custom-timeline .tl-box {
    padding: 15px;
    box-shadow: 0px 0px 26.830137252807617px 0px #0000000D;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    margin-top: 10px;
    background: #ffffff;
}
.my-custom-timeline .tl-btn {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid;
    font-size: 12px;
    gap: 5px;
    font-weight: 600;
    margin-bottom: 5px;
}
.my-custom-timeline .tl-btn.support-btn {
    background-color: #FFF1F1;
    border-color: #FFC3C3;
}
.my-custom-timeline .tl-btn.licence-btn {
    background-color: #E0FFF5;
    border-color: #01CE8A;
}
.my-custom-timeline .tl-btn.order-btn {
    background-color: #FFF3D6;
    border-color: #FFD46A;
}
.my-custom-timeline .tl-btn.register-btn {
    background-color: #ECFFE4;
    border-color: #E9FFDF
}
.my-custom-timeline .left .tl-btn.licence-btn,
.my-custom-timeline .left .tl-btn.order-btn,
.my-custom-timeline .left .tl-btn.register-btn,
.my-custom-timeline .left .tl-btn.support-btn {
    flex-direction: row-reverse;
}
.my-custom-timeline ul {
    margin: 0;
    padding: 0;
}
.my-custom-timeline ul li {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}
.my-custom-timeline .left .tl-box .time-wrapper {
    justify-content: flex-start;
}
.my-custom-timeline .tl-box .time-wrapper {
    justify-content: flex-end;
    margin-top: 5px;
}
.my-custom-timeline .tl-box .time-wrapper .time {
    font-size: 11px;
    color: #505050;
    line-height: 1;
}
.my-custom-timeline .tl-box .end-date {
    font-size: 10px;
    padding: 3px;
    background: #FF3A6E;
    color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 600;
}
.my-custom-timeline .timeline-schedule {
    max-width: 380px;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 0px 26.830137252807617px 0px #0000000D;
    font-size: 18px;
}
.my-custom-timeline .tl-schedule {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.my-custom-timeline .tl-schedule.border-top {
    border-top: 1px solid #EBEBEB;
}
.my-custom-timeline .tl-schedule-l {
    max-width: 30%;
    width: 100%;
    text-align: center;
}
.my-custom-timeline .tl-schedule-r {
    max-width: 70%;
    width: 100%;
}
.my-custom-timeline ul li a {
    color: #0CAF60;
    text-decoration: none;
}
@media screen and (max-width:767px) {
    .my-custom-timeline .tl-container.right {
        left: 0%;
    }
    .my-custom-timeline .tl-container.left {
        text-align: left;
    }
    .my-custom-timeline .tl-container {
        margin-bottom: 10px;
        max-width: 100%;
        text-align: left;
        padding: 0px 15px;
    }
    .my-custom-timeline .tl-container:not(:last-of-type) {
        margin-bottom: 25px;
    }
    .my-custom-timeline .custom-timeline-inner {
        padding: 25px 0;
    }
    .my-custom-timeline .tl-box {
        text-align: left;
    }
    .my-custom-timeline .timeline:before {
        z-index: -1;
        top: 0px;
    }
    .my-custom-timeline .support-time::before,
    .my-custom-timeline .support-time::after {
        display: none;
    }
}
.custom-timeline-2 .info-card .card-body h3 {
    font-size: 24px;
}
.register-timeline {
    background: #4CAF50 !important;
}
.last-login-timeline {
    background: #607D8B !important;
}
.wishlist-timeline {
    background: #32d7a2 !important;
}
.dlt-wishlist-timeline {
    background: #9E9E9E !important;
}
.add-cart-timeline {
    background: #FFC107 !important;
}
.dlt-cart-timeline {
    background: #795548 !important;
}
.order-timeline {
    background: #2196F3 !important;
}
.report-filter {
    flex: 1;
    gap: 6px;
    justify-content: end;
}
.custom-width .choices {
    width: 300px;
}
/* timeline css end  */
.mail-product {
    margin-right: 50px;
}
.modal-body .row.modal-shipping-row .shipping-text {
    margin-left: 0 !important;
}
.modal-body textarea.pc-tinymce-2{
    width: 100%;
}
.modal-bottom-btn-wrapper {
    justify-content: space-between;
}
.modal-bottom-btn-wrapper .col-md-2:last-of-type a {
    margin-right: 0 !important;
}
.card-body .card-header.stock-mange-note {
    background: #b1b1b194;
}
.card-body .card-header.order-create-note {
    background: #3ec9d652;
}
.card-body .card-header.order-status-note {
    background: #E9FFDF;
}
.card-body .card-header.admin-private-note {
    background: rgba(255, 174, 189, 0.31);
}
.card-body .card-header.customer-note {
    background: rgba(244, 180, 26, 0.15);
}
.card-body .card-header.note-bg-color {
    padding: 15px 10px 0 15px;
    border-radius: 10px;
}
.cart-time-wrapper .btn i {
    color: #ff3a6e !important;
}
.cart-time-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}
.cart-time-wrapper .time {
    background-color: transparent;
    font-size: 10px;
}
.order-report-row .card-header {
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.order-report-row .card-header span {
    color: #000;
}
.order-report-row.order-report-category .card-header span {
    font-size: 16px;
    max-width: 50%;
    width: 100%;
}
.order-report-row.order-report-category,
.order-sale-report,
.order-report-row {
    margin-bottom: 30px;
}
.order-report-row .card,
.order-sale-report .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.order-sale-report .card .card-header {
    height: 100%;
    display: flex;
    align-items: center;
}
.card-input-wrapper {
    gap: 10px;
}
.report-text-label {
    color: #6FD943;
}
.dash-sidebar .dash-micon .custom_svg {
    width: 22px;
    height: 22px;
}
/********* 20-10-23 ***********/
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    background: #75DA4840 !important;
}
.ti.ti-trash.text-white.py-1 {
    color: #D80027 !important;
}
.btn:hover .ti.ti-trash.text-white.py-1 {
    color: #fff !important;
}
.dataTable tbody tr td .btn-danger:hover .ti.ti-trash.text-white.py-1 {
    color: #fff !important;
}
.sub-total-footer ul li {
    gap: 20px;
}
.sub-total-footer ul li span {
    width: 130px;
    text-align: right;
}
.badge-same {
    width: 200px;
}
.badge-80 {
    width: 80px;
}
.table.dataTable-table .input-group .form-control {
    background-color: #f5f5f5;
    border-color: transparent;
}
.table.dataTable-table tr td,
.table.dataTable-table tr th {
    white-space: normal;
}
.plan-active-status {
    position: absolute;
    right: 0;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}
body.theme-3 .switch-on.btn {
    background-color: #5eb839;
    border-color: #5eb839;
    color: #fff;
}
.order-sale-report .btn {
    padding: 12px !important;
}
.order-sale-report .btn svg {
    width: 26px;
    height: 23px;
}
.order-sale-report .btn:hover svg path {
    fill: #ffffff;
}
span.badge.rounded.p-2.m-1.px-3.bg-dark {
    min-width: 100px;
    max-width: 212px;
    width: 100%;
    text-align: left;
}
.theme-link {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: fit-content;
}
.upgrade-plan-model-card {
    background-color: #f5f5f5;
    padding: 15px;
    margin: auto;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
}
.upgrade-plan-model-card .badge.bg-warning {
    border-radius: 4px;
}
.btn-dark.text-white {
    color: #1c232f !important;
}
.btn-dark.text-white:hover {
    color: #fff !important;
}
#socialShareButton {
    color: #fff !important;
}
.theme-set-tab {
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.sticy-tab {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(182, 186, 203, 0.3);
    max-width: calc(100% - 570px / 2);
    right: 0;
}
.switch.btn {
    min-width: 4.5rem;
    min-height: calc(2em + .75rem + 2px);
}
.new-login-design {
    padding: 20px !important;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.login-bg-1 {
    position: absolute;
    bottom: 0;
    left: 22%;
    max-height: 500px;
    display: block;
}
.register-page .login-bg-1 {
    display: none;
}
.login-bg-2 {
    position: absolute;
    bottom: 0;
    right: 10%;
    max-height: 500px;
    display: block;
}
.register-page .login-bg-2 {
    display: none;
}
.auth-wrapper.auth-v3 .bg-auth-side.login-page {
    bottom: 0;
    top: 0;
    border-radius: 0;
}
.login-bg-3 {
    position: absolute;
    bottom: 0;
    left: 14%;
    max-height: 500px;
    display: none;
}
.register-page .login-bg-3 {
    display: block;
}
.login-bg-4 {
    position: absolute;
    bottom: 0;
    right: 22%;
    max-height: 500px;
    display: none;
}
.register-page .login-bg-4 {
    display: block;
}
.register-page.auth-wrapper.auth-v3 .bg-auth-side.login-page {
    left: 0;
    right: 50%;
}
@media (max-width:1439px) {
    .login-bg-1 {
        max-height: 400px;
        left: 19%;
    }
    .login-bg-2 {
        max-width: 400px;
    }
    .login-bg-3 {
        left: 7%;
    }
    .login-bg-4 {
        right: 15%;
    }
}
@media (max-width:1199px) {
    .login-bg-1 {
        left: 14%;
    }
    .login-bg-2 {
        right: 0;
    }
    .auth-wrapper .auth-content {
        width: 85vw;
        justify-content: start;
        gap: 100px;
    }
    .auth-wrapper .bg-auth-side {
        display: block;
    }
    .login-bg-3 {
        left: 0;
        max-width: 330px;
    }
    .login-bg-4 {
        right: 6%;
    }
}
@media (max-width:991px) {
    .login-bg-1,
    .login-bg-2,
    .login-bg-3,
    .login-bg-4,
    .auth-wrapper .bg-auth-side {
        display: none;
    }
    .register-page .login-bg-3,
    .register-page .login-bg-4 {
        display: none;
    }
    .auth-wrapper .auth-content {
        width: 100%;
        gap: 20px;
    }
}
@media (max-width:767px) {
    .card .card-header {
        padding: 10px;
    }
    .auth-wrapper .auth-content .card {
        padding: 10px;
    }
    .modal-body .auth-wrapper .auth-content .card .card-body{
        padding: 15px 0;
    }
    .order-history-tbl tr td {
        padding: 10px 10px;
    }
    .flipdown .rotor-group {
        height: 65px;
        width: 65px;
        padding: 6px;
      }
      .flipdown .rotor-group-heading:before {
        line-height: 28px;
        font-size: 12px;
      }
      .flipdown .rotor{
        font-size: 17px;
      }
      .mini-wish-body .btn {
        max-width: 200px;
    }
    .card-body {
        padding: 10px 15px;
    }
    .profile-achievements {
        gap: 15px;
        margin-top: 30px;
    }
    .account-info {
        gap: 30px;
    }
    .account-info .profile-pic {
        width: 100px;
    }
}
@media (max-width:575px) {
    #progressbar li {

        flex: 0 0 110px;
    }

    #progressbar {

        overflow-x: scroll;
    }
}
.popular-store {
    background: #f5f5f5;
    margin-bottom: 15px;
    padding: 12px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn.order-not-dlt:hover .ti.ti-trash.text-white.py-1 {
    color: #D80027 !important;
}
.btn-primary svg path {
    fill: #5eb839;
    stroke: #5eb839;
}
.btn-primary:hover svg path {
    fill: #fff;
    stroke: #fff;
}
.btn-info:hover svg path {
    fill: #fff;
}
.bandonwishmess.btn-primary:hover i svg path {
    fill: var(--bs-btn-color) !important;
}
.bg-light-secondary:hover {
    background: #e2e3e5;
    color: #6c757d;
}
body.theme-3 .input-group .btn.btn-outline-primary {
    border: 1px solid #6FD943;
}
.nav-pills .nav-item a {
    cursor: pointer;
}
.nav-pills .nav-item button.nav-link {
    background-color: rgb(239, 239, 239);
}
body.theme-1 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, #0caf604d 3.46%, #0caf604d 99.86%), #0caf604d !important;
    color: #0a9552 !important;
}
body.theme-1 .theme-avtar.bg-primary svg path {
    fill: #0a9552;
    stroke: #0a9552;
}
body.theme-2 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, rgba(88, 78, 210, 0.30) 3.46%, rgba(88, 78, 210, 0.30) 99.86%), rgba(88, 78, 210, 0.30) !important;
    color: #584ED2 !important;
}
body.theme-2 .theme-avtar.bg-primary svg path {
    fill: #584ED2;
    stroke: #584ED2;
}
body.theme-3 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, #E9FFDF 3.46%, #E9FFDF 99.86%), #E9FFDF !important;
    color: #6FD943 !important;
}
body.theme-3 .theme-avtar.bg-primary svg path {
    fill: #0a9552;
    stroke: #0a9552;
}
body.theme-4 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, rgba(20, 83, 136, 0.30) 3.46%, rgba(20, 83, 136, 0.30) 99.86%), rgba(20, 83, 136, 0.30) !important;
    color: #145388 !important;
}
body.theme-4 .theme-avtar.bg-primary svg path {
    fill: #145388;
    stroke: #145388;
}
body.theme-5 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, rgba(185, 64, 107, 0.25) 3.46%, rgba(185, 64, 107, 0.25) 99.86%), rgba(185, 64, 107, 0.25) !important;
    color: #B9406B !important;
}
body.theme-5 .theme-avtar.bg-primary svg path {
    fill: #B9406B;
    stroke: #B9406B;
}
body.theme-6 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, rgba(0, 142, 204, 0.30) 3.46%, rgba(0, 142, 204, 0.30) 99.86%), rgba(0, 142, 204, 0.30) !important;
    color: #008ECC !important;
}
body.theme-6 .theme-avtar.bg-primary svg path {
    fill: #008ECC;
    stroke: #008ECC;
}
body.theme-7 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, rgba(146, 44, 136, 0.25) 3.46%, rgba(146, 44, 136, 0.25) 99.86%), rgba(146, 44, 136, 0.25) !important;
    color: #922C88 !important;
}
body.theme-7 .theme-avtar.bg-primary svg path {
    fill: #922C88;
    stroke: #922C88;
}
body.theme-8 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, rgba(192, 161, 69, 0.25) 3.46%, rgba(192, 161, 69, 0.25) 99.86%), rgba(192, 161, 69, 0.25) !important;
    color: #C0A145 !important;
}
body.theme-8 .theme-avtar.bg-primary svg path {
    fill: #C0A145;
    stroke: #C0A145;
}
body.theme-9 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, rgba(72, 73, 75, 0.30) 3.46%, rgba(72, 73, 75, 0.30) 99.86%), rgba(72, 73, 75, 0.30) !important;
    color: #48494B !important;
}
body.theme-9 .theme-avtar.bg-primary svg path {
    fill: #48494B;
    stroke: #48494B;
}
body.theme-10 .theme-avtar.bg-primary:hover {
    background: linear-gradient(141.55deg, rgba(12, 119, 133, 0.30) 3.46%, rgba(12, 119, 133, 0.30) 99.86%), rgba(12, 119, 133, 0.30) !important;
    color: #0C7785 !important;
}
body.theme-10 .theme-avtar.bg-primary svg path {
    fill: #0C7785;
    stroke: #0C7785;
}
body .theme-avtar.bg-primary:hover i {
    color: var(--bs-btn-color) !important;
}
.modal-dialog {
    margin-top: 20px;
}
.card-body .card-bottom-content .product-title-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-body-nop #product-listing .toacart {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.product-body-nop .card {
    height: 100%;
}
/* DropZone */
img.rounded {
    width: 100%;
}
.menu-tab-view .accordion-button {
    position: relative;
    padding: 10px 15px !important;
    border-radius: 5px !important;
    background-color: var(--bs-accordion-active-bg);
}
.menu-tab-view .accordion-button::after {
    display: none;
}
.menu-tab-view .accordion-body {
    padding: 10px 15px 10px 15px;
}
.sop-card.card {
    height: 100vh;
    overflow: auto;
    transition: opacity .5s;
    zoom: 0.9;
    border-radius: 20px;
}
.sop-card.card::-webkit-scrollbar {
    width: 0px;
}
.shop-theme-wrapper {
    border-radius: 20px;
    overflow: hidden;
}
.preview-header-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    align-items: center;
}
.preview-header {
    align-items: center;
    width: 100%;
}
.preview-header-right,
.preview-header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.ScrollStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 10s all ease-in-out;
    -webkit-transition: 10s all ease-in-out;
}
.highlighted {
    border: 4px solid #2C6ECB;
    padding: 20px;
    position: relative;
}
.custome_tool_bar {
    float: right;
}
.custome_tool_bar {
    float: right;
    position: absolute;
    right: 0;
    gap: 5px;
    z-index: 9999999;
    top: -24px;
    transform: translateY(-50%);
}
.option-button {
    background-color: #2C6ECB !important;
    border: 1px solid #2C6ECB !important;
}
#default_tool_bar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
#default_tool_bar button {
    margin-left: 5px;
}
.social_icon {
    width: 50px;
    height: 50px;
    background: rgb(157 183 205 / 30%);
}
.right-content header {
    position: relative;
    /* margin-top: 35px; */
}
.right-content .site-footer,
.right-content .shop-reviews {
    overflow: visible !important;
}
.custome_tool_bar .option-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #fff;
}
.custome_tool_bar .option-button ::before {
    font-size: 20px;
}
.sidebar_form .card-body .form-group img {
    object-fit: scale-down;
    border: 1px solid #F0F0F0;
    margin-top: 10px;
}
/* updated css */
.sop-card .card-body .right-content a:not([class]) {
    color: inherit;
}
.animate-charcter {
    text-transform: capitalize;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107A 29%,
            #FF1361 67%,
            #FFF800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.animate-charcter {
    animation: blink 1s linear infinite, textclip 2s linear infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
.theme-card .theme-bottom-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.theme-card .theme-card-lable {
    display: inline-block;
    margin-right: 12px;
}
.theme-card .theme-card-button {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    width: 100%;
}
.theme-card .theme-card-button button {
    background-color: #0095ff;
    color: #ffff;
}
.theme-card .theme-card-button button:hover {
    background-color: #0095ff9a;
    border: 1px solid #0095ff;
}
.theme-card {
    border: 1px solid #6FD943;
}
.dashboard-theme-card .theme-image {
    position: relative;
    padding-top: 45%;
    flex: 1;
}
.theme-card .theme-image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dashboard-theme-card .theme-card-button .btn2 {
    background-color: #0095ff;
    color: #ffff;
    border-color: #0095ff;
}
.dashboard-theme-card {
    height: 100%;
    width: 100%;
}
.theme-image .badges {
    font-size: 10px;
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    padding: 30px 15px;
    background-size: 207px;
    background-position: center;
    color: #fff !important;
    background-color: transparent !important;
    z-index: 1;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="108" height="78" viewBox="0 0 108 78" fill="none"><path d="M24.7603 24.5591V53.4529C24.7603 53.9924 25.1311 55.4758 27.4575 55.813V22.1991C25.1648 22.57 24.7603 24.0197 24.7603 24.5591Z" fill="%23002333"/><g filter="url(%23filter0_d_285_1090)"><path d="M77.8512 28.6217L83.2544 36.9677C83.9864 38.1403 83.9864 39.6233 83.2544 40.7614L77.8512 49.1074C77.1888 50.1076 76.0733 50.7284 74.8532 50.7284H29.6406C24.7603 50.7284 24.7603 53.6253 24.7603 53.6253V24.1038C24.7603 24.1038 24.7603 27.0007 29.6406 27.0007H74.8532C76.0733 27.0007 77.2237 27.6215 77.8512 28.6217Z" fill="%2375DA48"/></g><defs><filter id="filter0_d_285_1090" x="0.952532" y="0.296038" width="106.659" height="77.1371" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="11.9039"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_285_1090"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_285_1090" result="shape"/></filter></defs></svg>');
}

.support-ticket-div .order-history-tbl tbody tr td .btn {
    padding: 6px 7px;
}
.order-history-frame {
    overflow-x: auto;
}

.subscribe-popup {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 550px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 60px 50px;
    background: var(--theme-color);
    color: var(--white);
    z-index: 5;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.subscribe-popup .close-sub-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: 0;
    height: 16px;
    width: 16px;
    padding: 0;
}
.subscribe-popup .close-sub-btn svg {
    height: 100%;
    width: 100%;
}
.subscribe-popup .close-sub-btn svg path {
    fill: var(--white);
}
.subscribe-popup h2 {
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 31px;
    letter-spacing: 1px;
    margin-bottom: 24px;
    font-style: italic;
}
.subscribe-popup p {
    letter-spacing: 1px;
    max-width: 330px;
    margin: 0 auto 25px;
}

.color-wrp {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.color-wrp .color-picker-wrp {
    width: 100px;
}

.color-wrp .color-picker-wrp input[type="color"] {
    background-color: #fff;
    height: 55px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0px;
    padding: 0px;
    border: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
.theme-main .theme-avtar {
    margin-right: 15px;
}

/* Bundle product css */
.bundle-product-slider .wishlist-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: 0;
    background: none;
}
.bundle-product-slider .wishlist-btn a {
    position: unset;
    padding: 0;
}
.bundle-product-slider .product-btn-wrp button svg {
    height: 16px;
    width: 16px;
}
.bundle-product-slider .product-content {
    margin-top: 15px;
}
.bundle-product-slider .product-content h3 {
    font: var(--h4);
    margin-bottom: 15px;
}
.bundle-product-slider .product-content .reviews-stars-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.bundle-product-slider .product-content-bottom {
    margin: 0;
}
.bundle-product-slider .product-content-bottom .price {
    justify-content: start;
}

.choose_file_custom {
    display: none;
}

* Product-quick-view css */
.product-card .product-card-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.product-btn-wrp {
    position: absolute;
    right: 15px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateX(200%);
    transition: all 500ms ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}

.product-card:hover .product-btn-wrp {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
}

.product-btn-wrp button {
    border: 0;
    background: none;
    padding: 0;
}

.product-card-inner .product-btn-wrp button a {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    padding: 0;
    border-radius: 5px;
}

.product-btn-wrp button a:hover {
    background-color: var(--theme-color);
}

.product-btn-wrp button a svg path {
    transition: all 500ms ease-in-out 0s;
}

.product-btn-wrp button a svg path {
    fill: var(--white);
}

/* Product compare css */
.header-style-one li.compare-header a {
    height: 35px;
    width: 35px;
    background-color: var(--second-color);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header-style-one li.compare-header a svg {
    width: 24px;
    height: 24px;
    margin: 0;
}

.header-style-one li.compare-header a svg path {
    fill: var(--theme-color);
    transition: all 500ms ease-in-out 0s;
}

@media (max-width:767px){
    .header-style-one li.compare-header a{
        width: 30px;
        height: 30px;
    }
    .header-style-one li.compare-header a svg {
        width: 19px;
        height: 19px;
    }
}

/* spam prevent css start */
.external-btns{
    position: fixed;
    bottom: 90px;
    right: 30px;
    font-size: 14px;
    transition: bottom .2s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.external-left-btn{
    position: fixed;
    bottom: 15px;
    left: 30px;
    font-size: 14px;
    transition: bottom .2s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* spam prevent css end */
.modal-popup .no-product-image {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 84%;
}

.modal-popup .no-product-wrp {
    max-width: 600px;
    margin: auto;
}

.modal-popup .no-product-image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal-popup .compare-thumbs a {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 68%;
}

.modal-popup .compare-thumbs a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.modal-popup .card {
    height: 100%;
}

.modal-popup .compare-content-list .list p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 10px 0;
}


.product-btn-wrp button a svg {
    height: 16px;
    width: 16px;
}

.product-card .card-top {
    position: relative;
}

.product-card .compare-btn a svg {
    width: 21px;
    height: 21px;
}

.pdp-cart-btn-wrp,
.pdp-add-to-cart-btn,
.product-content-bottom, .pdp-counter, .product-detail-bttom-stuff {
    gap: 10px;
}

/** Plan Module*/
.plan-module{
    height:400px;
    overflow: hidden;
    overflow-y:auto;
}

.select-themes .uploaded-pics{
    height:510px;
    overflow: hidden;
    overflow-y:auto;
}
    .select-themes ul.uploaded-pics label{
        max-width: 100%;
        height:247px;
        width: 100%;
        margin-bottom: 15px;
    }
    .select-themes ul.uploaded-pics :checked+label img {
        border: 2px solid transparent;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .select-themes ul.uploaded-pics label:before{
        border-radius: 0;
    }
    .select-themes .theme-label{
        position: absolute;
        top: 10px;
        left: 0;
        line-height: 1;
        color: #FFF;
        background-color: #0095ff;
        padding: 7px 10px;
    }
    .select-themes .theme-label::after{
        content: "";
        position: absolute;
        right: -14px;
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-left: 14px solid #0095ff;
        top: 0;
        border-bottom: 14px solid transparent;
}
.select-swich .custom-control-label,
.trial-switch .form-label{
    flex: 1;
}

td.text-end{
    display: flex;
}

/* flipdown */
.flipdown .rotor-group{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flipdown .rotor-group .rotor-group-heading{
    flex:100%;
}
.flipdown .rotor{
    width: auto;
}

/* all-social-media-btn css start*/
.all-social-media-btn{
    gap: 10px;
    margin-top: 10px;
}
.all-social-media-btn:not(:last-of-type){
    margin-right: 10px;
}
.all-social-media-btn .btn-img img{
    max-width: 175px;
    width: 100%;
    object-fit: scale-down;
    height: 42px;
}

@media (max-width: 575px) {
    .register-page .form-footer,
    .all-social-media-btn{
      justify-content: center;
    }
}
/* all-social-media-btn css end*/

/* .addon-side-btn */
.addon-side-btn{
    position: fixed;
    left: 0;
    top: 150px;
    z-index: 10;
    transition: all 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* cart-open pct-btn */
body.cartOpen .pct-customizer .pct-c-btn,
body.wishOpen .pct-customizer .pct-c-btn{
    right: 0;

}