/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/
@media (min-width:992px) {
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .desk-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
  .menu-right .wishlist-header {
    display: none;
  }
  .header-style-one .mobile-menu {
    display: none;
  }
}
@media screen and (max-width:1400px) {
  /**** HOME PAGE CSS ****/
  .menu-btn.mobile-menu-button,
  .banner-main-content .social-links,
  .subs-design-img {
    display: none;
  }
  /**** HOME PAGE CSS ****/
}
@media screen and (max-width:1260px) {
  .footer-bottom {
    padding-top: 30px;
  }
  .footer-link .contactlink {
    font-size: 18px;
  }
  .site-footer {
    padding: 60px 0 40px;
  }
  .offset-left {
    margin-right: 0;
    padding: 0 15px;
  }
  .offset-right {
    margin-left: 0;
    padding: 0 15px;
  }
  .bestseller-section .desing-img-1 {
    max-width: 210px;
    top: 210px;
  }
  .testimonials-section .test-design-img {
    display: none;
  }

}
@media screen and (max-width:1199px) {
  :root {
    --h1: normal 500 40px/1.1 var(--first-font);
    --h2: normal 500 32px/1.1 var(--first-font);
    --h3: normal 500 26px/1.1 var(--first-font);
    --h4: normal 500 20px/1.1 var(--first-font);
    --h5: normal 500 18px/1.1 var(--first-font);
    --h6: normal 500 16px/1.1 var(--first-font);
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    padding-left: 10px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-left: 18px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li>a {
    font-size: 14px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a:after {
    height: 7px;
    width: 8px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a {
    padding-left: 15px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li>.category-btn svg {
    margin-right: 6px;
  }
  .footer-col {
    padding-right: 20px;
  }
  .banner-right-side {
    width: 35%;
  }
  /**** PDP PAGE CSS ***/
  .product-highlights li {
    font-size: 14px;
  }
  .pdp-thumb-slider .slick-arrow.slick-prev {
    right: -5px;
  }
  .pdp-thumb-slider .slick-arrow.slick-next {
    left: -5px;
  }
  /**** PDP PAGE CSS end***/
}
@media screen and (max-width:991px) {
  :root {
    --h1: normal 500 36px/1.1 var(--first-font);
    --common-text: normal 400 14px/1.4 var(--first-font);
  }
  .padding-top {
    padding-top: 40px;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  .flipdown {
    width: 290px;
  }
  .flipdown .rotor-group {
    margin-bottom: 10px;
  }
  .header-style-one .mobile-menu .mobile-menu-button {
    width: 100%;
  }
  .navigationbar-row {
    padding-right: 0;
  }
  .header-style-one .mobile-menu {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 22px;
    height: 22px;
    margin: 0 20px 0 0;
  }
  .style-two .menu-right:after {
    display: none;
  }
  .header-style-one .main-navigationbar .menu-items-col {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    padding-right: 15px;
    display: none;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-left: 15px;
  }
  .header-style-one.dark-header .menu-right li {
    padding: 15px 0;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li {
    padding: 15px 0;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a {
    padding-left: 15px;
  }
  .header-style-one .menu-right li a span {
    font-size: 14px;
  }
  .header-style-one .count {
    top: -4px;
    left: -8px;
  }
  .header-style-one .menu-right li.cart-header .count {
    top: -13px;
    left: -12px;
    position: absolute;
    width: 16px;
    height: 16px;
    background: var(--theme-color);
    color: var(--white);
    font-size: 12px;
    border-radius: 50%;
  }

  .site-header.head-sticky .logo-col a img {
    filter: invert(1);
  }
  .header-style-one .main-navigationbar .menu-items-col {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-style-one .menu-right li.has-item>a:after {
    display: none;
  }
  .header-style-one .menu-right li.has-item>a {
    padding-left: 0;
  }
  .mobile-menu-wrapper {
    left: 0;
    right: auto;
    -webkit-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
  }
  .mobile-menu-wrapper .menu-close-icon svg {
    margin-right: 0;
  }
  .footer-col:not(:last-of-type) {
    padding-left: 10px;
    margin-top: 0;
  }
  .pro-swatch {
    font-size: 14px;
  }
  .footer-subscribe-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .site-footer {
    padding: 40px 0;
  }
  .footer-col.footer-link-1 {
    max-width: 260px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 260px;
    flex: 0 0 260px;
  }
  /********* BLOG PAGE CSS start  **********/

  .blog-widget-inner.big-blog-widget {
    padding: 35px 15px 25px;
  }
  .blog-widget-inner p {
    margin: 12px 0;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 10px;
    font-size: 10px;
  }
  .blog-grid-row .blog-content-top h4 {
    font-weight: 600;
  }
  /********* BLOG PAGE CSS end  **********/
  /********** CART PAGE CSS starts **********/
  .cart-summery {
    margin-top: 30px;
  }
  
  /********** CART PAGE CSS end **********/
  .submit-btn {
    max-width: 250px;
    margin: 20px 0 0;
  }
  .article-banner .blog-cat {
    margin: 20px 0;
  }
  .art-auther {
    margin-bottom: 15px;
  }
  .quote-box {
    padding: 15px 60px 25px 0;
  }
  .quote-box h3 {
    font-size: 15px;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
    margin-bottom: 26px;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-history-tbl tr td {
    padding: 15px 10px 15px;
  }
  .order-confirm-details .link {
    font-size: 14px;
  }
  .order-confirm-details {
    padding: 20px 12px;
  }
  .acc-back-btn-wrp button {
    padding: 10px 20px;
  }
  #tab-6 .order-confirmation-body {
    padding: 20px 10px;
  }
  #tab-6 .order-confirmation-body .order-history-tbl tr td {
    padding: 15px 4px 15px;
  }
  .ttl-pric {
    font-size: 16px;
  }
  .checkout-page-right {
    max-width: 300px;
    width: 100%;
  }
  .checkout-page-left {
    margin-bottom: 25px;
  }
  /** ORDER SUMMERY PAGE  start **/
  .order-summery-page .section-title p {
    font-size: 15px;
    margin: 0;
  }
  /** ORDER SUMMERY PAGE end  **/
  /**** HOME PAGE CSS ****/
  .home-banner-section {
    padding: 80px 0 100px;
  }
  .tooltip {
    display: none;
  }
  .product-prescription-section-two {
    margin-bottom: -140px;
  }
  .bestseller-section {
    padding: 120px 0 100px;
  }
  .bestseller-section .desing-img-1 {
    display: none;
  }
  .product-prescription-section-two.pdp-page {
    border: 0;
  }
  /**** HOME PAGE CSS end****/
  /**** PDP PAGE CSS ****/
  .product-page-first-section {
    padding: 40px 0;
  }
  .product-page-first-section .pdp-left-column {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .product-page-first-section .pdp-center-column {
    margin-bottom: 40px;
  }
  .product-page-first-section .pdp-right-column {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .pdp-center-inner-sliders {
    max-width: 70%;
    margin: auto;
  }
  /**** PDP PAGE CSS end****/
  .hot-selling-product{
    padding: 290px 0 100px;
  }
  .header-style-one .menu-right li:not(:first-of-type) {
    margin-right: 20px;
}
}
@media screen and (max-width:767px) {
  .header-style-one.dark-header .menu-right li,
  .header-style-one .menu-right li {
    padding: 0 0;
  }
  .header-style-one .main-navigationbar {
    -webkit-box-shadow: 0px 4px 55px rgba(24, 58, 64, 0.12);
    box-shadow: 0px 4px 55px rgba(24, 58, 64, 0.12);
  }
  .header-style-one .main-navigationbar .menu-items-col {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-style-one .menu-right li a .icon-lable {
    display: none !important;
  }
  .header-style-one .menu-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 125px;
    margin-left: 30px;
  }
  .header-style-one .count {
    left: -5px;
  }
  .header-style-one .menu-right li {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
  .header-style-one .menu-right li a svg {
    height: 20px;
    width: 20px;
  }
  .header-style-one .menu-right li:last-of-type button,
  .header-style-one .menu-right li>* {
    display: block;
    border: none;
  }
  .mobile-menu-wrapper .mobile-menu-bar>ul>li a {
    color: var(--theme-color);
  }
  .mobile-menu-wrapper .mobile-menu-bar>ul>li a svg path {
    fill: var(--theme-color);
  }
  .header-style-one .mobile-menu {
    margin: 0 15px 0 0;
  }
  .mobile-menu-wrapper .menu-close-icon svg {
    width: 25px;
    height: 25px;
  }
  .mobile-menu-wrapper .menu-close-icon {
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    padding: 10px 20px;
    background: var(--theme-color);
    width: 100%;
  }
  .header-style-one.dark-header .count {
    background: var(--second-color);
    color: var(--theme-color);
  }
  .footer-bottom-row {
    padding: 0 0 40px;
  }
  .footer-bottom-row ul {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 20px 0 0;
  }
  /** MINI CART **/
  .cartDrawer {
    width: 100%;
  }
  .cartDrawer .mini-cart-body {
    padding: 15px;
  }
  .cartDrawer .mini-cart-header {
    padding: 16px 50px 16px 20px;
  }
  .mini-cart-footer .checkout-btn {
    max-width: 100%;
    padding: 12px 11px;
  }
  .mini-cart-footer,.cartDrawer .mini-cart-footer {
    padding: 15px;
  }
  .mini-cart-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .cartDrawer .mini-cart-footer-total-row {
    font-size: 18px;
    line-height: 18px;
    margin: 0 -10px 12px;
  }
  .cartDrawer .closecart {
    right: 19px;
    width: 15px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .cartDrawer .closecart svg path {
    fill: var(--white);
  }
  .mini-cart-footer .u-save {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .search-popup {
    padding: 0 15px;
  }
  .search-popup .close-search {
    left: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
  }
  .policy-links {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 16px;
  }
  .footer-col:not(:last-of-type) {
    padding: 0;
  }
  .footer-subscribe-col,
  .footer-col,
  .footer-col.footer-link-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .footer-col.footer-link-1 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .footer-bottom {
    padding-top: 0;
  }
  .site-footer {
    padding: 40px 0 0;
  }
  .emaillink.contactlink {
    margin: 0;
  }
  .slick-arrow {
    width: 32px;
    height: 32px;
  }
  .slick-slider .slick-arrow {
    opacity: 1;
  }
  .footer-row .footer-col:not(:first-child) {
    flex: 1 1 50%;
  }

  /********* BLOG PAGE CSS start  **********/
  .blog-widget-inner {
    margin-bottom: 15px;
  }
  /********* BLOG PAGE CSS end  **********/
  .abt-shp-column-right,
  .about-our-shop-section .row {
    margin-top: 30px;
  }
  .contact-right-column {
    margin-top: 0;
  }
  .blog-col-right .nice-select {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
  }
  .blog-col-right {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }
  .blog-col-left ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blog-head-row {
    border: 0;
  }
  .articlerightbar {
    padding-top: 40px;
  }
  .aticleleftbar h5 {
    margin: 0 0 20px 0;
    line-height: 1.3;
  }
  .articlerightbar .blog-grid .blog-widget:last-of-type {
    margin-bottom: 0;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
  }
  .post-lbl {
    margin: 0 10px 0 0;
    font-size: 14px;
  }
  .article-section .abt-user-img {
    margin-left: 5px;
  }
  .aticleleftbar p {
    margin-bottom: 15px;
  }
  .quote-box svg {
    height: 20px;
    width: 20px;
  }
  .quote-box {
    padding: 15px 35px 25px 0;
  }
  .order-summery-page .section-title p {
    font-size: 14px;
  }
  .register-page .section-title {
    margin-bottom: 30px;
  }
  .our-blog-section .section-title,
  .my-acc-head {
    margin-bottom: 26px;
  }
  .my-acc-rightbar {
    margin-top: 40px;
  }
  #scroll {
    background: var(--white);
    top: 60px;
    padding: 0;
  }
  #account-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #account-nav li a svg path {
    fill: var(--white);
  }
  #account-nav li a svg {
    margin-left: 0;
    height: 15px;
    width: 15px;
  }
  #account-nav li a span {
    display: none;
  }
  #account-nav li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .my-acc-leftbar li:not(:last-of-type) {
    border-bottom: 0;
  }
  .my-acc-leftbar h4 {
    padding: 15px 15px;
    color: var(--black);
    background: #e4e4e180;
  }
  .my-acc-leftbar {
    border: 0 !important;
  }
  #account-nav li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--theme-color);
  }
  .order-history-tbl tr th:nth-child(5),
  .order-history-tbl tr td:nth-child(5) {
    text-align: center;
  }
  .my-acc-right-content {
    padding-bottom: 30px;
  }
  #tab-6 .order-history-tbl tr th:nth-child(6),
  #tab-6 .order-history-tbl tr td:nth-child(6) {
    text-align: center;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-payment-box {
    max-width: 100%;
    margin: 15px auto 0 0;
  }
  .checkout-page .order-confirmation-body .row .col-12:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .checkout-page-left .login-form {
    margin-top: 30px;
  }
  .checkbox-custom label {
    font-size: 14px;
  }
  .checkout-page .checkbox-custom {
    margin-top: 0;
  }
  .set {
    margin-bottom: 12px;
  }
  .checkout-page .set .acnav-list {
    padding: 20px 15px;
  }
  .order-history-tbl tr td[data-label="quantity"] {
    padding: 10px;
  }
  .form-container,
  .order-confirmation-body {
    padding: 20px 15px;
  }
  .offset-container {
    padding: 0 15px;
  }
  /** CART PAGE CSS start**/
  .coupon-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .coupon-table {
    margin: 20px 0 0;
  }
  .cart-tble {
    border: 1px solid var(--border-color);
  }
  .cart-page-section .section-title {
    margin-bottom: 30px;
  }
  /** CART PAGE CSS end **/
  /****  COMMON BANNER SECTION CSS ****/
  .common-banner-section {
    padding: 40px 0;
  }
  .common-banner-content .back-btn {
    margin-bottom: 15px;
  }
  .common-banner-content .section-title h2 span {
    font-size: 14px;
  }
  /*** FAQ PAGE CSS ****/
  .faq-page {
    padding-bottom: 0;
  }
  /*** FAQ PAGE CSS end****/
  /*** ABOUT PAGE CSS ****/
  .about-us-section .about-us-box {
    margin-bottom: 20px;
  }
  /*** ABOUT PAGE CSS end****/
  /**** HOME PAGE CSS ****/
  .home-banner-section .banner-img-slider {
    width: 100%;
  }
  .home-banner-section::after {
    display: none;
  }
  .banner-right-side {
    display: none;
  }
  .home-banner-section {
    padding: 60px 0 40px;
  }

  .home-banner-section .banner-left-side {
    width: 100%;
  }
  .product-prescription-section .prescription-card {
    margin-top: 0;
  }
  .product-prescription-section {
    padding: 40px 0;
  }
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 13px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .categories-section .tabs .tab-link {
    margin-bottom: 0;
  }
  .categories-section .link-btn {
    margin-bottom: 20px;
  }
  .home-blog-section .banner-content-inner {
    margin-bottom: 30px;
  }
  .site-footer.order-status-footer {
    position: relative;
  }
  .product-prescription-section-two .left-side-image {
    max-width: 100%;
  }
  .product-list-row {
    margin-bottom: 0;
  }
  .product-second-section {
    padding: 40px 0;
    margin-bottom: 0;
  }
  /**** HOME PAGE CSS end****/
  /**** PDP PAGE CSS ****/
  .related-detail-images .banner-content-inner {
    text-align: right;
    margin-bottom: 20px;
  }
  /**** PDP PAGE CSS end****/
  .lang-dropdown .lang-icn{
    display:none;
  }
  .home-blog-section{
    padding: 40px 0;
  }
  table.cart-tble tr{
    padding-left:15px;
    padding-right:15px;
  }
  .my-acc-right-content:last-of-type{
    padding-bottom:0;
  }
  .modal-popup {
    padding: 20px 15px !important;
  }
  .modal-popup .form-group.col-md-12{
    width:100%;
  }
  .slick-slider .slick-prev {
    left: 10px;
}
.slick-slider .slick-next {
    right: 10px;
   
}
}
@media screen and (max-width:575px) {
  :root {
    --h2: normal 500 26px/1.1 var(--first-font);
    --h3: normal 500 24px/1.1 var(--first-font);
  }
  .btn {
    font-size: 14px;
    padding: 11px 20px;
  }
  .header-style-one .menu-right li:not(:first-of-type) {
    margin-right: 10px;
  }
  .footer-col {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
  .checkout-page .payment-method-form .checkbox-custom {
    margin: 0 0 15px 15px;
    width: 100%;
  }
  .section-title.d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .bestseller-section .banner-content-inner p{
    margin-top: 9px;
  }
  .section-title-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .payment-method-form .radio-group label .radio-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%
  }
  .payment-method-form .radio-group label .radio-right>* {
    text-align: left;
  }
  .blog-cat li a {
    padding: 10px 11px;
    font-size: 10px;
  }
  .reg-lbl {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }
  .login-form .submit-btn {
    max-width: 170px;
    margin: 15px 0 0 0;
  }
  .mobile-direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .order-confirm-details {
    margin-bottom: 20px;
  }
  .dated {
    width: 100%;
    margin-top: 12px;
  }
  .order-paymentcol:nth-child(3) {
    max-width: 100%;
  }
  .order-paymentcol {
    max-width: 100%;
    text-align: right;
  }
  .order-paycol-inner img {
    margin: 0 auto;
  }
  .order-confirmation-body .col-sm-6:last-child .order-confirm-details {
    margin: 0;
  }
  .checkout-page .order-confirmation-body .row .col-12 .order-confirm-details {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 14px;
  }
  .two-coll-media .tool-content {
    display: none;
  }
  /** CART PAAGE CSS start **/
  .coupon-text {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .coupon-text p {
    width: 100%;
    font-size: 14px;
    padding: 10px 0 0;
  }
  .coupon-code {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .coupon-code-text {
    width: 100%;
    margin-bottom: 15px;
  }
  /** CART PAAGE CSS end **/
  /********* BLOG PAGE CSS start  **********/
  .blog-widget-inner h3 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .blog-widget-inner p {
    margin: 12px 0 15px;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 5px;
  }
  .blog-cat {
    margin-bottom: 14px;
  }
  /********* BLOG PAGE CSS end  **********/
  .input-wrapper input {
    padding: 14px;
    font-size: 14px;
  }
  .input-wrapper .btn-subscibe {
    width: 60px;
    font-size: 14px;
  }
  .articlerightbar .blog-cat li {
    padding: 10px 5px;
  }
  .price-btn ins {
    font-size: 14px;
  }
  .produdt-filter-cat {
    display: none;
  }
  /**** HOME PAGE CSS ****/
  .prescription-card {
    margin-bottom: 30px;
  }
  .header-style-one .menu-right li.has-item>a {
    padding: 20px 0;
  }
  .product-prescription-section-two .right-col p {
    color: var(--black);
  }
  .product-prescription-section-two {
    margin-bottom: 0px;
  }
  .product-prescription-section-two .left-side-image {
    margin-bottom: 20px;
  }
  .hot-selling-product {
    padding: 0px 0 40px;
    margin-bottom: 0;
  }
  .bestseller-section {
    padding: 40px 0;
    margin-bottom: 0;
  }
  .hot-selling-product .bg-sec {
    margin-bottom: 0;
    padding: 20px 15px;
  }
  .product-list-row .product-list-col:not(:last-child){
    margin-bottom: 30px;
  }

  .shop-products-section {
    padding: 40px 0;
  }
  .bestseller-section .cat-tab {
    margin: 10px 0;
  }
  /**** HOME PAGE CSS end****/
  /**** PRODUCT PAGE CSS start****/
  .pdp-center-inner-sliders {
    max-width: 100%;
  }
  .product-page-first-section .pdp-right-column {
    text-align: right;
    margin-top: 20px;
  }
  .product-page-first-section .pdp-right-column-inner .rating,
  .pdp-block.pdp-variable,
  .product-highlights li {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .product-page-first-section .product-highlights {
    max-width: fit-content;
  }
  .product-page-first-section .pdp-center-column {
    margin-bottom: 30px;
  }
  .product-info {
    margin: 15px 0;
  }
  .product-page-first-section .pdp-left-column-inner {
    padding-left: 0;
  }
  .product-page-first-section .pdp-thumb-img.img-wrapper {
    padding-top: 105%;
  }
  .product-page-first-section .pdp-thumb-slider-itm {
    margin: 0 5px;
  }
  .view-lbl {
    margin-bottom: 30px;
  }
  .post-lbl {
    margin: 10px 0 0;
    width: 100%;
  }
}
@media screen and (max-width:370px) {
  .stp-menu-widget {
    padding: 24px 0 0 0;
    margin-top: 24px;
  }
  .mobile-menu-bar .stp-navlink:not(:last-of-type) {
    margin-left: 15px;
  }
  .fea-coll-contnt-left {
    width: 100%;
    margin-bottom: 10px;
  }
  .column-positive-us-right .col-sm-4.col-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .acc-back-btn-wrp button {
    padding: 10px 15px;
    min-width: 108px;
  }
  .checkout-page .forgot-pass {
    font-size: 14px;
  }
  .btn-flex a {
    padding: 10px 14px !important;
    min-width: 113px;
  }
  .center-descrp {
    display: none;
  }
  .payment-method-form .radio-group label .radio-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .payment-method-form .radio-group label span {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-left: 0;
  }
  .payment-method-form .radio-group label .radio-right>* {
    padding-right: 5px;
  }
  .payment-method-form .radio-group label .radio-right b {
    font-size: 14px;
  }
  .payment-method-form .radio-group label .radio-right img {
    margin-right: 9px;
    max-width: 35px;
  }
}
/************ 23/08/2023 ***************/

@media screen and (max-width:991px) {
  .our-blog-section .section-title {
    margin-bottom: 26px;
  }
  .blog-head-row .blog-col-right {
    max-width: 100% !important;
    justify-content: start;
    margin-top: 20px;
  }
  .blog-col-right .select-lbl {
    margin-right: 0px;
  }
  .blog-col-right .nice-select {
    max-width: 100px;
  }
  .product-filter-column {
    position: fixed;
    top: 0;
    background: var(--white);
    right: 0;
    max-width: 315px;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(-100%, 0px);
    transform: translate(100%, 0px);
  }
  .product-filter-body {
    padding: 40px 15px;
    overflow: auto;
    height: 100%;
  }
  .close-filter svg {
    height: 100%;
    width: 100%;
  }
  .close-filter svg path {
    fill: var(--white);
  }
  .filter-open .product-filter-column {
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .product-heading-right-column {
    border-right: 0;
    padding-left: 0 !important;
  }
  .filter-title div {
    max-width: 40px;
    border: 1px solid var(--theme-color);
    padding: 2px;
    display: block !important;
  }
  .filter-title .desk-only {
    display: none !important;
  }
  .product-filter-right-column {
    border-right: none;
    padding-right: 0px !important;
  }
  .product-filter-body .close-filter {
    position: absolute;
    top: 0;
    background: var(--theme-color);
    height: 30px;
    width: 30px;
    padding: 7px;
    left: 0;
    cursor: pointer;
    display: block !important;
  }
  .cart-tble tr th:first-child,
  .cart-tble tr td:first-child {
    width: 90px;
  }

  .order-history-frame.order-div {
    overflow: auto;
  }
  .product-heading-row .row .filter-title h4{
    display:none;
  }
 
}
@media screen and (max-width:767px) {
  .section-title {
    margin-bottom: 16px;
  }
  .blog-grid-section .section-title {
    text-align: center;
  }
  .blog-head-row .blog-col-right {
    justify-content: center;
    margin-top: 0;
  }
  .filter-title div {
    width: 32px;
    border: 1px solid var(--theme-color);
    padding: 2px;
  }
  .cart-tble tr th:first-child,
  .cart-tble tr td:first-child {
    margin: auto;
  }
  .checkout-page .login-form {
    margin-top: 15px;
  }
  .payment-method-form .radio-group label .radio-right img {
    max-width: 50px;
  }
  .order-history-tbl tr td[data-label="Product"] {
    max-width: 90px;
    margin: auto;
  }
  .shop-products-section {
    padding: 40px 0;
  }
  .blog-col-left ul li a {
    padding: 4px 15px;
  }
  .bestseller-section .banner-content-inner {
    margin: 0 auto 15px;
  }
  .price ins {
    font-size: 18px;
  }
  .shop-products-section .section-title h2 br {
    display: none;
  }
  .tab-vid-section .tabs{
    gap:10px;
  }
  .tab-vid-section .tab-link a {
    font-size: 16px;
}
.menu-right .menu-dropdown{

  min-width: 150px;
}
.flipdown .rotor-group {
  height: 65px;
  width: 65px;
  padding: 6px;

}
.flipdown .rotor-group-heading:before {
  line-height: 21px;
  font-size: 12px;
}
}
@media screen and (max-width:575px) {
  .product-sorting-row {
    justify-content: flex-end;
  }
  .banner-content-inner {
    max-width: 100%;
  }
  .shop-products-section .section-title h2 {
    max-width: 100%;
  }
  .footer-widget h3,
  .footer-widget h2,
  .footer-widget h4 {
    margin-bottom: 10px;
  }
  .cartDrawer .mini-cart-footer {
    padding: 15px;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 90px;
    margin-left: 10px;
  }
  .product-prescription-section {
    padding: 40px 0 ;
  }
  .faq-search-form {
    margin: 15px 0;
  }
  .right-side-header .lang-dropdown .link-icon {
    display: none;
  }
  .pdp-variable {
    margin-top: 0px !important;
  }
  .footer-col.footer-link-3 .footer-col.footer-link-1 {
    padding-left: 0px !important;
}
.hot-selling-product .banner-img {
  display: none;
}
.pdp-right-column-inner .review-star-pdp {
  justify-content: start;
}
.tab-vid-section .tab-link a {
  padding: 5px 0;
}
.pct-customizer {
  left: -240px !important;
}

}
@media screen and (max-width: 420px) {
  .order-paymentcol {
   max-width: 100%;
 }
}