/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/
@media (min-width: 991px) {
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .header-style-one .mobile-menu {
    display: none;
  }
  .desk-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
}
@media screen and (max-width:1440px) {}
@media screen and (max-width:1260px) {
  .footer-link .contactlink {
    font-size: 18px;
  }
  .site-footer {
    padding: 60px 0 40px;
  }
  .offset-left {
    margin-left: 0;
    padding: 0 15px;
  }
  .offset-right {
    margin-left: 0;
    padding: 0 15px;
  }
  .home-section .offset-left,
  .card-tab-slider-sec .offset-left {
    padding-left: 0;
  }
  .card-tab-slider-sec .btn {
    padding: 11px 15px;
  }
  .home-slide-inner {
    padding: 50px 0;
  }
  .home-slider-arrow {
    bottom: 74px;
  }
}
@media screen and (max-width:1199px) {
  :root {
    --h1: normal 700 40px/1.2 var(--second-font);
    --h2: normal 700 32px/1.2 var(--second-font);
    --h3: normal 700 26px/1.2 var(--second-font);
    --h4: normal 700 20px/1.2 var(--second-font);
    --h5: normal 700 18px/1.2 var(--second-font);
    --h6: normal 700 16px/1.2 var(--second-font);
  }
  .header-style-one .menu-right .header-call .call-text {
    display: none;
  }
  .header-style-one .menu-right .header-call .call-icon {
    display: block;
    margin: auto;
  }
  /**** HOME PAGE CSS ****/
  .home-section .home-text .sub-title {
    margin-bottom: 15px;
  }
  .home-section .home-text .price {
    margin-bottom: 30px;
  }
  .home-slide-inner {
    padding: 0 0 50px;
  }
  .home-slider-arrow::after {
    height: 100px;
  }
  .bike-slides-inner {
    padding-right: 30px;
  }
  .bike-details li {
    font-size: 16px;
  }
}
@media screen and (max-width:991px) {
  :root {
    --h1: normal 700 36px/1.2 var(--second-font);
    --h2: normal 700 32px/1.2 var(--second-font);
    --h3: normal 700 22px/1.2 var(--second-font);
    --h4: normal 700 20px/1.2 var(--second-font);
    --h5: normal 700 18px/1.2 var(--second-font);
    --h6: normal 700 16px/1.2 var(--second-font);
    --common-text: normal 400 14px/1.4 var(--first-font);
  }
  .header-style-one {
    background: var(--second-color);
  }
  .header-style-one .main-navigationbar .menu-items-col {
    align-items: center;
  }
  .header-style-one .menu-right .header-call {
    background-color: transparent;
  }
  .header-style-one .menu-right {
    justify-content: flex-end;
  }
  .header-style-one .menu-right li,
  .header-style-one .menu-right .header-call {
    flex-grow: 0;
    padding: 10px 0;
    margin-right: 22px;
  }
  .header-style-one .menu-right li.wishlist-icon {
    background: transparent;
  }
  .header-style-one .main-navigationbar .logo-col a {
    padding: 20px 0;
  }
  .header-style-one .menu-items-col .mobile-show {
    display: inline-flex;
  }
  .header-style-one .menu-items-col .desk-show {
    display: none;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 125px;
    margin-right: -15px;
  }
  .main-home-section .section-title h1,
  .main-home-section .section-title h2 {
    font-size: 40px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-right: 15px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li {
    padding: 20px 0;
  }
  .header-style-one .menu-right li a .icon-lable,
  .header-style-one .menu-right .cart-header .price,
  .header-style-one .menu-right .profile-header span,
  .header-style-one .menu-right .profile-header a:before,
  .header-style-one .menu-right .profile-header a:after,
  .header-style-one .menu-right .search-header a::before {
    display: none;
  }
  .header-style-one .menu-right .cart-header .btn {
    background: transparent;
    border: 0;
    padding: 0;
  }
  .header-style-one li.menu-lnk .menu-dropdown {
    min-width: 120px;
    /* right: 0; */
  }
  .footer-subscribe-form {
    flex: auto;
  }
  .footer-top {
    margin-bottom: 26px;
  }
  .footer-subscribe-col .footer-top-row {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-col {
    padding-right: 10px;
  }
  .pro-swatch {
    font-size: 14px;
  }
  .footer-subscribe-col {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .site-footer {
    padding: 40px 0;
  }
  .padding-top {
    padding-top: 40px;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget-inner {
    padding: 25px 15px;
  }
  .blog-widget-inner.big-blog-widget {
    padding: 35px 15px 25px;
  }
  .blog-widget-inner p {
    margin: 12px 0;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 10px;
    font-size: 14px;
  }
  .blog-grid-row .blog-content-top h4 {
    font-weight: 600;
  }
  /********* BLOG PAGE CSS end  **********/
  /********** CART PAGE CSS starts **********/
  .cart-summery {
    margin-top: 30px;
  }
  .cart-summery .btn {
    max-width: 300px;
    margin-left: auto;
  }
  /********** CART PAGE CSS end **********/
  .submit-btn {
    max-width: 230px;
    margin: 20px 0 0;
  }
  .article-banner .blog-cat {
    margin: 20px 0;
  }
  .art-auther {
    margin-bottom: 15px;
  }
  .quote-box {
    padding: 15px 0 25px 60px;
  }
  .quote-box h3 {
    font-size: 15px;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
    margin-bottom: 26px;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-history-tbl tr td {
    padding: 15px 10px 15px;
  }
  .order-confirm-details .link {
    font-size: 14px;
  }
  .order-confirm-details {
    padding: 20px 12px;
  }
  .acc-back-btn-wrp button {
    padding: 10px 20px;
  }
  #tab-6 .order-confirmation-body {
    padding: 20px 10px;
  }
  #tab-6 .order-confirmation-body .order-history-tbl tr td {
    padding: 15px 4px 15px;
  }
  .ttl-pric {
    font-size: 16px;
  }
  .checkout-page-right {
    max-width: 300px;
    width: 100%;
  }
  .checkout-page-left {
    margin-bottom: 25px;
  }
  /** ORDER SUMMERY PAGE  start **/
  .order-summery-page .section-title p {
    font-size: 15px;
    margin: 0;
  }
  /** ORDER SUMMERY PAGE end  **/
  /**** HOME PAGE CSS ****/
  .home-section .home-text {
    width: 50%;
    display: block;
    padding-top: 0;
  }
  .bike-details {
    margin: 30px 0;
    max-width: 286px;
    flex-wrap: wrap;
  }
  .home-img {
    height: 340px;
  }
  .home-col {
    align-items: center;
  }
  .bike-details li {
    font-size: 14px;
    max-width: 50%;
    width: 100%;
    margin-bottom: 20px;
  }
  .home-slider-arrow::after {
    width: 100%;
    height: 85px;
  }
  .home-slide-inner {
    padding: 50px 0 0;
  }
  .home-slider-arrow {
    right: 0;
    bottom: 0;
  }
  .home-slider .slick-dots {
    bottom: 3px;
    left: 180px;
  }
  .bike-deatail-slider-sec::after {
    left: 0;
    right: auto;
  }
  .bestseller-section {
    padding: 40px 0;
  }
  .best-pro-section .right-content .sub-title {
    padding: 10px 0 10px 0;
    font-size: 24px;
  }
  .card-tab-slider-sec .img-col {
    display: none;
  }
  .card-tab-slider-sec .offset-left {
    padding: 0 15px;
  }
  .pro-main-section {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .checkout-page-right .chnage_address{
    margin : 15px 0px;  
  }
}
@media screen and (max-width:767px) {
  .section-title {
    margin-bottom: 20px;
  }
  .header-style-one .main-navigationbar .menu-items-col {
    justify-content: flex-end;
  }
  .header-style-one .menu-right li.cart-header {
    padding: 0;
    background: transparent;
  }
  .cartDrawer {
    width: 100%;
  }
  .cartDrawer .mini-cart-header {
    padding: 16px 20px 16px 50px;
  }
  .mini-cart-footer .checkout-btn {
    max-width: 100%;
    padding: 12px 11px;
  }
  .mini-cart-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .mini-cart-footer-total-row {
    font-size: 18px;
    line-height: 18px;
    margin: 0 -10px 12px;
  }
  .cartDrawer .closecart {
    left: 15px;
    right: auto;
    width: 15px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .cartDrawer .closecart svg path {
    fill: var(--white);
  }
  .mini-cart-footer .u-save {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .search-popup {
    padding: 0 15px;
  }
  .search-popup .close-search {
    right: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
  }
  .policy-links {
    justify-content: flex-start;
    margin-top: 16px;
  }
  .header-style-one .menu-right .header-call {
    text-align: left;
  }
  .footer-menu {
    margin-top: 15px;
  }
  .footer-subscribe-col,
  .footer-col {
    margin-bottom: 20px;
  }
  .footer-bottom {
    padding-top: 0;
  }
  /* .footer-bottom .footer-copyright {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  } */
  .emaillink.contactlink {
    margin: 0;
  }
  .slick-slider .slick-arrow {
    opacity: 1;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget {
    flex: 0 0 100%;
  }
  .blog-widget-inner {
    margin-bottom: 15px;
  }
  /********* BLOG PAGE CSS end  **********/
  .icon-filter {
    max-width: 32px;
    margin: 0 auto;
  }
  .abt-shp-column-right,
  .about-our-shop-section .row {
    margin-top: 30px;
  }
  .contact-right-column {
    margin-top: 0;
  }
  .contact-right-inner h2 {
    color: var(--second-color);
  }
  .blog-col-right .nice-select {
    flex: 0 0 120px;
  }
  .blog-col-right {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .blog-col-left ul {
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }
  .blog-head-row {
    border: 0;
  }
  .articlerightbar {
    padding-top: 40px;
  }
  .aticleleftbar h5 {
    margin: 0 0 20px 0;
    line-height: 1.3;
  }
  .articlerightbar .blog-grid .blog-widget:last-of-type {
    margin-bottom: 0;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
  }
  .post-lbl {
    margin: 0 0 0 10px;
    font-size: 14px;
  }
  .article-section .abt-user-img {
    margin-right: 5px;
  }
  .aticleleftbar p {
    margin-bottom: 15px;
  }
  .quote-box svg {
    height: 20px;
    width: 20px;
  }
  .quote-box {
    padding: 15px 0 25px 35px;
  }
  .order-summery-page .section-title p {
    font-size: 14px;
  }
  .order-summery-page .section-title h2 {
    margin-bottom: 26px;
  }
  .register-page .section-title {
    margin-bottom: 30px;
  }
  .our-blog-section .section-title {
    margin-bottom: 26px;
  }
  .my-acc-head {
    margin-bottom: 0px;
  }
  .back-toshop {
    margin-bottom: 20px;
  }
  .my-acc-rightbar {
    margin-top: 40px;
  }
  #scroll {
    background: var(--white);
    top: 53px;
    padding: 0;
  }
  #account-nav {
    display: flex;
    justify-content: space-between;
  }
  #account-nav li a svg path {
    fill: var(--white);
  }
  #account-nav li a svg {
    margin-right: 0;
    height: 15px;
    width: 15px;
  }
  #account-nav li a span {
    display: none;
  }
  #account-nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-acc-leftbar li:not(:last-of-type) {
    border-bottom: 0;
  }
  .my-acc-leftbar h4 {
    padding: 15px 15px;
    color: var(--black);
  }
  .my-acc-leftbar {
    border: 0 !important;
  }
  #account-nav li a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 40px;
    justify-content: center;
    background: var(--theme-color);
  }
  .order-history-tbl tr th:nth-child(5),
  .order-history-tbl tr td:nth-child(5) {
    text-align: center;
  }
  .my-acc-right-content {
    padding-bottom: 30px;
  }
  #tab-6 .order-history-tbl tr th:nth-child(6),
  #tab-6 .order-history-tbl tr td:nth-child(6) {
    text-align: center;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-payment-box {
    max-width: 100%;
    margin: 15px 0 0 auto;
  }
  .checkout-page .order-confirmation-body .row .col-12:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .checkout-page-left .login-form {
    margin-top: 30px;
  }
  .checkbox-custom label {
    font-size: 14px;
  }
  .checkout-page .checkbox-custom {
    margin-top: 0;
  }
  .set {
    margin-bottom: 15px;
  }
  .faqs-container.row {
    margin-bottom: 20px;
  }
  .checkout-page .set .acnav-list {
    padding: 20px 15px;
  }
  .order-history-tbl tr td[data-label="quantity"] {
    padding: 10px;
  }
  .form-container,
  .order-confirmation-body {
    padding: 20px 15px;
  }
  .offset-container {
    padding: 0 15px;
  }
  /** CART PAGE CSS start**/
  .coupon-text {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .coupon-table {
    margin: 20px 0 0;
  }
  .cart-tble {
    border: 1px solid var(--border-color);
  }
  .cart-page-section .section-title {
    margin-bottom: 30px;
  }
  table .pro-img-cart img {
    max-width: 50px;
  }
  /** CART PAGE CSS end **/
  /****  COMMON BANNER SECTION CSS ****/
  .common-banner-section {
    padding: 40px 0;
  }
  .common-banner-content .back-btn {
    margin-bottom: 15px;
  }
  .common-banner-content .section-title h2 span {
    font-size: 14px;
  }
  /*** FAQ PAGE CSS ****/
  .faq-page {
    padding-bottom: 0;
  }
  /*** FAQ PAGE CSS end****/
  /*** ABOUT PAGE CSS ****/
  .about-us-section .about-us-box {
    margin-bottom: 20px;
  }
  /*** ABOUT PAGE CSS end****/
  /**** HOME PAGE CSS ****/
  .home-section .offset-left {
    padding: 0 15px;
  }
  .home-section .home-text {
    max-width: 100%;
    display: block;
    padding-top: 0;
    width: 100%;
  }
  .bike-details {
    max-width: 100%;
    margin: 30px 0 0;
  }
  .bike-details li {
    max-width: 25%;
  }
  .home-slide-inner {
    padding: 40px 0 50px 0;
  }
  .home-slider-arrow {
    max-width: 100%;
    justify-content: end;
    padding-left: 15px;
  }
  .home-img {
    height: auto;
    flex: 0 0 100%;
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 75%;
  }
  .home-section .home-text .sub-title {
    font-size: 20px;
  }
  .home-text-inner {
    margin-bottom: 20px;
  }
  .home-slider-arrow svg {
    height: 12px;
    width: 12px;
  }
  .bestseller-section .section-title,
  .product-card-section .section-title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .section-title ul.tabs {
    margin-top: 15px;
    gap: 10px;
  }
  .best-pro-section {
    padding-top: 40px;
  }
  .best-pro-section .left-side {
    display: flex;
    width: 100%;
  }
  .best-pro-section .left-side .img-wrapper {
    width: 100%;
    padding-top: 0;
  }
  .best-pro-section .right-content .sub-title:after {
    display: none;
  }
  .best-pro-section .right-content .sub-title {
    background: none;
    padding: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .best-pro-section .right-content .btn {
    margin-top: 20px;
  }
  .service-row .service-col:not(:last-child) .service-card {
    margin-bottom: 40px;
  }
  .card-tab-slider-sec .btn {
    font-size: 14px;
  }
  .best-pro-section .right-content {
    margin-top: 30px;
    padding-right: 0;
    padding-top: 0;
    max-width: 100%;
  }
  .service-col:not(:last-child) {
    margin-bottom: 35px;
  }
  .service-col:last-child {
    margin-bottom: 15px;
  }
  /* product page  */
  .pro-main-section .product-thumb-item .thumb-img {
    padding-top: 70%;
  }
  .card-tab-slider-sec .product-card-inner {
    padding: 10px 0;
  }
  .section-title br {
    display: none;
  }
  .logo-slider-section {
    padding: 20px 0;
  }
  .logo-slider-section-pdp {
    padding: 20px 0;
  }
  .pro-main-section {
    padding: 40px 0 10px;
  }
  .pro-main-section .row [class*="col-"]:first-of-type {
    order: 2;
  }
  .pro-main-section .row [class*="col-"]:last-of-type {
    order: 1;
  }
  .pro-main-section .left-side {
    max-width: 100%;
    margin: 30px 0 0;
  }
  .common-banner-section {
    padding: 40px 0;
  }
  .about-us-section .section-title {
    margin: 0 auto 30px;
  }
  .product-page .best-pro-section  .offset-container{
    padding: 0px;
  }
  .payment-method-form .radio-group label .radio-right img{
    max-width: 50px;
  }
}
@media screen and (max-width:575px) {
  :root {
    --h2: normal 700 28px/1 var(--second-font);
  }

  .flipdown .rotor-group {
    margin-bottom: 10px;
  }
  .size-selectors {
    width: 100%;
  }
  .section-title.d-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-title ul.tabs {
    margin-top: 0;
  }
  .section-title.d-flex>*:first-child {
    margin-bottom: 15px;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 110px;
  }
  .menu-right svg {
    width: 20px;
    height: 20px;
  }
  .header-style-one .menu-right li,
  .header-style-one .menu-right .header-call {
    margin-left: 0px;
    margin-right: 15px;
  }
  .header-style-one .mobile-menu {
    margin: 0px 10px 0 0px;
  }
  .footer-col {
    flex: 0 0 100%;
  }
  .checkout-page .payment-method-form .checkbox-custom {
    margin: 0 15px 15px 0;
    width: 100%;
  }
  .section-title-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 0 0 32%
  }
  .payment-method-form .radio-group label .radio-right>* {
    text-align: right;
  }
  .blog-cat li:not(:last-of-type) {
    margin-right: 0;
  }
  .reg-lbl {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }
  .login-form .submit-btn {
    max-width: 170px;
    margin: 15px 0 0 0;
  }
  .mobile-direction-column {
    flex-direction: column;
  }
  .order-confirm-details {
    margin-bottom: 20px;
  }
  .dated {
    width: 100%;
    margin-top: 12px;
  }
  .order-paymentcol:nth-child(3) {
    max-width: 100%;
  }
  .order-paymentcol {
    max-width: 50%;
    text-align: center;
  }
  .order-paycol-inner img {
    margin: 0 auto;
  }
  .order-confirmation-body .col-sm-6:last-child .order-confirm-details {
    margin: 0;
  }
  .checkout-page .order-confirmation-body .row .col-12 .order-confirm-details {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 14px;
  }
  .two-coll-media .tool-content {
    display: none;
  }
  .size-selectors .inline_contant .nice-select {
    width: 290px;
  }
  .pro-main-section .price {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
  /** CART PAAGE CSS start **/
  .coupon-text {
    flex-wrap: wrap;
  }
  .coupon-text p {
    width: 100%;
    font-size: 14px;
    padding: 10px 0 0;
  }
  .coupon-code {
    flex-wrap: wrap;
  }
  .coupon-code-text {
    width: 100%;
    margin-bottom: 15px;
  }
  /** CART PAAGE CSS end **/
  /********* BLOG PAGE CSS start  **********/
  .blog-cat li {
    padding: 10px 8px;
    font-size: 14px;
  }
  .blog-widget-inner h3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .blog-widget-inner p {
    margin: 12px 0 15px;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 5px;
  }
  .blog-cat {
    margin-bottom: 14px;
  }
  .blog-page-banner .common-banner-content p,
  .blog-page-banner .section-title {
    margin-bottom: 20px;
  }
  /********* BLOG PAGE CSS end  **********/
  .input-wrapper input {
    padding: 14.5px 100px 14.5px 15px;
    font-size: 14px;
  }
  .faq-search-form .input-wrapper .btn-subscibe {
    right: 3px;
  }
  .input-wrapper .btn-subscibe {
    width: 95px;
    font-size: 14px;
  }
  .articlerightbar .blog-cat li {
    padding: 10px 5px;
  }
  .price-btn ins {
    font-size: 14px;
  }
  .produdt-filter-cat {
    display: none;
  }
  /**** HOME PAGE CSS ****/
  .home-text-inner br {
    display: none;
  }
  .bike-details span {
    font-size: 14px;
  }
  .bike-deatail-slider-sec::after {
    max-width: 100%;
  }
  .left-content {
    max-width: 100%;
  }
  .right-side {
    flex: 0 0 100%;
  }
  .bike-slides-inner img {
    margin: 30px 0 0 0;
    max-width: 100%;
  }
  .bike-slides-inner {
    padding: 0;
  }
  .card-tab-slider-sec .product-card-inner .product-card-image a {
    padding-top: 80%;
  }
  /* product page  */
  .pro-main-section .product-thumb-item .thumb-img {
    padding-top: 100%;
  }
  .pro-main-section .product-thumb-slider {
    max-width: 100%;
    margin-top: 15px;
  }
  .footer-bottom .footer-copyright {
    margin-top: 15px;
  }
  .slider-wrapper {
    display: block;
  }
  .pro-main-section .product-main-slider {
    max-width: 100%;
  }
  .pro-main-section .price {
    font-size: 16px;
  }
  .card-tab-slider-sec .product-card-inner {
    padding: 10px 0;
    flex-wrap: wrap;
  }
  .card-tab-slider-sec .product-card-inner .product-card-image {
    flex-basis: 100%;
    margin-right: 0;
  }
  .card-tab-slider-sec .product-card-inner .card-bottom {
    width: 100%;
    padding: 20px;
  }
  .home-slide-inner {
    padding: 40px 0 50px;
  }
  .mini-wish-item .btn {
    width: auto !important;
  }
  .mini-wish-item:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .price ins {
    font-size: 15px;
  }
  .mini-cart-image{
    width: 60px;
  }
  .remove_item_from_cart{
    padding: 8px;
  }
  .mini-cart-item .qty-spinner{
    max-width: 85px;
  }
  .cartDrawer .mini-cart-item:not(:last-of-type) ,
  .mini-wish-item:not(:last-of-type){
      margin-bottom: 15px !important;
  }
}
@media screen and (max-width:420px) {
  .site-footer .input-box {
    flex-wrap: wrap;
  }
  .site-footer .input-box button {
    padding: 12px 20px;
    margin-top: 10px;
  }
  .bike-details {
    margin-top: 35px;
  }
  .order-paymentcol {
    max-width: 100%;
  }

}
@media screen and (max-width:370px) {
  .stp-menu-widget {
    padding: 24px 0 0 0;
    margin-top: 24px;
  }
  .mobile-menu-bar .stp-navlink:not(:last-of-type) {
    margin-right: 15px;
  }
  .fea-coll-contnt-left {
    width: 100%;
    margin-bottom: 10px;
  }
  .column-positive-us-right .col-sm-4.col-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  .post-lbl {
    margin: 10px 0 0;
    width: 100%;
  }
  .acc-back-btn-wrp button {
    padding: 10px 15px;
    min-width: 108px;
  }
  .checkout-page .forgot-pass {
    font-size: 14px;
  }
  .btn-flex a {
    padding: 10px 14px !important;
    min-width: 113px;
  }
  .center-descrp {
    display: none;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 1;
  }
  .payment-method-form .radio-group label span {
    flex: 0 0 50%;
    padding-right: 0;
  }
  .payment-method-form .radio-group label .radio-right>* {
    padding-left: 5px;
  }
  .payment-method-form .radio-group label .radio-right b {
    font-size: 14px;
  }
  .payment-method-form .radio-group label .radio-right img {
    margin-left: 9px;
    max-width: 35px;
  }
}
/************ 28/08/2023 ***************/

@media screen and (max-width:991px) {
  .product-filter-column {
    position: fixed;
    top: 0;
    background: var(--white);
    left: 0;
    max-width: 315px;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate(-100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate(-100%, 0px);
  }
  .product-filter-body {
    padding: 40px 15px;
    overflow: auto;
    height: 100%;
  }
  .close-filter svg {
    height: 100%;
    width: 100%;
  }
  .close-filter svg path {
    fill: var(--white);
  }
  .filter-open .product-filter-column {
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .product-heading-right-column {
    border-right: 0;
    padding-right: 0 !important;
  }
  .filter-title div {
    max-width: 40px;
    border: 1px solid var(--theme-color);
    padding: 2px;
    display: block !important;
  }
  .filter-title .desk-only {
    display: none !important;
  }
  .product-filter-right-column {
    border-left: none;
    padding-left: 0px !important;
  }
  .product-filter-body .close-filter {
    position: absolute;
    top: 0;
    background: var(--theme-color);
    height: 30px;
    width: 30px;
    padding: 7px;
    right: 0;
    cursor: pointer;
    display: block !important;
  }
  .blog-head-row .blog-col-right {
    max-width: 100% !important;
    justify-content: start;
    margin-top: 20px;
  }
  .blog-col-right .select-lbl {
    margin-left: 0px;
  }
  .blog-col-right .nice-select {
    max-width: 100px;
  }
  .cart-tble tr th:first-child,
  .cart-tble tr td:first-child {
    width: 90px;
  }

  .order-history-frame.order-div {
    overflow: auto;
  }
  .side-menu-navigationbar {
    margin-top: -15px;
  }
  .header-style-one .count {
    top: -10px;
  }
  .footer-subscribe h2 {
    margin: 0 0 0px 0;
  }
}
@media screen and (max-width:767px) {
  .product-sorting-row {
    width: 100%;
    justify-content: flex-end;
  }
  .blog-head-row .blog-col-right {
    justify-content: center;
    margin-top: 0;
  }
  .filter-title div {
    width: 32px;
  }
  .cart-tble tr th:first-child,
  .cart-tble tr td:first-child {
    margin: auto;
  }
  .checkout-page .login-form {
    margin-top: 15px;
  }
  .order-history-tbl tr td[data-label="Product"] {
    max-width: 90px;
    margin: auto;
  }
  .home-section .home-text h2 {
    margin-bottom: 20px;
  }
  .bestseller-card-inner .bestseller-title h3,
  .product-card-inner .product-title h3 {
    padding-bottom: 15px;
  }
  .bestseller-section .price,
  .product-card-inner .price {
    margin: 5px 0 15px;
  }
  .testi-main-slider .testi-inner h3,
  .testi-main-slider .testi-inner p {
    margin-bottom: 15px;
  }
  .pro-main-section .product-item-img img,
  .pro-main-section .product-thumb-item .thumb-img img {
    padding-right: 0px;
    padding-left: 0px;
  }
  .cartDrawer .mini-cart-body,
  .cartDrawer .mini-cart-footer {
    padding: 15px;
  }

}
@media screen and (max-width:575px) {
  .mini-wish-details .btn {
    padding: 11px;
  }
  .wishDrawer .mini-wish-body {
    padding: 15px;
  }
  .wishDrawer {
    width: 100%;
  }
  .wishDrawer .closewish {
    left: 19px !important;
    right: auto  !important;
    width: 16px;
    height: 16px;
  }
  .wishDrawer .mini-wish-header {
    padding: 16px 20px 16px 50px;
  }
  .site-footer .footer-row .footer-call {
    text-align: left;
  }
  .blog-grid-section .section-title {
    align-items: center;
    text-align: center;
  }
  .mini-wish-image{
    max-width: 20%;
  }
  .mini-wish-details{
    flex: unset;
    max-width: 80%;
  }
  .tab-vid-section .tab-link a {
    padding: 6px 0;
  }
  .tab-vid-section .tabs{
    gap: 10px;
  }
  .tab-vid-section .tabs-wrapper{
    margin-bottom: 0px;
  }
  .modal-body form .form-footer{
    padding-top: 20px;
  }
  .blog-head-row{
    margin-bottom: 20px;
  }
  .product-heading-row .nice-select{
    width: 100px;
  }
  .contact-left-inner ul li{
    margin-bottom: 20px;
  }
  .order-details .common-banner-content .row{
    gap: 12px;
  }
  .flipdown .rotor-group {
    height: 65px;
    width: 65px;
    padding: 6px;
  
  }
  .flipdown .rotor-group-heading:before {
    line-height: 21px;
    font-size: 12px;
  }
}