/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/
@media (min-width: 991px) {
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .header-style-one .mobile-menu {
    display: none;
  }
  .desk-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
}
@media screen and (max-width:1440px) {
  .home-slider-arrow {
    max-width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1360px) {
  .blog-grid-row .blog-card {
    flex: 0 0 auto;
    width: 33.33%;
  }
}
@media screen and (max-width:1260px) {
  .footer-link .contactlink {
    font-size: 18px;
  }
  .site-footer {
    padding: 60px 0 40px;
  }
  .offset-left {
    margin-left: 0;
    padding: 0 15px;
  }
  .offset-right {
    margin-right: 0;
    padding: 0 15px;
  }
  .home-section .offset-left,
  .card-tab-slider-sec .offset-left {
    padding-right: 0;
  }
  .home-section .home-text h2 {
    font: var(--h1);
  }
  .card-tab-slider-sec .btn {
    padding: 11px 10px;
    font-size: 12px;
  }
  .card-tab-slider-sec .btn svg {
    margin-left: 7px;
  }
  .home-slide-inner {
    padding: 50px 0;
  }
  .home-img {
    height: 700px;
  }
  .home-slider-arrow {
    bottom: 74px;
  }
  .bike-details li {
    font-size: 22px;
  }
}
@media screen and (max-width:1199px) {
  :root {
    --h1: normal 700 40px/1.2 var(--second-font);
    --h2: normal 700 32px/1.2 var(--second-font);
    --h3: normal 700 26px/1.2 var(--second-font);
    --h4: normal 700 20px/1.2 var(--second-font);
    --h5: normal 700 18px/1.2 var(--second-font);
    --h6: normal 700 16px/1.2 var(--second-font);
  }
  .header-style-one .menu-right .header-call .call-text {
    display: none;
  }
  .header-style-one .menu-right .header-call .call-icon {
    display: block;
    margin: auto;
  }
  /**** HOME PAGE CSS ****/
  .home-section .home-text h2 {
    margin-bottom: 25px;
  }
  .home-slide-inner {
    padding: 0 0 50px;
  }
  .bike-slider-main .slick-list {
    padding: 0 !important;
  }
  .home-img {
    height: 616px;
  }
  .home-slider-arrow::after {
    height: 100px;
  }
  .bike-slides-inner {
    padding-right: 30px;
  }
  .bike-details li {
    font-size: 16px;
  }
  .header-style-one .menu-right .header-call {
    align-items: center;
  }
}
@media screen and (max-width:991px) {
  :root {
    --h1: normal 700 36px/1.2 var(--second-font);
    --h2: normal 700 32px/1.2 var(--second-font);
    --h3: normal 700 22px/1.2 var(--second-font);
    --h4: normal 700 20px/1.2 var(--second-font);
    --h5: normal 700 18px/1.2 var(--second-font);
    --h6: normal 700 16px/1.2 var(--second-font);
    --common-text: normal 400 14px/1.4 var(--first-font);
  }
  .header-style-one {
    background: var(--second-color);
  }
  .header-style-one .main-navigationbar .menu-items-col {
    align-items: center;
  }
  .header-style-one .menu-right .header-call {
    background-color: transparent;
  }
  .header-style-one .menu-right {
    justify-content: flex-end;
  }
  .header-style-one .menu-right li,
  .header-style-one .menu-right .header-call {
    flex-grow: 0;
    padding: 0;
    margin-left: 22px;
  }
  .header-style-one .menu-right li.wishlist-icon {
    background: transparent;
  }
  .header-style-one .menu-right li:first-child {
    margin-left: 0;
  }
  .header-style-one .main-navigationbar .logo-col a {
    padding: 20px 0;
  }
  .header-style-one .menu-items-col .mobile-show {
    display: inline-flex;
  }
  .header-style-one .menu-items-col .desk-show {
    display: none;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 125px;
    margin-left: -15px;
    margin-right: 20px;
  }
  .main-home-section .section-title h1,
  .main-home-section .section-title h2 {
    font-size: 40px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-right: 15px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li {
    padding: 20px 0;
  }
  .header-style-one .menu-right li a .icon-lable,
  .header-style-one .menu-right .cart-header .price,
  .header-style-one .menu-right .profile-header span,
  .header-style-one .menu-right .profile-header a:before,
  .header-style-one .menu-right .profile-header a:after,
  .header-style-one .menu-right .search-header a::before {
    display: none;
  }
  .header-style-one .menu-right .cart-header .btn {
    background: transparent;
    border: 0;
    padding: 0;
  }
  .header-style-one li.menu-lnk .menu-dropdown {
    min-width: 120px;
  }
  .footer-subscribe-form {
    flex: auto;
  }
  .footer-top {
    margin-bottom: 26px;
  }
  .footer-subscribe-col .footer-top-row {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-col:not(:last-of-type) {
    padding-right: 10px;
  }
  .pro-swatch {
    font-size: 10px;
  }
  .footer-subscribe-col {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .site-footer {
    padding: 40px 0 20px;
  }
  .padding-top {
    padding-top: 40px;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget-inner {
    padding: 25px 15px;
  }
  .blog-widget-inner.big-blog-widget {
    padding: 35px 15px 25px;
  }
  .blog-widget-inner p {
    margin: 12px 0;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 10px;
    font-size: 10px;
  }
  .blog-grid-row .blog-content-top h4 {
    font-weight: 600;
  }
  /********* BLOG PAGE CSS end  **********/
  /********** CART PAGE CSS starts **********/
  .cart-summery {
    margin-top: 30px;
  }
  .cart-summery .btn {
    max-width: 300px;
    margin: 20px auto 0;
  }
  /********** CART PAGE CSS end **********/
  .submit-btn {
    max-width: 200px;
    margin: 20px 0 0;
  }
  .article-banner .blog-cat {
    margin: 20px 0;
  }
  .art-auther {
    margin-bottom: 15px;
  }
  .quote-box {
    padding: 15px 0 25px 60px;
  }
  .quote-box h3 {
    font-size: 15px;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
    margin-bottom: 26px;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-history-tbl tr td {
    padding: 15px 10px 15px;
  }
  .order-confirm-details .link {
    font-size: 13px;
  }
  .order-confirm-details {
    padding: 20px 12px;
  }
  .acc-back-btn-wrp button {
    padding: 10px 20px;
  }
  #tab-6 .order-confirmation-body {
    padding: 20px 10px;
  }
  #tab-6 .order-confirmation-body .order-history-tbl tr td {
    padding: 15px 4px 15px;
  }
  .ttl-pric {
    font-size: 16px;
  }
  .checkout-page-right {
    max-width: 300px;
    width: 100%;
  }
  .checkout-page-left {
    margin-bottom: 25px;
  }
  /** ORDER SUMMERY PAGE  start **/
  .order-summery-page .section-title p {
    font-size: 15px;
    margin: 0;
  }
  /** ORDER SUMMERY PAGE end  **/
  /**** HOME PAGE CSS ****/
  .home-section .home-text {
    width: 50%;
    display: block;
    padding-top: 0;
  }
  .bike-details {
    margin: 30px 0;
    max-width: 286px;
    flex-wrap: wrap;
  }
  .home-img {
    height: 500px;
  }
  .home-col {
    align-items: center;
  }
  .bike-details li {
    font-size: 14px;
    max-width: 50%;
    width: 100%;
    margin-bottom: 20px;
  }
  .home-slider-arrow::after {
    width: 100%;
    height: 85px;
  }
  .home-slide-inner {
    padding: 50px 0 0;
  }
  .home-slider-arrow {
    right: 0;
    bottom: 50px;
  }
  .bike-deatail-slider-sec::after {
    left: 0;
    right: auto;
  }
  .bike-slider-main .slick-list {
    padding: 0 25% 0 0 !important;
  }
  .bestseller-section {
    padding: 30px 0;
  }
  .best-pro-section .right-content .sub-title {
    padding: 10px 0 10px 0;
    font-size: 24px;
  }
  .card-tab-slider-sec .img-col {
    display: none;
  }
  .card-tab-slider-sec .offset-left {
    padding: 0 15px;
  }
  .forgot-form .submit-btn {
    max-width: 100%;
  }
  .footer-subscribe h2 {
    margin: 0 0 0px 0;
  }
  .footer-subscribe-form {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .pro-main-section .left-side {
    max-width: 100%;
  }
  .pro-main-section .product-main-slider {
    margin-left: 0%;
  }
  .blog-cat li:nth-child(2),
  .blog-cat li:nth-child(3) {
    padding: 12px 8px;
  }
  .articlerightbar .blog-card .blog-card-author-name {
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
  }
  .articlerightbar .blog-card-author-name span {
    max-width: 100%;
  }
  .product-filter-column {
    position: fixed;
    top: 0;
    background: var(--white);
    left: 0;
    max-width: 315px;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate(-100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate(-100%, 0px);
  }
  .product-filter-body {
    padding: 40px 15px;
    overflow: auto;
    height: 100%;
    background: var(--white);
  }
  .close-filter {
    position: fixed;
    top: 0;
    background: var(--second-color);
    height: 30px;
    width: 30px;
    padding: 7px;
    display: block !important;
    right: 0;
    cursor: pointer;
  }
  .close-filter svg {
    height: 100%;
    width: 100%;
  }
  .close-filter svg path {
    fill: var(--white);
  }
  .filter-open .product-filter-column {
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .product-heading-right-column {
    /* padding: 0 !important; */
    border-left: 0;
  }
  .product-heading-column .filter-title h3 {
    display: none !important;
  }
  .filter-title .filter-ic {
    display: block;
    max-width: 40px;
    width: 100%;
    border: 1px solid var(--second-color);
    padding: 2px;
  }
  .product-heading-row .row {
    padding: 20px 0 20px;
  }
  .product-filter-right-column {
    padding-top: 10px !important;
    padding-left: 0 !important;
  }
  .product-wrapper .services-section {
    padding: 0 0 40px 0;
  }
  .pro-main-section {
    padding: 40px 0 0px;
  }
}
@media screen and (max-width:767px) {
  .section-title {
    margin-bottom: 26px;
  }
  .header-style-one .main-navigationbar .menu-items-col {
    justify-content: flex-end;
  }
  .header-style-one .menu-right li.cart-header {
    padding: 0;
    background: transparent;
  }
  .cartDrawer {
    width: 100%;
  }
  .cartDrawer .mini-cart-header {
    padding: 16px 20px 16px 50px;
  }
  .mini-cart-footer .checkout-btn {
    padding: 12px 11px;
  }
  .cartDrawer .mini-cart-body {
    padding: 20px;
  }
  .mini-cart-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .mini-cart-footer-total-row {
    font-size: 18px;
    line-height: 18px;
    margin: 0 -10px 12px;
  }
  .cartDrawer .closecart {
    left: 19px;
    width: 15px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .cartDrawer .closecart svg path {
    fill: var(--white);
  }
  .mini-cart-footer .u-save {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .search-popup {
    padding: 0 15px;
  }
  .search-popup .close-search {
    right: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
  }
  .policy-links {
    justify-content: flex-start;
    margin-top: 16px;
  }
  .header-style-one .menu-right .header-call,
  .site-footer .footer-row .footer-call {
    text-align: left;
  }
  .footer-col:not(:last-of-type) {
    padding: 0;
  }
  .footer-menu {
    margin-top: 15px;
  }
  .footer-subscribe-col,
  .footer-col {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .footer-bottom {
    padding-top: 0;
  }
  .footer-bottom .footer-copyright {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .emaillink.contactlink {
    margin: 0;
  }
  /* .slick-slider .slick-arrow {
    opacity: 1;
  } */
  /********* BLOG PAGE CSS start  **********/
  .blog-widget {
    flex: 0 0 100%;
  }
  .blog-widget-inner {
    margin-bottom: 15px;
  }
  /********* BLOG PAGE CSS end  **********/
  
  .product-heading-right-column {
    padding: 0 !important;
    border-left: 0;
  }
  .product-heading-row .row {
    padding: 20px 0 10px 0px;
  }
  .product-sorting-row {
    justify-content: flex-end;
  }
  .product-filter-right-column {
    border-left: 0;
    padding-left: 0 !important;
  }
  .icon-filter {
    max-width: 32px;
    margin: 0 auto;
  }

  .abt-shp-column-right {
    margin-top: 30px;
  }
  .about-our-shop-section .row {
    margin-top: 40px;
  }
  .contact-right-column {
    margin-top: 0;
  }
  .contact-right-inner h2 {
    color: var(--second-color);
  }
  .blog-col-right .nice-select {
    flex: 0 0 120px;
  }
  .blog-col-right,
  .blog-head-row .blog-col-right {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .blog-head-row .blog-col-right {
    max-width: 100% !important;
  }
  .blog-col-left ul {
    flex-direction: column;
    align-items: center;
  }

  .articlerightbar {
    padding-top: 40px;
  }
  .aticleleftbar h5 {
    margin: 0 0 20px 0;
    line-height: 1.3;
  }
  .articlerightbar .blog-grid .blog-widget:last-of-type {
    margin-bottom: 0;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
  }
  .post-lbl {
    margin: 0px 0 0 20px;
    font-size: 14px;
  }
  .article-section .abt-user-img {
    margin-right: 10px;
  }
  .aticleleftbar p {
    margin-bottom: 15px;
  }
  .quote-box svg {
    height: 20px;
    width: 20px;
  }
  .quote-box {
    padding: 15px 0 25px 35px;
  }
  .order-summery-page .section-title p {
    font-size: 14px;
  }
  .order-summery-page .section-title h2 {
    margin-bottom: 30px;
  }
  .register-page .section-title {
    margin-bottom: 30px;
  }
  .our-blog-section .section-title,
  .my-acc-head {
    margin-bottom: 26px;
  }
  .my-acc-rightbar {
    margin-top: 40px;
  }
  #scroll {
    background: var(--white);
    top: 53px;
    padding: 0;
  }
  #account-nav {
    display: flex;
    justify-content: space-between;
  }
  #account-nav li a svg path {
    fill: var(--white);
  }
  #account-nav li a svg {
    margin-right: 0;
    height: 15px;
    width: 15px;
  }
  #account-nav li a span {
    display: none;
  }
  #account-nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-acc-leftbar li:not(:last-of-type) {
    border-bottom: 0;
  }
  .my-acc-leftbar h4 {
    padding: 15px 15px;
    color: var(--black);
  }
  .my-acc-leftbar {
    border: 0 !important;
  }
  #account-nav li a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 40px;
    justify-content: center;
    background: var(--theme-color);
  }
  .order-history-tbl tr th:nth-child(5),
  .order-history-tbl tr td:nth-child(5) {
    text-align: center;
  }
  .my-acc-right-content {
    padding-bottom: 30px;
  }
  #tab-6 .order-history-tbl tr th:nth-child(6),
  #tab-6 .order-history-tbl tr td:nth-child(6) {
    text-align: center;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-payment-box {
    max-width: 100%;
    margin: 15px 0 0 auto;
  }
  .checkout-page .order-confirmation-body .row .col-12:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .checkout-page-left .login-form {
    margin-top: 30px;
  }
  .checkbox-custom label {
    font-size: 14px;
  }
  .checkout-page .checkbox-custom {
    margin-top: 0;
  }
  .set {
    margin-bottom: 12px;
  }
  .checkout-page .set .acnav-list {
    padding: 20px 15px;
  }
  .order-history-tbl tr td[data-label="quantity"] {
    padding: 10px;
  }
  .form-container,
  .order-confirmation-body {
    padding: 20px 15px;
  }
  .offset-container {
    padding: 0 15px;
  }
  /** CART PAGE CSS start**/
  .coupon-text {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .coupon-table {
    margin: 20px 0 0;
  }
  .cart-tble {
    border: 1px solid var(--border-color);
  }
  .cart-page-section .section-title {
    margin-bottom: 30px;
  }
  table .pro-img-cart img {
    max-width: 50px;
  }
  /** CART PAGE CSS end **/
  /****  COMMON BANNER SECTION CSS ****/
  .common-banner-content .section-title h2 span {
    font-size: 12px;
  }
  /*** FAQ PAGE CSS ****/
  .faq-page {
    padding-bottom: 0;
  }
  /*** FAQ PAGE CSS end****/
  /*** ABOUT PAGE CSS ****/
  .about-us-section .about-us-box {
    margin-bottom: 20px;
  }
  /*** ABOUT PAGE CSS end****/
  .slick-slider .slick-arrow {
    width: 30px;
    height: 30px;
    background-size: 7px;
    opacity: 1;
  }
  /**** HOME PAGE CSS ****/
  .home-section .offset-left {
    padding: 0 15px;
  }
  .home-img img {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .home-section .home-text {
    max-width: 100%;
    display: block;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
  }
  .bike-details {
    max-width: 100%;
    margin: 30px 0 0;
  }
  .bike-details li {
    max-width: 25%;
  }
  .home-slide-inner {
    padding: 40px 0 100px 0;
  }
  .home-slider-arrow {
    bottom: 60px;
    left: 0;
    margin: 0 auto;
    max-width: 86%;
  }
  .home-img {
    height: auto;
    flex: 0 0 100%;
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 50%;
  }
  .home-arrow-inner {
    gap: 13px;
    font-size: 11px;
  }
  .home-section .home-text .sub-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .home-slider-arrow svg {
    height: 12px;
    width: 12px;
  }
  .bike-slider-main .slick-list {
    padding: 0 15% 0 0 !important;
  }
  .bike-deatail-slider-sec::after {
    max-width: 55%;
  }
  .bestseller-section .section-title,
  .product-card-section .section-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-title ul.tabs {
    gap: 15px;
  }
  .best-pro-section {
    padding-top: 30px;
  }
  .best-pro-section .left-side {
    display: flex;
    width: 100%;
  }
  .best-pro-section .left-side .img-wrapper {
    width: 100%;
    padding-top: 0;
  }
  .best-pro-section .right-content .sub-title:after {
    display: none;
  }
  .best-pro-section .right-content .sub-title {
    background: none;
    padding: 0;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .best-pro-section .right-content .btn {
    margin-top: 20px;
  }
  .services-section {
    padding-bottom: 40px;
    padding-top: 40px;
    margin: 0;
  }
  .testi-main-slider .testi-inner p {
    margin-bottom: 15px;
  }
  .service-row .service-col:not(:last-child) .service-card {
    margin-bottom: 40px;
  }
  .best-pro-section .right-content {
    margin-top: 30px;
    padding-left: 0;
    max-width: 100%;
  }
  /* product page  */
  .pro-main-section .product-main-slider {
    margin-left: unset;
  }
  .pro-main-section .product-thumb-item .thumb-img {
    padding-top: 70%;
  }
  .card-tab-slider-sec .product-card-inner {
    padding: 10px 0;
  }
  .section-title br {
    display: none;
  }
  .bike-deatail-slider-sec .offset-container {
    padding-right: 0;
  }
  .bike-deatail-slider-sec .slick-slider .slick-next {
    right: 15px;
  }
  .pro-main-section .left-side {
    margin: 0px 0 20px;
  }
  .wishOpen .wishDrawer {
    width: 100%;
  }
  .wishDrawer .mini-wish-header {
    padding: 16px 20px 16px 50px;
  }
  .wishOpen .wishDrawer .closewish {
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .wishDrawer .mini-wish-body {
    padding: 15px;
  }
  .forgot-form .mobile-direction-column {
    justify-content: center;
  }
  .forgot-form .submit-btn {
    margin-top: 10px;
  }
  .bike-slider-main.slick-slider .slick-arrow {
    opacity: 1;
  }
  .bestseller-section .show-more-div {
    text-align: center !important;
  }
  .payment-method-form .radio-group label .radio-right img {
    max-width: 35%;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 0 0 27%;
  }
  .cartDrawer .mini-cart-body,
  .cartDrawer .mini-cart-footer {
    padding: 15px;
  }
  .checkout-page .login-form {
    margin-top: 20px;
  }
  .payment-method-form .radio-group label .radio-right img {
    max-width: 50px;
  }
  .product-wrapper .pro-final-amount {
    justify-content: flex-start;
    gap: 20px;
  }
  .top-title {
    margin-bottom: 20px;
    gap: 20px;
  }
  .tab-vid-section .blog-head-row {
    margin-bottom: 20px;
  }
  .contact-form {
    padding: 15px;
  }
  .common-banner-content .back-btn {
    margin-bottom: 15px;
  }
  .my-acc-head {
    margin-bottom: 0px;
  }
  .tab-vid-section .tabs-wrapper {
    margin-bottom: 20px;
  }
  .my-acc-column .my-acc-leftbar h4 {
    padding: 0 0 15px 15px;
  }
  .mini-wish-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
}
@media screen and (max-width:575px) {
  :root {
    --h2: normal 700 28px/1.2 var(--second-font);
    --h3: normal 700 24px/1.2 var(--second-font);
    --h4: normal 700 22px/1.2 var(--second-font);
    --h5: normal 700 20px/1.2 var(--second-font);
  }
  .section-title.d-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-grid-section .section-title.d-flex {
    align-items: center;
  }
  .blog-grid-section .section-title .subtitle {
    text-align: center;
  }
  .section-title ul.tabs {
    margin-top: 0;
  }
  .header-style-one .count {
    top: -7px;
    right: -8px;
    height: 12px;
    width: 12px;
    font-size: 8px;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 100px;
  }
  .menu-right svg {
    width: 20px;
    height: 20px;
  }
  .header-style-one .menu-right li,
  .header-style-one .menu-right .header-call {
    margin-left: 13px;
  }
  .header-style-one .mobile-menu {
    margin: 0px 0 0 10px;
  }
  .footer-col {
    flex: 0 0 100%;
  }
  .checkout-page .payment-method-form .checkbox-custom {
    margin: 0 15px 15px 0;
    width: 100%;
  }
  .section-title-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 0 0 32%
  }
  .payment-method-form .radio-group label .radio-right>* {
    text-align: right;
  }
  .blog-cat li:not(:last-of-type) {
    margin-right: 0;
  }
  .reg-lbl {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }
  .login-form .submit-btn {
    max-width: 170px;
    margin: 15px 0 0 0;
  }
  .mobile-direction-column {
    flex-direction: column;
  }
  .order-confirm-details {
    margin-bottom: 20px;
  }
  .dated {
    width: 100%;
    margin-top: 12px;
  }
  .order-paymentcol {
    max-width: 100%;
    text-align: center;
  }
  .order-paymentcol:nth-child(2) {
    max-width: 100%;
  }
  .order-paycol-inner img {
    margin: 0 auto;
  }
  .order-confirmation-body .col-sm-6:last-child .order-confirm-details {
    margin: 0;
  }
  .checkout-page .order-confirmation-body .row .col-12 .order-confirm-details {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 14px;
  }
  .two-coll-media .tool-content {
    display: none;
  }
  /** CART PAAGE CSS start **/
  .coupon-text {
    flex-wrap: wrap;
  }
  .coupon-text p {
    width: 100%;
    font-size: 14px;
    padding: 10px 0 0;
  }
  .coupon-code {
    flex-wrap: wrap;
  }
  .coupon-code-text {
    width: 100%;
    margin-bottom: 15px;
  }
  /** CART PAAGE CSS end **/
  /********* BLOG PAGE CSS start  **********/
  .blog-cat li {
    padding: 10px 8px;
    font-size: 14px;
  }
  .blog-widget-inner h3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .blog-widget-inner p {
    margin: 12px 0 15px;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 5px;
  }
  .blog-cat {
    margin-bottom: 14px;
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-cat li:nth-child(2),
  .blog-cat li:nth-child(3) {
    padding: 10px 0;
  }
  .post-lbl {
    width: 100%;
    margin: 10px 0 0 0;
  }
  /********* BLOG PAGE CSS end  **********/
  .input-wrapper .btn-subscibe {
    width: 95px;
    font-size: 12px;
  }
  .articlerightbar .blog-cat li {
    padding: 10px 5px;
  }
  .price-btn ins {
    font-size: 12px;
  }
  .produdt-filter-cat {
    display: none;
  }
  /**** HOME PAGE CSS ****/
  .bike-slider-main .slick-list {
    padding: 0 0 !important;
  }
  .bike-deatail-slider-sec::after {
    max-width: 100%;
  }
  .left-content {
    max-width: 100%;
    margin-right: 0px;
    order: 2;
    margin-top: 20px;
  }
  .right-side {
    flex: 0 0 100%;
  }
  .bike-slides-inner img {
    margin: 0px 0 0 0;
    max-width: 100%;
  }
  .bike-slides-inner {
    padding: 10px;
  }
  .bike-slider-main,
  .card-tab-main-slider,
  .logo-slider-main {
    margin: 0 -10px;
  }
  .bike-slider-main.slick-slider .slick-next {
    right: 0;
  }
  .card-tab-slider-sec .product-card-inner .product-card-image a {
    padding-top: 80%;
  }
  /* product page  */
  .pro-main-section .product-thumb-item .thumb-img {
    padding-top: 100%;
  }
  .pro-main-section .product-thumb-slider {
    max-width: 100%;
  }
  .pro-main-section .price {
    font-size: 16px;
  }
  .card-tab-slider-sec .product-card-inner {
    padding: 10px 10px;
    flex-wrap: wrap;
  }
  .card-tab-slider-sec .product-card-inner .product-card-image {
    flex-basis: 100%;
    margin-right: 0;
  }
  .card-tab-slider-sec .product-card-inner .cart-bottom {
    width: 100%;
    padding: 20px;
    flex: 0 0 100%;
  }
  .forgot-form .mobile-direction-column {
    align-items: center;
  }
  .bike-deatail-slider-sec .offset-container {
    padding-right: 15px;
  }
  .bike-details li {
    max-width: 50%;
  }
  .pro-main-section .product-labl {
    width: 25%;
  }
  .pro-main-section .inline_contant {
    width: 75%;
  }
  .dataTable-pagination li.pagination {
    margin-top: 10px;
  }
  .home-text-inner,
  .home-section .home-text h2,
  .home-section .home-text .price {
    margin-bottom: 20px;
  }
  .price ins {
    font-size: 16px;
  }
  .logo-slider-section .slick-slide img {
    padding: 5px 20px;
  }
  .bestseller-card.slick-slide.slick-current.slick-active .bestseller-card-inner {
    border: 1px solid var(--border-color);
  }
  .best-pro-section .right-content {
    margin-top: 0px;
  }
  .section-title,
  .footer-col {
    margin-bottom: 20px;
  }
  .site-header .menu-right .profile-header {
    margin-left: 0px;
  }
  .back-toshop {
    margin-bottom: 20px;
  }
  .footer-call a {
    font-size: 18px;
  }
}
@media screen and (max-width:420px) {
  .site-footer .input-box {
    flex-wrap: wrap;
  }
  .site-footer .input-box button {
    padding: 15px 20px;
    margin-top: 10px;
  }
  .bike-details {
    margin-top: 35px;
  }
}
@media screen and (max-width:370px) {
  .stp-menu-widget {
    padding: 24px 0 0 0;
    margin-top: 24px;
  }
  .mobile-menu-bar .stp-navlink:not(:last-of-type) {
    margin-right: 15px;
  }
  .fea-coll-contnt-left {
    width: 100%;
    margin-bottom: 10px;
  }
  .column-positive-us-right .col-sm-4.col-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  .post-lbl {
    margin: 10px 0 0;
    width: 100%;
  }
  .acc-back-btn-wrp button {
    padding: 10px 15px;
    min-width: 108px;
  }
  .checkout-page .forgot-pass {
    font-size: 11px;
  }
  .btn-flex a {
    padding: 10px 14px !important;
    min-width: 113px;
  }
  .center-descrp {
    display: none;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 1;
  }
  .payment-method-form .radio-group label span {
    flex: 0 0 50%;
    padding-right: 0;
  }
  .payment-method-form .radio-group label .radio-right>* {
    padding-left: 5px;
  }
  .payment-method-form .radio-group label .radio-right b {
    font-size: 13px;
  }
  .payment-method-form .radio-group label .radio-right img {
    margin-left: 9px;
    max-width: 35px;
  }
  .Delivery_Method .payment-method-form .radio-group label span {
    flex: 0 0 100%;
    padding-right: 0;
    text-align: center;
  }
}