body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
}

header {
    background-color: antiquewhite;
    padding: 5px;
}

#main{
    background-color: cornsilk;
    padding: 10px;
}

footer {
    background-color: aliceblue;
    padding: 5px;
}

.wishbtn {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    position: absolute;
    right: 400px;
    top: 20px;
}
.wishbtn span {
    display: block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
.wishbtn span svg {
    fill: var(--black);
}