/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/
@media (min-width:992px) {
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    display: flex;
    align-items: center;
  }
  .desk-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
  .menu-right .wishlist-header,
  .menu-right .profile-header {
    display: none;
  }
}
@media screen and (max-width:1650px) {
  .home-banner-side-product {
    position: absolute;
    left: auto;
    right: 10%;
    background: #efefef47;
    padding: 15px 20px 25px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: invert();
  }
}
@media screen and (max-width:1360px) {
  /**** HOME PAGE CSS ****/
  .fixed-slider-left,
  .style-two .right-fixed-header {
    display: none;
  }
  .banner-slider .slick-dots {
    bottom: -40px;
    left: 0;
    right: 0;
  }
  .banner-slider .slick-dots li:before {
    border-color: var(--white);
  }
  .banner-slider .slick-dots li {
    background: var(--white);
  }
  .first-video-section {
    padding: 130px 0 80px 0;
  }
  /**** HOME PAGE CSS ****/
}
@media screen and (max-width:1260px) {
  .footer-bottom {
    padding-top: 30px;
  }
  .footer-link .contactlink {
    font-size: 18px;
  }
  .offset-left {
    margin-left: 0;
    padding: 0 15px;
  }
  .offset-right {
    margin-right: 0;
    padding: 0 15px;
  }
}
@media screen and (max-width:1199px) {
  :root {
    --h1: normal 700 40px/1 var(--second-font);
    --h2: normal 700 32px/1 var(--second-font);
    --h3: normal 700 26px/1 var(--second-font);
    --h4: normal 700 20px/1 var(--second-font);
    --h5: normal 700 18px/1 var(--second-font);
    --h6: normal 700 16px/1 var(--second-font);
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    padding-right: 10px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-right: 18px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li>a {
    font-size: 12px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a:after {
    height: 7px;
    width: 8px;
  }
  .header-style-one .menu-right li:not(:last-of-type) {
    margin-right: 10px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li>.category-btn svg {
    margin-left: 6px;
  }
  .footer-col {
    padding-left: 20px;
  }
  /**** HOME PAGE CSS ****/
  .card-direction-row .link-btn {
    margin-top: 10px;
  }
  .card-direction-row .product-img {
    width: 125px;
  }
  .testimonial-content-top h4 {
    margin-bottom: 10px;
  }
  .banner-with-products .price {
    width: 100%;
  }
  /**** HOME PAGE CSS end ****/
  /**** PDP PAGE CSS ***/
  .pdp-thumb-slider .slick-arrow.slick-prev {
    bottom: -32px;
  }
  .pdp-thumb-slider .slick-arrow.slick-next {
    top: -32px;
  }
  .pdp-thumb-slider .slick-arrow {
    width: 29px;
    height: 29px;
    padding: 7px;
  }
  /**** PDP PAGE CSS end***/
  .common-footer.site-footer {
    padding: 40px 0 40px;
  }
}
@media screen and (max-width:991px) {
  :root {
    --h1: normal 700 36px/1 var(--second-font);
    --common-text: normal 400 14px/1.4 var(--first-font);
  }
  .header-style-one .mobile-menu .mobile-menu-button {
    width: 100%;
  }
  .navigationbar-row {
    padding-left: 0;
  }
  .header-style-one .mobile-menu {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 22px;
    height: 22px;
    margin: 0 0 0 20px;
  }
  .header-style-one .menu-right li a span.cart-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -0px;
    top: -2px;
    background: antiquewhite;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 10px;
  }
  .style-two .menu-right:after {
    display: none;
  }
  .header-style-one .main-navigationbar .menu-items-col {
    align-items: center;
    justify-content: flex-end;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    padding-left: 15px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-right: 15px;
  }
  .header-style-one.dark-header .menu-right li {
    padding: 15px 0;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li {
    padding: 15px 0;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a {
    padding-right: 15px;
  }
  .header-style-one .menu-right li a .drp-text {
    display: none;
  }
  .header-style-one .menu-right li.cart-header a {
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .header-style-one .menu-right li.cart-header a svg {
    margin: 0;
    width: 18px;
    height: 18px;
  }
  .header-style-one .menu-right li a svg {
    width: 17px;
    height: 17px;
  }
  .header-style-one .menu-right li.profile-header svg {
    width: 17px;
    height: 17px;
  }
  .header-style-one .count {
    top: -4px;
    right: -8px;
  }
  .footer-col:not(:last-of-type) {
    padding-right: 10px;
  }
  .pro-swatch {
    font-size: 10px;
  }
  .footer-col:not(:first-of-type) {
    padding: 0;
  }
  .footer-subscribe-col {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .padding-top {
    padding-top: 40px;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget-inner {
    padding: 25px 15px;
  }
  .blog-widget-inner.big-blog-widget {
    padding: 35px 15px 25px;
  }
  .blog-widget-inner p {
    margin: 12px 0;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 10px;
    font-size: 10px;
  }
  .blog-grid-row .blog-content-top h4 {
    font-weight: 600;
  }
  /********* BLOG PAGE CSS end  **********/
  /********** CART PAGE CSS starts **********/
  .cart-summery {
    margin-top: 30px;
  }
  .cart-summery .btn {
    max-width: 300px;
    margin-left: auto;
  }
  /********** CART PAGE CSS end **********/
  .submit-btn {
    max-width: 200px;
    margin: 20px 0 0;
  }
  .article-banner .blog-cat {
    margin: 20px 0;
  }
  .art-auther {
    margin-bottom: 15px;
  }
  .quote-box {
    padding: 15px 0 25px 60px;
  }
  .quote-box h3 {
    font-size: 15px;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
    margin-bottom: 26px;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 12px;
  }
  .order-history-tbl tr td {
    padding: 15px 10px 15px;
  }
  .order-confirm-details .link {
    font-size: 13px;
  }
  .order-confirm-details {
    padding: 20px 12px;
  }
  .acc-back-btn-wrp button {
    padding: 10px 20px;
  }
  #tab-6 .order-confirmation-body {
    padding: 20px 10px;
  }
  #tab-6 .order-confirmation-body .order-history-tbl tr td {
    padding: 15px 4px 15px;
  }
  .ttl-pric {
    font-size: 16px;
  }
  .checkout-page-right {
    max-width: 300px;
    width: 100%;
  }
  .checkout-page-left {
    margin-bottom: 25px;
  }
  /** ORDER SUMMERY PAGE  start **/
  .order-summery-page .section-title p {
    font-size: 15px;
    margin: 0;
  }
  /** ORDER SUMMERY PAGE end  **/
  /**** HOME PAGE CSS ****/
  .banner-itm [class*="col-"]:nth-child(1) {
    order: 2;
    margin-top: 30px;
  }
  .banner-itm [class*="col-"]:nth-child(2) {
    order: 1;
    margin-top: 0;
  }
  .banner-itm [class*="col-"]:nth-child(3) {
    order: 3;
    margin-top: 30px;
  }
  .banner-content-inner {
    max-width: 500px;
  }
  .home-banner-side-product {
    display: none;
  }
  .show-products {
    background: linear-gradient(180deg, #000000 100%, #ffffff00 0%);
    padding-bottom: 40px;
  }
  .show-products-content {
    margin-top: 40px;
  }
  .home-article-blog {
    margin-bottom: 30px;
  }
  .review-item {
    padding: 0 10px;
  }
  .home-section {
    padding: 140px 0 350px;
  }
  .show-more-text-link {
    display: block;
  }
  .show-more-text-link h3 {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .poster-card-details-1 h4 a {
    -webkit-line-clamp: 1;
  }
  .product-card-inner .product-img a {
    padding-top: 50%;
  }
  .banner-content-inner h2 b {
    display: inline;
  }
  .banner-slider .subtitle {
    margin-bottom: 20px;
  }
  .banner-content-inner .link-btn {
    margin-top: 20px;
  }
  .first-video-section {
    padding: 100px 0 80px 0;
  }
  .banner-content-inner h2 {
    font: var(--h2);
    padding: 25px 0 0;
  }
  .banner-content-inner p {
    padding: 10px 0 0;
  }
  .subtitle {
    font-size: 14px;
  }
  .subscribe-banner {
    padding: 40px 20px;
  }
  .blog-img a {
    padding-top: 70%;
  }
  .card-direction-row .product-img {
    width: 100%;
    padding: 10px 10px 0;
  }
  .card-direction-row .product-card-inner .product-img a {
    padding-top: 50%;
    height: auto;
  }
  /* .card-direction-row  .product-card-inner .price {      
    width: 100%;
  }  */
  .card-direction-row .link-btn {
    margin-top: 0;
  }
  h1 b,
  h2 b,
  h3 b,
  h4 b,
  h5 b,
  h6 b,
  .product-title b {
    display: inline;
  }
  .partner-left-column h3 br {
    display: none;
  }
  .bestseller-section .section-title-left {
    flex: 0 0 100%;
  }
  .vertical-tab-section .row [class*="col-"]:first-child:after {
    display: none;
  }
  .vertical-tab-section .row [class*="col-"]:first-child {
    padding: 0 15px 40px;
  }
  .vertical-tab-section .row [class*="col-"]:nth-child(2) {
    padding: 0 15px;
    align-items: flex-start;
  }
  .vertical-tab-section .row [class*="col-"]:last-of-type {
    padding: 0 15px 30px;
  }
  .blog-content-top h4 {
    font-weight: 400;
    font-size: 16px;
  }
  .banner-with-products .price {
    width: auto;
  }
  /**** HOME PAGE CSS end****/
  /**** PDP PAGE CSS ****/
  .pdp-thumb-slider {
    max-width: 55px;
  }
  .pdp-main-slider {
    max-width: calc(100% - 72px);
  }
  .product-main-section .back-btn {
    margin-bottom: 61px;
  }
  /**** PDP PAGE CSS end****/
  .cart-tble tr th:first-child, .cart-tble tr td:first-child {
    width: 90px;
  }
  .section-title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width:767px) {
  .header-style-one.dark-header .menu-right li,
  .header-style-one .menu-right li {
    padding: 0 0;
  }
  .header-style-one .announcebar {
    display: none;
  }
  .header-style-one .main-navigationbar {
    box-shadow: 0px 4px 55px rgba(24, 58, 64, 0.12);
  }
  .header-style-one .main-navigationbar .menu-items-col {
    justify-content: flex-end;
  }
  .header-style-one .menu-right li a .icon-lable {
    display: none !important;
  }
  .header-style-one .menu-right {
    justify-content: flex-end;
    align-items: center;
  }
  .home-section {
    padding: 100px 0 320px;
  }
  .banner-content-slider .slick-dots {
    bottom: -30px;
  }
  .select-scent {
    margin-top: 15px;
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 100px;
  }
  .header-style-one .count {
    right: -5px;
  }
  .header-style-one .menu-right li {
    flex: unset;
  }
  .header-style-one .menu-right li a svg {
    height: 16px;
    width: 16px;
  }
  .header-style-one .menu-right li:last-of-type button,
  .header-style-one .menu-right li>* {
    display: block;
    border: none;
  }
  .header-style-one .menu-right li:last-of-type {
    width: auto;
    max-width: initial;
  }
  .mobile-menu-wrapper .mobile-menu-bar>ul>li a {
    color: var(--black);
  }
  .mobile-menu-wrapper .mobile-menu-bar>ul>li a svg path {
    fill: var(--black);
  }
  .header-style-one .mobile-menu {
    margin: 0 0 0 10px;
  }
  .header-style-one .menu-right li a span.cart-badge {
    right: -5px;
    top: -6px;
  }
  .mobile-menu-wrapper .menu-close-icon svg {
    width: 25px;
    height: 25px;
  }
  .mobile-menu-wrapper .menu-close-icon {
    height: auto;
    position: relative;
    right: 0;
    top: 0;
    justify-content: flex-start;
    text-align: right;
    padding: 10px 20px;
    background: var(--theme-color);
    width: 100%;
  }
  .header-style-one.dark-header .count {
    background: var(--second-color);
    color: var(--theme-color);
  }
  .footer-bottom-row {
    padding: 0 0 40px;
  }
  .footer-bottom-row ul {
    justify-content: flex-start;
    margin: 20px 0 0;
  }
  .product-banner-image-right {
    margin-top: 20px;
  }
  .res-column-reverse {
    flex-direction: column-reverse;
  }
  .section-title.text-center {
    margin: 0 auto 20px;
  }
  .min-padding-top {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .show-more-text-link {
    margin: 40px 0 0;
  }
  .home-main-blog {
    margin-top: 30px;
  }
  .footer-col.footer-subscribe-col-last {
    flex: 1;
  }
  .search-popup .search-form-wrapper .form-inputs {
    width: 100%;
  }
  .product-page-first-section .pdp-main-slider {
    max-width: 100%;
  }
  .pdp-descrp-content {
    margin-bottom: 30px;
  }
  .common-footer.site-footer {
    padding: 40px 0 0px;
  }
  /** MINI CART **/
  .cartDrawer {
    width: 100%;
  }
  .cartDrawer .mini-cart-body {
    padding: 15px;
  }
  .cartDrawer .mini-cart-header {
    padding: 16px 20px 16px 50px;
  }
  .mini-cart-footer .checkout-btn {
    max-width: 100%;
    padding: 12px 11px;
  }
  .mini-cart-footer {
    padding: 15px;
  }
  .mini-cart-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .mini-cart-footer-total-row {
    font-size: 18px;
    line-height: 18px;
    margin: 0 -10px 12px;
  }
  .cartDrawer .closecart {
    left: 19px;
    width: 15px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .cartDrawer .closecart svg path {
    fill: var(--white);
  }
  .mini-cart-footer .u-save {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .search-popup {
    padding: 0 15px;
  }
  .search-popup .close-search {
    right: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
  }
  .policy-links {
    justify-content: flex-start;
    margin-top: 16px;
  }
  .footer-col:not(:last-of-type) {
    padding: 0;
  }
  .footer-subscribe-col,
  .footer-col {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-bottom {
    padding-top: 0;
  }
  .emaillink.contactlink {
    margin: 0;
  }
  .slick-arrow {
    width: 36px;
    height: 36px;
  }
  .slick-slider .slick-arrow {
    opacity: 1;
  }
  .home-blog-section {
    padding: 190px 0 40px;
  }
  .site-footer {
    padding: 40px 0 20px;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget {
    flex: 0 0 100%;
  }
  .blog-widget-inner {
    margin-bottom: 15px;
  }
  /********* BLOG PAGE CSS end  **********/
  .product-filter-column {
    position: fixed;
    top: 0;
    background: var(--white);
    left: 0;
    max-width: 315px;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate(-100%, 0px);
    -moz-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    -o-transform: translate(100%, 0px);
    transform: translate(-100%, 0px);
  }
  .product-filter-body {
    padding: 40px 15px;
    overflow: auto;
    height: 100%;
    background: var(--white);
  }
  .close-filter {
    position: absolute;
    top: 0;
    background: var(--second-color);
    height: 30px;
    width: 30px;
    padding: 7px;
    right: 0;
    cursor: pointer;
  }
  .close-filter svg {
    height: 100%;
    width: 100%;
  }
  .close-filter svg path {
    fill: var(--white);
  }
  .filter-open .product-filter-column {
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .product-heading-right-column {
    padding: 14px !important;
    border-left: 0;
  }
  .product-heading-row .row {
    padding: 40px 0 0 0;
  }
  .product-sorting-row {
    justify-content: space-between;
  }
  .product-filter-right-column {
    border-left: 0;
    padding-left: 0 !important;
  }
  .icon-filter {
    max-width: 32px;
    margin: 0 auto;
  }
  .filter-title .filter-ic {
    max-width: 40px;
    border: 1px solid var(--second-color);
    padding: 2px;
    display: block;
  }
  .filter-title h4 {
    display: none;
  }
  .abt-shp-column-right,
  .about-our-shop-section .row {
    margin-top: 30px;
  }
  .contact-right-column {
    margin-top: 0;
  }
  .contact-right-inner h2 {
    color: var(--second-color);
  }
  .blog-col-right .nice-select {
    flex: 0 0 120px;
  }
  .blog-col-right {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .blog-col-left ul {
    flex-direction: column;
    align-items: center;
  }
  .blog-head-row {
    border: 0;
  }
  .articlerightbar {
    padding-top: 40px;
  }
  .aticleleftbar h5 {
    margin: 0 0 20px 0;
    line-height: 1.3;
  }
  .articlerightbar .blog-grid .blog-widget:last-of-type {
    margin-bottom: 0;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
  }
  .post-lbl {
    margin: 0 0 0 10px;
    font-size: 12px;
  }
  .article-section .abt-user-img {
    margin-right: 5px;
  }
  .aticleleftbar p {
    margin-bottom: 15px;
  }
  .quote-box svg {
    height: 20px;
    width: 20px;
  }
  .quote-box {
    padding: 15px 0 25px 35px;
  }
  .order-summery-page .section-title p {
    font-size: 14px;
  }
  .order-summery-page .section-title h2 {
    margin-bottom: 30px;
  }
  .register-page .section-title {
    margin-bottom: 30px;
  }
  .our-blog-section .section-title,
  .my-acc-head {
    margin-bottom: 26px;
  }
  .my-acc-rightbar {
    margin-top: 40px;
  }
  #scroll {
    background: var(--white);
    top: 53px;
    padding: 0;
  }
  #account-nav {
    display: flex;
    justify-content: space-between;
  }
  #account-nav li a svg path {
    fill: var(--black);
  }
  #account-nav li a svg {
    margin-right: 0;
    height: 15px;
    width: 15px;
  }
  #account-nav li a span {
    display: none;
  }
  #account-nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-acc-leftbar li:not(:last-of-type) {
    border-bottom: 0;
  }
  .my-acc-leftbar h4 {
    padding: 15px 15px;
    color: var(--black);
  }
  .my-acc-leftbar {
    border: 0 !important;
  }
  #account-nav li a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 40px;
    justify-content: center;
    background: var(--theme-color);
  }
  .order-history-tbl tr th:nth-child(5),
  .order-history-tbl tr td:nth-child(5) {
    text-align: center;
  }
  .my-acc-right-content {
    padding-bottom: 30px;
  }
  #tab-6 .order-history-tbl tr th:nth-child(6),
  #tab-6 .order-history-tbl tr td:nth-child(6) {
    text-align: center;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-payment-box {
    max-width: 100%;
    margin: 15px 0 0 auto;
  }
  .checkout-page .order-confirmation-body .row .col-12:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .checkout-page-left .login-form {
    margin-top: 30px;
  }
  .checkout-page .checkbox-custom {
    margin-top: 0;
  }
  .set {
    margin-bottom: 12px;
  }
  .checkout-page .set .acnav-list {
    padding: 20px 15px;
  }
  .order-history-tbl tr td[data-label="quantity"] {
    padding: 10px;
  }
  .form-container,
  .order-confirmation-body {
    padding: 20px 15px;
  }
  .offset-container {
    padding: 0 15px;
  }
  /** CART PAGE CSS start**/
  .coupon-text {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .coupon-table {
    margin: 20px 0 0;
  }
  .cart-tble {
    border: 1px solid var(--border-color);
  }
  .cart-page-section .section-title {
    margin-bottom: 30px;
  }
  table .pro-img-cart img {
    max-width: 50px;
  }
  /** CART PAGE CSS end **/
  /****  COMMON BANNER SECTION CSS ****/
  .common-banner-section {
    padding: 40px 0;
  }
  .common-banner-content .back-btn {
    margin-bottom: 15px;
  }
  .common-banner-content .section-title h2 span {
    font-size: 12px;
  }
  /*** FAQ PAGE CSS ****/
  .faq-page {
    padding-bottom: 0;
  }
  /*** FAQ PAGE CSS end****/
  /*** ABOUT PAGE CSS ****/
  .about-us-section .about-us-box {
    margin-bottom: 20px;
  }
  /*** ABOUT PAGE CSS end****/
  /**** HOME PAGE CSS ****/
  .partner-left-column {
    margin-bottom: 30px;
  }
  .home-blog-left {
    margin-bottom: 30px;
  }
  .left-blog-img {
    width: 53px;
  }
  .subscribe-column h3 b {
    display: inline;
  }
  .section-title h3 {
    font: var(--h2);
  }
  .our-insta-section ul li {
    max-width: 33.3334%;
  }
  .nice-select .option {
    padding: 5px 15px;
  }
  .cat-tab li {
    margin-bottom: 12px;
  }
  .cat-tab li a {
    font-size: 15px;
  }
  .bst-rightimg,
  .bst-leftimg {
    width: 80px;
  }
  .banner-product-details {
    margin-bottom: 30px;
  }
  .beans-video-wrp {
    padding: 40px 15px;
  }
  .vertical-tab-center .subtitle {
    margin-bottom: 26px;
  }
  .testimonial-bottom .client-name {
    width: 100%;
    margin: 0 0 10px;
  }
  .center-btn-view-all {
    margin-top: 33px;
  }
  .bottom-arrow .slick-arrow {
    bottom: -64px;
  }
  /**** HOME PAGE CSS end****/
  /**** PDP PAGE CSS ****/
  .pdp-thumb-slider {
    display: none;
  }
  .pdp-main-slider {
    max-width: 100%;
  }
  .product-main-section .back-btn {
    margin-bottom: 26px;
  }
  .pdp-summery {
    margin-top: 40px;
  }
  .price-cart-btn-wrp .price {
    font-size: 16px;
  }
  .product-main-section {
    padding-top: 40px;
  }
  .pdp-descrp-img {
    margin-top: 20px;
  }
  .open-lightbox {
    width: 40px;
    height: 40px;
  }
  /**** PDP PAGE CSS end****/
  .cart-tble tr th:first-child, .cart-tble tr td:first-child {
    margin: auto;
  }
  .payment-method-form .radio-group label .radio-right img {
    max-width: 50px;
  }
  .checkout-page .login-form {
    margin-top: 20px;
  }
  .slick-slider .slick-arrow {
    opacity: 1;
    visibility: visible;
  }
  .custom-banner-image-main {
    width: 100%;
  }
  .banner-content-top {
    margin-bottom: 20px;
  }
  .custom-banner-image {
    padding: 30px 15px;
  }
  .contact-form {
    padding: 15px;
  }
  .tab-vid-section .tab-link a {
    font-size: 14px;
    padding: 5px;
  }
  .tab-vid-section .tabs-wrapper {
    padding: 15px;
    margin-bottom: 20px;
  }
  .btn {
    padding: 13px 20px;
  }
  .filter-title div {
    max-width: 40px;
    border: 1px solid var(--theme-color);
    padding: 2px;
  }
  .product-heading-row .nice-select {
    width: 140px;
  }
  .price {
    font-size: 16px;
  }
}
@media screen and (max-width:575px) {
  :root {
    --h2: normal 700 28px/1 var(--second-font);
    --h3: normal 700 24px/1 var(--second-font);
    --h4: normal 700 22px/1 var(--second-font);
    --h5: normal 700 20px/1 var(--second-font);
  }
  .footer-col {
    flex: 0 0 100%;
  }
  .checkout-page .payment-method-form .checkbox-custom {
    margin: 0 15px 15px 0;
    width: 100%;
  }
  .section-title-left {
    width: 100%;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 0 0 32%
  }
  .payment-method-form .radio-group label .radio-right>* {
    text-align: right;
  }
  .blog-cat li:not(:last-of-type) {
    margin-right: 0;
  }
  .poster-slider-1 {
    padding: 10px 0 0;
  }
  .order-summery-page .section-title.text-center {
    text-align: center !important;
  }
  .reg-lbl {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }
  .login-form .submit-btn {
    max-width: 170px;
    margin: 15px 0 0 0;
  }
  .mobile-direction-column {
    flex-direction: column;
  }
  .order-confirm-details {
    margin-bottom: 20px;
  }
  .dated {
    width: 100%;
    margin-top: 12px;
  }
  .order-paymentcol:nth-child(3) {
    max-width: 100%;
  }
  .order-paymentcol {
    max-width: 50%;
    text-align: center;
  }
  .order-paycol-inner img {
    margin: 0 auto;
  }
  .order-confirmation-body .col-sm-6:last-child .order-confirm-details {
    margin: 0;
  }
  .checkout-page .order-confirmation-body .row .col-12 .order-confirm-details {
    margin-bottom: 0;
  }

  .two-coll-media .tool-content {
    display: none;
  }
  .banner-content-inner .banner-links a {
    margin-bottom: 15px;
  }
  .select-scent.text-checkbox.checkbox-radio .checkbox {
    margin-bottom: 10px;
  }
  .search-form-wrapper .footer-subscribe-form input {
    padding: 15px 20px;
  }
  .search-form-wrapper .footer-subscribe-form .btn {
    position: relative;
    padding: 14px 20px;
    margin-top: 11px;
    height: auto;
  }
  .show-more-text-link {
    margin: 30px 0 0;
  }
  /** CART PAAGE CSS start **/
  .coupon-text {
    flex-wrap: wrap;
  }
  .coupon-text p {
    width: 100%;
    font-size: 14px;
    padding: 10px 0 0;
  }
  .coupon-code {
    flex-wrap: wrap;
  }
  .coupon-code-text {
    width: 100%;
    margin-bottom: 15px;
  }
  /** CART PAAGE CSS end **/
  /********* BLOG PAGE CSS start  **********/
  .blog-cat li {
    padding: 10px 8px;
    font-size: 12px;
  }
  .blog-widget-inner h3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .blog-widget-inner p {
    margin: 12px 0 15px;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 5px;
  }
  .blog-cat {
    margin-bottom: 14px;
  }
  /********* BLOG PAGE CSS end  **********/
  .input-wrapper input {
    padding: 14.5px 100px 14.5px 15px;
    font-size: 12px;
  }
  .input-wrapper .btn-subscibe {
    width: 45px;
    height: 35px;
    font-size: 12px;
  }
  .articlerightbar .blog-cat li {
    padding: 10px 5px;
  }
  .price-btn ins {
    font-size: 12px;
  }
  .produdt-filter-cat {
    display: none;
  }
  /**** HOME PAGE CSS ****/
  .banner-itm [class*="col-"]:nth-child(3) {
    display: none !important;
  }
  .subscribe-section-form .input-wrapper .btn-subscibe {
    position: relative;
    top: auto;
    margin-top: 15px;
    transform: none;
    border-radius: 10px;
  }
  .subscribe-section-form .input-wrapper input {
    padding: 14px 15px;
  }
  .our-insta-section ul li {
    max-width: 50%;
  }
  .our-insta-section .insta-pro-info {
    margin-right: 10px;
  }
  .our-insta-section .insta-pro-info a {
    font-size: 16px;
  }
  .our-insta-section .insta-pro-img a {
    width: 50px;
  }
  .our-insta-section .insta-pro-info {
    text-align: left;
  }
  .blog-insta-wrapper {
    padding-top: 150px;
  }
  .banner-with-products .row [class*="col-"]:last-of-type {
    display: none;
  }
  .testimonial-bottom .client-name {
    width: auto;
    margin: 0 10px 0 0;
  }
  .vertical-tab-section .row [class*="col-"]:not(:last-of-type):after {
    display: none;
  }
  .vertical-tab-center {
    padding-bottom: 20px;
  }
  /**** HOME PAGE CSS end****/
  .header-style-one .menu-right li:not(:last-of-type),
  .header-style-one .menu-right li:not(:last-of-type) a {
    width: 30px;
    height: 30px;
  }
  .header-style-one .menu-right .lang-dropdown .lang-icn {
    padding: 7px;
  }
  .header-style-one .menu-right li:not(:last-of-type) {
    margin-right: 7px;
  }
  .home-blog-section {
    padding: 160px 0 40px;
  }
}
@media screen and (max-width:420px) {
  /**** HOME PAGE CSS ****/
  .partner-left-column {
    text-align: center;
  }
  .parner-lbl {
    text-align: center;
  }
  .partner-itm a svg {
    margin: 0 auto;
  }
  .testimonial-itm-image {
    max-width: 80px;
  }
  .testimonial-itm-content {
    max-width: 100%;
    padding: 0 0 0 8px;
    flex: 1;
  }
  .testimonial-slider .slick-dots {
    left: 0;
    right: 0;
  }
  .bst-rightimg,
  .bst-leftimg {
    width: 42px;
  }
  .order-paymentcol {
    max-width: 100%;
  }
}
@media screen and (max-width:370px) {
  .stp-menu-widget {
    padding: 24px 0 0 0;
    margin-top: 24px;
  }
  .mobile-menu-bar .stp-navlink:not(:last-of-type) {
    margin-right: 15px;
  }
  .fea-coll-contnt-left {
    width: 100%;
    margin-bottom: 10px;
  }
  .column-positive-us-right .col-sm-4.col-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  .post-lbl {
    margin: 10px 0 0;
    width: 100%;
  }
  .acc-back-btn-wrp button {
    padding: 10px 15px;
    min-width: 108px;
  }
  .checkout-page .forgot-pass {
    font-size: 11px;
  }
  .btn-flex a {
    padding: 10px 14px !important;
    min-width: 113px;
  }
  .center-descrp {
    display: none;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 1;
  }
  .payment-method-form .radio-group label span {
    flex: 0 0 50%;
    padding-right: 0;
  }
  .payment-method-form .radio-group label .radio-right>* {
    padding-left: 5px;
  }
  .payment-method-form .radio-group label .radio-right b {
    font-size: 13px;
  }
  .payment-method-form .radio-group label .radio-right img {
    margin-left: 9px;
    max-width: 35px;
  }
}