/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/
@media (min-width: 768px) {
  .header-style-one .main-navigationbar .menu-items-col .main-nav {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .header-style-one .mobile-menu {
    display: none;
  }
  .desk-only {
    display: block !important;
  }
  .mobile-only {
    display: none !important;
  }
}
@media screen and (max-width:1700px) {
  .bestseller-section .product-card-inner .product-content-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .bestseller-section .product-content-bottom .price {
    display: block;
    width: 100%;
  }
  .main-content-games {
    display: none;
  }
}
@media screen and (max-width:1400px) {
  .header-style-one .menu-right li {
    margin-left: 10px;
  }
  .half-bluthooth-right {
    max-width: 319px;
  }
  .xl-text {
    font-size: 60px;
    Line-height: 52.07px;
  }
  .main-content-games-1 {
    display: none;
  }
  .about-img-1 {
    display: none;
  }
  .about-img {
    left: 18%;
  }
  .blog-blutooth {
    max-width: 70px;
  }
  .design-circle-1 {
    max-width: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1360px) {
  .blog-grid-section.tabs-wrapper .blog-itm-card {
    max-width: 33.33%;
    width: 100%;
  }
}
@media screen and (max-width:1200px) {
  .header-style-one .announcebar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .cat-tab li a {
    padding: 10px 15px;
  }
  .product-card-inner .product-number {
    gap: 6px;
  }
  .about-us-box {
    margin-bottom: 30px;
  }
  .about-us-section .about-us-box {
    margin-bottom: 0px;
  }
  .footer-col:not(:first-of-type) {
    padding-right: 28px;
  }
  .gaming-leftbar .section-title {
    margin-bottom: 40px;
  }
  .design-circle-4 {
    top: -43%;
  }
  .design-circle-5 {
    max-width: 600px;
  }
  .section-title-center p {
    max-width: 395px;
  }
  .about-us-section {
    padding-bottom: 40px;
  }
  .half-bluthooth-right {
    left: 0;
  }
  /*product page*/
  .product-main-section .product-thumb-slider .slick-arrow.slick-next {
    top: 66%;
  }
  .product-main-section .product-thumb-slider .slick-arrow.slick-prev {
    top: calc(60% + 50px);
  }
  .product-description-section span {
    font-size: 13px;
  }
  .design-circle-1 {
    right: 0;
  }
}
@media screen and (max-width:1199px) {
  .subscribe-content .section-title h2 {
    max-width: 100%;
  }
  .blog-col-left ul li a {
    padding: 10px 10px;
  }
  .cart-page-section .remove_item_from_cart {
    padding: 10px 15px;
  }
}
@media screen and (max-width:991px) {
  :root {
    --h1: normal 600 32px/1.2 var(--first-font);
    --h2: normal 600 28px/1.2 var(--first-font);
    --h3: normal 600 26px/1.2 var(--first-font);
    --h4: normal 600 22px/1.2 var(--first-font);
    --h5: normal 600 20px/1.2 var(--first-font);
    --h6: normal 600 18px/1.2 var(--first-font);
  }
  .logo-col.mobile-only {
    display: block !important;
  }
  .logo-col {
    display: none !important;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li:not(:last-of-type) {
    padding-left: 13px;
  }
  .header-style-one .main-navigationbar .menu-items-col .drop>a:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    left: -15px;
    top: 5px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li {
    padding: 15px 0;
  }
  .header-style-one .menu-right li a .icon-lable {
    margin-top: 6px;
    font-size: 11px;
  }
  .header-style-one .menu-right li:not(:last-of-type) {
    margin-left: 15px;
  }
  .header-style-one .menu-right li a svg {
    width: 18px;
    height: 18px;
  }
  .header-style-one .menu-right li.cart-header a svg {
    height: 20px;
    width: 20px;
  }
  .header-style-one .main-navigationbar .menu-items-col {
    padding: 15px 0px;
  }
  .announcebar .search-form-wrapper input {
    padding: 10px 50px 10px 20px;
  }
  .header-style-one .announcebar {
    padding: 9px 0;
  }
  .header-style-one .count {
    top: -5px;
    left: -9px;
    height: 13px;
    width: 13px;
  }
  .header-style-one .count-1 {
    left: -8px;
    height: 13px;
    width: 13px;
  }
  .site-header.head-sticky .main-navigationbar .menu-items-col {
    padding: 5px 0px;
  }
  .footer-subscribe-col {
    max-width: 260px;
    flex: 0 0 260px;
  }
  .social-icons li:not(:last-of-type) {
    margin-left: 6px;
  }
  .footer-subscribe-form input {
    padding: 13px 10px 13px 95px;
    font-size: 12px;
  }
  .footer-subscribe-form .btn {
    padding: 14px 15px;
  }
  .footer-widget h3 {
    max-width: 227px;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget-inner {
    padding: 25px 15px;
  }
  .blog-widget-inner.big-blog-widget {
    padding: 35px 15px 25px;
  }
  .blog-widget-inner p {
    margin: 12px 0;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 10px;
    font-size: 10px;
  }
  .blog-grid-row .blog-content-top h4 {
    font-weight: 600;
  }
  /********* BLOG PAGE CSS end  **********/
  /********** CART PAGE CSS starts **********/
  .cart-summery {
    margin-top: 30px;
  }
  .cart-summery .btn {
    max-width: 300px;
    margin-right: auto;
  }
  /********** CART PAGE CSS end **********/
  .submit-btn {
    max-width: 200px;
    margin: 20px 0 0;
  }
  .article-banner .blog-cat {
    margin: 20px 0;
  }
  .art-auther {
    margin-bottom: 15px;
  }
  .quote-box {
    padding: 15px 60px 25px 0;
  }
  .quote-box h3 {
    font-size: 15px;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
    margin-bottom: 26px;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-history-tbl tr td {
    padding: 15px 10px 15px;
  }
  .order-confirm-details .link {
    font-size: 13px;
  }
  .order-confirm-details {
    padding: 20px 12px;
  }
  .acc-back-btn-wrp button {
    padding: 10px 20px;
  }
  #tab-6 .order-confirmation-body {
    padding: 20px 10px;
  }
  #tab-6 .order-confirmation-body .order-history-tbl tr td {
    padding: 15px 4px 15px;
  }
  .ttl-pric {
    font-size: 16px;
  }
  .checkout-page-right {
    max-width: 300px;
    width: 100%;
  }
  .checkout-page-left {
    margin-bottom: 25px;
  }
  /** ORDER SUMMERY PAGE  start **/
  .order-summery-page .section-title p {
    font-size: 15px;
    margin: 0;
  }
  /** ORDER SUMMERY PAGE end  **/
  /**** HOME PAGE CSS START ****/
  .half-bluthooth-right {
    max-width: 275px;
  }
  .half-bluthooth-left {
    max-width: 110px;
  }
  .xl-text {
    font-size: 40px;
    Line-height: 39.07px;
    max-width: 339px;
  }
  .round-img-small {
    display: none;
  }
  .full-bluthooth {
    max-width: 86px;
    top: 31%;
  }
  .add-cart-btn {
    padding: 6px 16px;
  }
  .product-center-slider .slick-center .product-card-inner,
  .product-center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .product-card-inner {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
  }
  .slick-dots {
    padding-top: 30px;
  }
  .product-center-slider .slick-list {
    padding: 10px 7% 0px !important;
  }
  .subscribe-section .search-form-wrapper .btn {
    padding: 14px 20px;
  }
  .site-header.head-sticky:before {
    bottom: 19px;
    right: 0;
  }
  .common-arrows .slick-arrow {
    width: 27px;
    height: 27px;
  }
  .common-arrows .slide-arrow svg {
    height: 10px;
    width: 12px;
  }
  .section-title-center {
    display: none;
  }
  .right-column-img {
    display: none;
  }
  .second-left-img {
    display: none;
  }
  .full-width-row {
    flex-direction: row-reverse;
  }
  .section-title-left h2,
  .subscribe-content .section-title h2,
  .bestseller-section .section-title h2,
  .footer-widget h3,
  .blog-product-content .product-title,
  .home-blog-section .section-title-left h2 {
    max-width: 100%;
  }
  .full-width-second-section .product-card-inner {
    padding: 15px;
  }
  .gaming-categories-section {
    background: transparent;
    padding-top: 70px;
  }
  .gaming-leftbar .section-title h2 {
    color: var(--black);
  }
  .gaming-categories-section .product-card-inner h4 {
    color: var(--black);
  }
  .subscribe-section input {
    padding: 14px 15px 13px 115px;
  }
  .full-width-section .product-card-inner {
    padding: 15px;
  }
  .about-us-section .row {
    margin: 0 -8px;
  }
  .about-us-section .row [class*="col-"] {
    padding: 0 8px;
  }
  .blog-blutooth {
    max-width: 44px;
  }
  .product-main-section .product-item-img {
    padding-top: 130%;
  }
  .full-container {
    padding: 0 15px;
  }
  .pro-tab-center {
    padding: 0 0 0 15px;
  }
  /**** HOME PAGE CSS ENDS ****/
  /**** product page  ****/
  .product-main-section .product-item-img {
    padding-top: 130%;
  }
  .pro-descrip-right .information {
    margin-bottom: 15px;
  }
  .pro-tab-left {
    display: none;
  }
  .product-main-section .product-thumb-slider .slick-arrow.slick-next {
    top: 75%;
  }
  .product-main-section .product-thumb-slider .slick-arrow.slick-prev {
    top: calc(70% + 50px);
  }
  .gaming-categories-section .heart svg path {
    fill: var(--black);
  }
  .product-card-inner .product-number li {
    font-size: 12px;
    line-height: 1;
  }
  .testi-pro-info {
    width: 100%;
    margin-bottom: 10px;
  }
  .testimonials-section .testimonial-itm-inner .testimonial-itm-image {
    max-width: 120px;
    /* padding-left: 10px; */
  }
  /* ************** 24-7-2023 **************** */
  .register-page .submit-btn {
    max-width: 100%;
  }
  .gaming-categories-section .shop-protab-slider .product-card .wishlist .ti-heart {
    color: var(--black) !important;
  }
  .gaming-categories-section .shop-protab-slider .product-card .product-card-inner h3 {
    color: var(--black)
  }
  .header-style-one .main-navigationbar .logo-col {
    max-width: 100px;
    margin-left: 15px;
  }
  .home-banner-section::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #00000073;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
  }
  .home-banner-section .row {
    position: relative;
    z-index: 1;
  }
  .announcebar .annoucebar-left a {
    font-size: 12px;
  }
  .gaming-categories-section .product-card-inner .product-content-bottom,
  .home-product-extra .product-card-inner .product-content-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .shop-protab-slider .product-content-bottom .price,
  .home-product-extra .product-card-inner .product-content-bottom .price {
    margin-bottom: 10px;
  }
  .testimonials-section .testimonial-itm-inner .testimonial-itm-content {
    max-width: calc(100% - 120px);
  }
  .blog-labl {
    padding: 2px 5px;
  }
  .filter-title div.filter-ic {
    max-width: 40px;
    border: 1px solid var(--theme-color);
    padding: 2px;
    display: block !important;
  }
  .product-filter-column {
    position: fixed;
    top: 0;
    background: var(--white);
    right: 0;
    max-width: 315px;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(-100%, 0px);
    transform: translate(100%, 0px);
  }
  .product-filter-body {
    padding: 40px 15px;
    overflow: auto;
    height: 100%;
    background: var(--white);
  }
  .product-listing-section .close-filter {
    position: fixed;
    top: 0;
    background: var(--second-color);
    height: 30px;
    width: 30px;
    padding: 7px;
    left: 0;
    display: block !important;
    cursor: pointer;
  }
  .close-filter svg {
    height: 100%;
    width: 100%;
  }
  .close-filter svg path {
    fill: var(--white);
  }
  .filter-open .product-filter-column {
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    padding: 0;
  }
  .product-heading-right-column {
    border-right: 0;
  }
  .filter-title h3 {
    display: none;
  }
  .select-col p {
    font-size: 12px;
  }
  .text-checkbox .checkbox input[type=checkbox]+.checkbox-label {
    padding: 10px 10px;
  }
  .cart-summery .btn {
    margin: 20px auto 0;
  }
  .cart-page-section {
    padding-top: 40px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li>a,
  .cart-header a .icon-label {
    font-size: 12px;
  }
  .header-style-one .main-navigationbar .menu-items-col .main-nav>li.has-item>a:after {
    top: 4px;
  }
  .menu-right .profile-menu{
    max-width: 170px;
    width: 100%;
  }
  .menu-right .cart-header .icon-label{
    display: none;
  }
  .header-style-one .menu-right li a svg{
    max-width: unset;
  }
}
@media screen and (max-width:767px) {
  .design-circle-1 {
    display: none;
  }
  .header-style-one .announcebar {
    display: none;
  }
  .header-style-one .menu-right li:not(:last-of-type) {
    margin-left: 10px;
  }
  .header-style-one .menu-right li.cart-header {
    padding: 0;
    background: transparent;
    margin-right: 17px;
    margin-right: 15px;
  }
  .header-style-one .menu-right li a svg,
  .header-style-one .menu-right li.cart-header a svg {
    height: 20px;
    width: 20px;
  }
  .header-style-one .mobile-menu {
    margin: 0 15px 0 0;
  }
  .cart-header a .icon-label {
    display: none !important;
  }
  .header-style-one .menu-right li:not(:last-of-type) {
    margin-left: 0px;
    margin-right: 10px;
  }
  .header-style-one .count-1 {
    top: -4px;
  }
  .header-style-one .main-navigationbar::before {
    content: '';
    background: linear-gradient(to right, #0098FF 50%, #7C34C8);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  /** MINI CART **/
  .cartDrawer {
    width: 100%;
  }
  .cartDrawer .mini-cart-body {
    padding: 15px;
  }
  .cartDrawer .mini-cart-header {
    padding: 16px 50px 16px 20px;
  }
  .mini-cart-footer .checkout-btn {
    padding: 12px 11px;
  }
  .cartDrawer .mini-cart-footer {
    padding: 15px;
  }
  .mini-cart-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .cartDrawer .mini-cart-footer-total-row {
    font-size: 18px;
    line-height: 18px;
    margin: 0 -10px 12px;
  }
  .cartDrawer .closecart {
    right: 19px;
    width: 15px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .cartDrawer .closecart svg path {
    fill: var(--white);
  }
  .mini-cart-footer .u-save {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .search-popup {
    padding: 0 15px;
  }
  .search-popup .close-search {
    left: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
  }
  .policy-links {
    justify-content: flex-start;
    margin-top: 16px;
  }
  .footer-col:not(:last-of-type) {
    padding: 0;
  }
  .footer-subscribe-col,
  .footer-col {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .site-footer {
    padding: 40px 0px 40px;
  }
  .site-header.head-sticky .main-navigationbar .menu-items-col {
    padding: 15px 0px;
  }
  .footer-col:not(:first-of-type) {
    padding: 0;
  }
  .footer-bottom {
    padding-top: 0;
  }
  .emaillink.contactlink {
    margin: 0;
  }
  .slick-arrow {
    width: 36px;
    height: 36px;
  }
  .slick-slider .slick-arrow {
    opacity: 1;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  .padding-top {
    padding-top: 40px;
  }
  .product-page .home-product-extra,
  .product-list .home-product-extra{
    padding-bottom: 40px;
  }
  /********* BLOG PAGE CSS start  **********/
  .blog-widget {
    flex: 0 0 100%;
  }
  .blog-widget-inner {
    margin-bottom: 15px;
  }
  /********* BLOG PAGE CSS end  **********/
  .product-heading-right-column {
    border-right: 0;
  }
  .produdt-filter-cat {
    display: none;
  }
  .product-heading-row .row {
    padding: 30px 0 30px 0;
  }
  .product-sorting-row {
    justify-content: flex-end;
  }
  .product-filter-right-column {
    border-right: 0;
  }
  .icon-filter {
    max-width: 32px;
    margin: 0 auto;
  }
  .filter-title .filter-ic {
    max-width: 40px;
    border: 1px solid var(--second-color);
    padding: 2px;
    display: block;
  }
  .filter-title h4 {
    display: none;
  }
  .abt-shp-column-right,
  .about-our-shop-section .row {
    margin-top: 30px;
  }
  .contact-right-column {
    margin-top: 0;
  }
  .contact-right-inner h2 {
    color: var(--second-color);
  }
  .blog-col-right .nice-select {
    flex: 0 0 120px;
  }
  .blog-col-right {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .blog-col-left ul {
    flex-direction: column;
    align-items: center;
  }
  .blog-head-row {
    border: 0;
  }
  .articlerightbar {
    padding-top: 40px;
  }
  .aticleleftbar h5 {
    margin: 0 0 20px 0;
    line-height: 1.3;
  }
  .articlerightbar .blog-grid .blog-widget:last-of-type {
    margin-bottom: 0;
  }
  .latest-article-slider-section .section-title {
    padding-top: 40px;
  }
  .post-lbl {
    margin: 0px 15px 0 0;
    font-size: 14px;
  }
  .article-section .abt-user-img {
    margin-left: 15px;
  }
  .aticleleftbar p {
    margin-bottom: 15px;
  }
  .quote-box svg {
    height: 20px;
    width: 20px;
  }
  .quote-box {
    padding: 15px 35px 25px 0;
  }
  .order-summery-page .section-title p {
    font-size: 14px;
  }
  .order-summery-page .section-title h2 {
    margin-bottom: 30px;
  }
  .register-page .section-title {
    margin-bottom: 30px;
  }
  .our-blog-section .section-title,
  .my-acc-head {
    margin-bottom: 26px;
  }
  .my-acc-rightbar {
    margin-top: 40px;
  }
  #scroll {
    background: var(--white);
    top: 53px;
    padding: 0;
  }
  #account-nav {
    display: flex;
    justify-content: space-between;
  }
  #account-nav li a svg path {
    fill: var(--white);
  }
  #account-nav li a svg {
    margin-left: 0;
    height: 15px;
    width: 15px;
  }
  #account-nav li a span {
    display: none;
  }
  #account-nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-acc-leftbar li:not(:last-of-type) {
    border-bottom: 0;
  }
  .my-acc-leftbar h4 {
    padding: 15px 15px;
    color: var(--white);
    background: var(--theme-color);
  }
  .my-acc-leftbar {
    border: 0 !important;
  }
  #account-nav li a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 40px;
    justify-content: center;
    background: var(--theme-color);
  }
  .order-history-tbl tr th:nth-child(5),
  .order-history-tbl tr td:nth-child(5) {
    text-align: center;
  }
  .my-acc-right-content {
    padding-bottom: 30px;
  }
  #tab-6 .order-history-tbl tr th:nth-child(6),
  #tab-6 .order-history-tbl tr td:nth-child(6) {
    text-align: center;
  }
  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }
  .order-payment-box {
    max-width: 100%;
    margin: 15px auto 0 0;
  }
  .checkout-page .order-confirmation-body .row .col-12:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .checkout-page-left .login-form {
    margin-top: 30px;
  }
  .checkout-page .checkbox-custom {
    margin-top: 0;
  }
  .set {
    margin-bottom: 12px;
  }
  .checkout-page .set .acnav-list {
    padding: 20px 15px;
  }
  .order-history-tbl tr td[data-label="quantity"] {
    padding: 10px;
  }
  .form-container,
  .order-confirmation-body {
    padding: 20px 15px;
  }
  .offset-container {
    padding: 0 15px;
  }
  /** CART PAGE CSS start**/
  .coupon-text {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .coupon-table {
    margin: 20px 0 0;
  }
  .cart-tble {
    border: 1px solid var(--border-color);
  }
  .cart-page-section .section-title {
    margin-bottom: 30px;
  }
  table .pro-img-cart img {
    max-width: 50px;
  }
  /** CART PAGE CSS end **/
  /****  COMMON BANNER SECTION CSS ****/
  .common-banner-section {
    padding: 40px 0;
  }
  .common-banner-content .section-title h2 span {
    font-size: 12px;
  }
  /*** FAQ PAGE CSS ****/
  .faq-page {
    padding-bottom: 0;
  }
  /*** FAQ PAGE CSS end****/
  /*** ABOUT PAGE CSS ****/
  .aboutpage-btm-sec .about-us-boxs {
    margin-bottom: 20px;
  }
  /*** ABOUT PAGE CSS end****/
  /**** HOME PAGE CSS STARTS ****/
  .home-banner-content-inner .btn-secondary {
    margin-top: 15px;
  }
  .home-banner-content {
    padding: 50px 15px;
  }
  .home-banner-section {
    padding: 130px 0px 70px 0px;
  }
  .round-img-big {
    top: 48%;
  }
  .full-bluthooth {
    display: none;
  }
  .round-img-big {
    display: none;
  }
  .gaming-leftbar .section-title {
    margin-bottom: 30px;
  }
  .gaming-leftbar .section-title h2 {
    max-width: 100%;
    text-align: center;
  }
  .cat-tab li {
    text-align: center;
  }
  .gaming-leftbar {
    margin-bottom: 30px;
  }
  .product-card-inner h4,
  .gaming-categories-section .product-card-inner h4 {
    max-width: 100%;
  }
  .fifth-sec {
    flex-direction: column-reverse;
  }
  .subscribe-part-img {
    margin-bottom: 30px;
  }
  .gaming-products-1 {
    top: -4%;
    right: 8%;
    max-width: 43px;
  }
  .gaming-products-2 {
    top: -4%;
    max-width: 34px;
  }
  .header-style-one .main-navigationbar {
    background: rgba(0, 0, 0, 1);
  }
  .product-center-slider .slick-slide,
  .product-center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    padding: 0 10px;
  }
  .gaming-categories-section {
    padding-top: 40px;
  }
  .full-width-second-section {
    padding: 40px 0px 40px 0px;
  }
  .about-us-section {
    padding-bottom: 40px;
  }
  .home-blog-section {
    padding-bottom: 35px;
  }
  /**** HOME PAGE CSS ENDS ****/
  /**** product page ****/
  .product-main-section {
    padding: 90px 0px 40px 0px;
  }
  .product-main-section .product-item-img {
    padding-top: 100%;
  }
  .product-left-inner {
    margin-top: 40px;
    max-width: 100%;
  }
  .product-main-section .product-thumb-slider {
    margin-top: 20%;
  }
  .product-main-section .section-title-inner {
    margin-bottom: 25px;
  }
  .product-description-section h3 {
    margin-bottom: 20px;
  }
  .pro-descrip-left {
    text-align: center;
    margin: 0 auto 30px;
  }
  .product-tab li {
    max-width: 100%;
  }
  .pro-tab-center {
    margin-bottom: 15px;
    padding: 0 10px;
  }
  .product-content-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-content-center li {
    width: calc(50% - 15px);
  }
  .product-main-section .row [class*="col-"]:nth-child(1) {
    order: 2;
  }
  .product-main-section .row [class*="col-"]:nth-child(2) {
    order: 1;
  }
  .product-tab-img img {
    margin: 0 auto;
  }
  .pro-descrip-right {
    text-align: center;
  }
  .pro-descrip-right ul.row {
    max-width: 300px;
    margin: 0 auto;
  }
  img.design-circle-4 {
    display: none;
  }
  .cat-tab li a {
    width: 100%;
    max-width: 300px;
  }
  .blog-head-row .blog-col-right {
    max-width: 100% !important;
  }
  .register-page .submit-btn {
    margin: 15px auto 0;
  }
  .wishOpen .wishDrawer {
    width: 100%;
  }
  .wishDrawer .mini-wish-header {
    padding: 16px 50px 16px 20px !important;
  }
  .wishOpen .wishDrawer .closewish {
    right: 19px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .wishDrawer .mini-wish-body {
    padding: 30px 15px;
  }
  .delete_wishlist {
    margin-right: 30px;
  }
  /* *****************24-7-2023 ********************/
  .subscribe-section .subscribe-part-img img {
    margin-right: 0;
    width: 100%;
  }
  .about-us-section .about-us-box {
    margin-bottom: 20px;
  }
  .footer-widget h2.footer-subscribe-col {
    max-width: 100%;
  }
  .full-width-section .full-width-card .product-card-inner .product-content-bottom,
  .full-width-second-section .second-full-width-card .product-card-inner .product-content-bottom {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  .contact-form {
    padding: 20px 15px;
  }
  .aboutpage-btm-sec.section-title p {
    max-width: 100%;
  }
  .faqs-container.row {
    margin-bottom: 40px;
  }
  .blog-grid-section .section-title {
    text-align: center;
  }
  .article-section .blog-grid-section .section-title {
    text-align: right;
  }
  nav.dataTable-pagination {
    margin-bottom: 15px;
  }
  .my-account-page .delete_wishlist {
    margin-right: 0px;
  }
  table tr td::before {
    font-weight: 700;
  }
  .payment-method-form .radio-group label .radio-right img {
    margin-right: 15px;
    max-width: 30%;
  }
  .about-shop-div .row {
    margin-top: 30px;
  }
  .about-bottom-div p {
    max-width: 100%;
  }
  .cart_color {
    display: none;
  }
  .wishDrawer .closewish {
    right: 5px;
  }
  .gaming-leftbar .cat-tab {
    flex-direction: unset;
    gap: 10px;
    margin-bottom: 20px;
  }
  .cat-tab li a {
    width: auto;
  }
  .btn {
    padding: 10px 20px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .checkout-page .login-form{
    margin-top:20px;
}
}
@media screen and (max-width: 575px) {
  .footer-col {
    flex: 0 0 100%;
  }
  .checkout-page .payment-method-form .checkbox-custom {
    margin: 0 0 15px 15px;
    width: 100%;
  }
  .section-title.d-flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .bestseller-section .section-title .btn-transparent {
    margin-left: 0;
  }
  .section-title-left {
    width: 100%;
  }
  .payment-method-form .radio-group label .radio-right>* {
    text-align: left;
  }
  .blog-cat li:not(:last-of-type) {
    margin-left: 10px;
  }
  .blog-cat li a {
    padding: 10px 11px;
    font-size: 10px;
  }
  .reg-lbl {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }
  .login-form .submit-btn {
    max-width: 170px;
    margin: 15px 0 0 0;
  }
  .mobile-direction-column {
    flex-direction: column;
  }
  .order-confirm-details {
    margin-bottom: 20px;
  }
  .dated {
    width: 100%;
    margin-top: 12px;
  }
  .order-paymentcol {
    max-width: 100%;
    text-align: center;
  }
  .order-paymentcol:nth-child(2) {
    max-width: 100%;
  }
  .order-paycol-inner img {
    margin: 0 auto;
  }
  .order-confirmation-body .col-sm-6:last-child .order-confirm-details {
    margin: 0;
  }
  .checkout-page .order-confirmation-body .row .col-12 .order-confirm-details {
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 14px;
  }
  .two-coll-media .tool-content {
    display: none;
  }
  /** CART PAAGE CSS start **/
  .coupon-text {
    flex-wrap: wrap;
  }
  .coupon-text p {
    width: 100%;
    font-size: 14px;
    padding: 10px 0 0;
  }
  .coupon-code {
    flex-wrap: wrap;
  }
  .coupon-code-text {
    width: 100%;
    margin-bottom: 15px;
  }
  /** CART PAAGE CSS end **/
  /********* BLOG PAGE CSS start  **********/
  .blog-cat li {
    padding: 10px 8px;
    font-size: 14px;
  }
  .blog-widget-inner h3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .blog-widget-inner p {
    margin: 12px 0 15px;
  }
  .blog-grid-section .blog-cat li {
    padding: 10px 5px;
  }
  /* .blog-cat {
      margin-bottom: 14px;
    } */
  .blog-page-banner .common-banner-content p,
  .blog-page-banner .section-title {
    margin-bottom: 26px;
  }
  .aboutpage-btm-sec .section-title {
    margin: 0 auto 35px;
  }
  /********* BLOG PAGE CSS end  **********/
  .input-wrapper input {
    padding: 14.5px 15px 14.5px 100px;
    font-size: 12px;
  }
  .input-wrapper .btn-subscibe {
    width: 95px;
    font-size: 12px;
  }
  .articlerightbar .blog-cat li {
    padding: 10px 5px;
  }
  .price-btn ins {
    font-size: 12px;
  }
  .produdt-filter-cat {
    display: none;
  }
  /**** HOME PAGE CSS STARTS ****/
  .half-bluthooth-right {
    max-width: 210px;
    opacity: .8;
  }
  .main-content-games {
    display: none;
  }
  .half-bluthooth-left {
    max-width: 85px;
    opacity: .8;
  }
  .home-banner-section .home-banner-contain .banner-tagline {
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
  }
  .btn-label {
    font-size: 14px;
  }
  .btn-primary {
    padding: 10px 14px;
    font-size: 14px;
  }
  .add-cart-btn {
    padding: 8px 20px;
  }
  .btn-transparent {
    padding: 10px 14px;
    font-size: 14px;
  }
  .design-circle-3 {
    display: none;
  }
  .full-width-section .section-title-left h2 {
    max-width: 100%;
  }
  .left-column-img img {
    width: 100%;
    margin-bottom: 30px;
  }
  .heart svg path {
    fill: var(--black);
  }
  .full-width-section {
    padding: 40px 0px;
  }
  .full-width-section .product-card-inner {
    border: 0;
    padding: 15px;
  }
  .gaming-products-2 {
    top: -2%;
  }
  .gaming-products-1 {
    top: -2%;
  }
  .about-img {
    left: 49%;
    max-width: 40px;
  }
  .full-width-second-section {
    padding: 40px 0px;
    position: relative;
  }
  .testimonials-section .testimonial-itm-inner .testimonial-itm-content {
    max-width: 100%;
  }
  .testimonials-section .testimonial-itm-inner .testimonial-itm-image {
    margin: 0 auto 10px;
  }
  .xl-text {
    font-size: 36px;
    Line-height: 39.07px;
    max-width: 339px;
    margin-bottom: 20px;
  }
  .full-width-section {
    padding: 35px 0px;
  }
  .full-width-second-section {
    padding: 35px 0px;
  }
  .about-us-section {
    padding-bottom: 40px;
  }
  .site-footer {
    padding: 35px 0px 35px;
  }
  .home-banner-section {
    padding: 110px 0px 10px 0px;
  }
  .full-width-second-section .second-right-img {
    margin-bottom: 20px;
  }
  .blog-ring {
    position: absolute;
    z-index: 1;
    max-width: 40px;
  }
  .about-us-box p {
    font-size: 14px;
  }
  .bestseller-section {
    padding-top: 40px;
  }
  .client-logo-section {
    padding-top: 40px;
    border-top: 1px solid var(--blue);
  }
  /**** HOME PAGE CSS ENDs ****/
  /*product page*/
  .product-main-section .slider-wrapper {
    flex-direction: column-reverse;
  }
  .product-main-section .product-thumb-slider {
    display: none;
  }
  .product-main-section .product-thumb-item {
    margin-left: 10px;
  }
  .product-main-section .slick-initialized .slick-slide {
    padding: 0;
  }
  .product-main-section .product-main-slider {
    padding-right: 0;
    max-width: 100%;
  }
  .product-main-section .product-thumb-slider .slick-arrow.slick-prev {
    display: none;
  }
  .product-main-section .product-thumb-slider .slick-arrow.slick-next {
    display: none !important;
  }
  .product-content-center li {
    width: 100%;
  }
  .home-banner-section .home-banner-contain .banner-tagline {
    max-width: 100%;
  }
  .full-width-section .btn-transparent,
  .home-blog-section .btn-transparent {
    margin-left: 0px;
  }
  .full-width-second-section {
    padding: 40px 0px;
  }
  .about-us-section {
    padding-bottom: 20px;
  }
  .blog-blutooth {
    bottom: -3%;
  }
  .tagline-row {
    flex-wrap: wrap;
    gap: 10px;
  }
  .tagline-row .btn-label {
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .testimonials-section .testimonial-itm-inner .testimonial-itm-content {
    padding: 0;
  }
  .testimonials-section .testimonial-itm-inner {
    padding: 15px;
  }
  .contact-left-inner ul li {
    margin-bottom: 25px;
  }
  .post-lbl {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }
  .payment-method-form .radio-group label span,
  .payment-method-form .radio-group label .center-descrp {
    font-size: 12px !important;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 0 0 38%;
  }
  .full-width-card,
  .second-full-width-card {
    padding: 0 0px;
  }
  .modal-body {
    padding: 15px;
  }
  .gaming-leftbar .section-title {
    margin-bottom: 20px;
  }
  .footer-widget h2 {
    margin-bottom: 13px;
  }
  .slick-dots{
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu-close-icon svg{
    height: 20px;
    width: 20px;
}
.header-style-one .main-navigationbar .logo-col{
  max-width: 80px;
  margin-left: 0px;
}
.header-style-one .mobile-menu {
  margin: 0 10px 0 0;
}
.header-style-one .main-navigationbar .menu-items-col .profile-menu{
  display: none;
}
.tab-vid-section .tabs-wrapper {
  padding: 10px;
}
.product-heading-row .nice-select{
  width: 120px;
}
.pct-customizer .pct-c-btn .btn{
  padding: 12px !important;
}
.cartDrawer .mini-cart-item:not(:last-of-type) ,
.mini-wish-item:not(:last-of-type){
    margin-bottom: 15px !important;
}
.flipdown .rotor-group {
  padding: 12px;
  height: 65px;
  width: 65px;
}
.flipdown .rotor-group-heading:before {
  line-height: 18px;
  font-size: 10px;
  
}
.product-left-inner .price {
  font-size: 18px;
}
.tab-vid-section .tab-link a {
  font-size: 15px;
  padding: 7px 7px;
}
}
@media screen and (max-width: 420px) {
  .order-paymentcol {
   max-width: 100%;
 }
}
@media screen and (max-width: 370px) {
  .post-lbl {
    margin: 10px 0 0;
    width: 100%;
  }
  .acc-back-btn-wrp button {
    padding: 10px 15px;
    min-width: 108px;
  }
  .checkout-page .forgot-pass {
    font-size: 11px;
  }
  .form-control,
  input:not([type="submit"]),
  input:not([type="checkbox"]),
  input:not([type="radio"]),
  select,
  textarea {
    padding: 12px 15px;
    font-size: 14px;
  }
  .footer-subscribe-form input {
    padding: 13px 20px 13px 94px;
  }
  .qty-spinners input {
    padding: 0;
  }
  .btn-flex a {
    padding: 10px 14px !important;
    min-width: 113px;
  }
  .center-descrp {
    display: none;
  }
  .payment-method-form .radio-group label .radio-right {
    flex: 1;
  }
  .payment-method-form .radio-group label span {
    flex: 0 0 50%;
    padding-left: 0;
  }
  .payment-method-form .radio-group label .radio-right>* {
    padding-right: 5px;
  }
  .payment-method-form .radio-group label .radio-right b {
    font-size: 13px;
  }
  .payment-method-form .radio-group label .radio-right img {
    margin-right: 9px;
    max-width: 35px;
  }
  /**** HOME PAGE CSS STARTS ****/
  .xl-text {
    font-size: 32px;
    Line-height: 34.07px;
  }
  .btn-label {
    font-size: 14px;
    margin-left: 5px;
    padding: 4px 8px;
  }
  .btn-primary {
    padding: 8px 13px;
  }
  .btn-transparent {
    padding: 8px 13px;
  }
  .full-bluthooth {
    display: none;
  }
  .home-blog-section .section-title-left h2,
  .bestseller-section .section-title h2 {
    max-width: 100%;
  }
  .search-form-wrapper form {
    width: 100%;
  }
  .half-bluthooth-right {
    left: 0;
  }
  .gaming-leftbar .section-title h2 {
    text-align: start;
  }
  .pro-img {
    margin-left: 10px;
  }
  .testimonial-content-bottom .testi-star img {
    margin-left: 10px;
    max-width: 60px;
  }
  .pro-star img {
    margin-left: 5px;
  }
  .pro-star {
    display: none;
  }
  /**** HOME PAGE CSS ENDS ****/
  /*** product page ***/
  .pro-star img {
    margin-left: 5px;
  }
   /*** product page end***/
  /* ************* 24-7-2023 *************** */
  .Delivery_Method .payment-method-form .radio-group label {
    flex-direction: column;
  }
}